{% if field.value %}
    {% for a in field.value %}
        <ul>
            <li>
                Industry: {{ a.industry }}
            </li>
            <li>
                Years of Experience: {{ a.yearsOfExperience }}
            </li>
            <li>
                Years of Training: {{ a.yearsOfTraining }}
            </li>
        </ul>
    {% endfor %}
{% endif %}