{% block icon_type_widget %}
    {% set object = form.parent.vars.value %}
    {% set filename = object ? object.filename : '' %}
    {% if filename %}
        {% if is_admin == true %}
            <a href="#" data-toggle="modal" data-target="#imagemodal" img-data="true" class="icon-type-widget">
                <input type="hidden" value="{{ object.fileOriginalName }}">

                <img class="uploadedImg" height="25" width="25" src="{{ object.downloadLink }}">
            </a>
            <a class="iconRemove"
               href="{{ path('remove_image', {'filename' : filename, 'object' : object.className  }) }}">
                <span class="glyphicon glyphicon-remove">×</span></a>
        {% else %}
            <div class="uploadedFile">
                <a class="iconRemove"
                   href="{{ path('remove_image', {'filename' : filename, 'object' : object.className  }) }}">
                    <span class="glyphicon glyphicon-remove">×</span></a>
                <img class="uploadedImg" height="38" width="38" src="{{ object.downloadLink }}">
            </div>
        {% endif %}
    {% else %}

        <label class="InputFileLabel">
            {{ form_widget(form) }}
        </label>

    {% endif %}

{% endblock icon_type_widget %}

{#{% block image_type_widget %}#}

{#    {{ form_widget(form.file) }}#}
{#todo: save url /galleries/files #}
{#    <div class="d-none">#}
{#        {% for key, chiled in form.children %}#}

{#            {% if key != 'file' %}#}
{#                {{ form_label(chiled) }}#}
{#                {{ form_errors(chiled) }}#}
{#                {{ form_widget(chiled) }}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}


{#{% endblock %}#}

    {% block a2lix_translations_widget %}
        {{ form_errors(form) }}
            <div class="a2lix_translations">
                <ul class="a2lix_translationsLocales nav nav-tabs" role="tablist">
                    {% for translationsFields in form %}
                        {% set locale = translationsFields.vars.name %}

                        <li class="nav-item">
                            <a href="#{{ translationsFields.vars.id }}_a2lix_translations-fields"
                               class="nav-link {% if app.request.locale == locale %}active{% endif %}" data-toggle="tab"
                               role="tab">
                                {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                                {% if form.vars.default_locale == locale %}{{ '[Default]'|trans }}{% endif %}
                                {% if translationsFields.vars.required %}*{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="a2lix_translationsFields tab-content">
                    {% for translationsFields in form %}
                        {% set locale = translationsFields.vars.name %}

                        <div id="{{ translationsFields.vars.id }}_a2lix_translations-fields"
                             class="tab-pane {% if app.request.locale == locale %}show active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}"
                             role="tabpanel">
                            {{ form_errors(translationsFields) }}
                            {{ form_widget(translationsFields) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
