{% set minPage = thisPage - 2 > 0 ? thisPage - 2 : 1 %}
{% set maxPage = thisPage + 2 > maxPages ? maxPages : thisPage + 2 %}

<ul class="pagination justify-content-center ">
    <li {{ thisPage == 1 ? 'class="page-item disabled"' : 'class="page-item"' }}>
        <a class="page-link"
           href="{{ path('sub-menu', {'slug': subMenus.mainMenu.slug, 'subSlug' : subMenus.slug, page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>

    {% for i in minPage..maxPage %}
        <li {{ thisPage == i ? 'class="page-item active"' : 'class="page-item"' }}>
            <a class="page-link"
               href="{{ path('sub-menu', {'slug': subMenus.mainMenu.slug, 'subSlug' : subMenus.slug, page: i}) }}">{{ i }}</a>
        </li>
    {% endfor %}

    <li {{ thisPage == maxPages ? 'class="page-item disabled"' : 'class="page-item"' }}>
        <a class="page-link"
           href="{{ path('sub-menu', {'slug': subMenus.mainMenu.slug, 'subSlug' : subMenus.slug, page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
    </li>
</ul>