//@import "";
$border-radius: 4px;
$primaryColor1: #e7792c;
$primaryColor2: #d93d2c;
$bodyBackground: #fafafa;
$mainBackground: #edf2f7;
$white: #fff;

$box-shadow: 0 7px 14px 0 rgba(59, 64, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
$modalShadow: 0 2px 3px rgba(0, 0, 0, 0.125);
$modalBackground: rgba(0, 0, 0, 0.61);
$buttonShadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
$checkboxBorder: #bcc3cc;

$inputShadow: 0 0 0 1px rgba(43, 45, 80, .16), 0 0 0 1px rgba(6, 122, 184, 0), 0 0 0 2px rgba(6, 122, 184, 0), 0 1px 1px rgba(0, 0, 0, .08);
$checkboxShadow: inset 0 1px 3px 0 rgba(0, 0, 0, .18);

$input1: '.field-checkbox .form-check-input';
$input2: '.nullable-control label input';
$filter: '.filter-heading input';

$modalBorder: #f4f4f4;

$maxWidth: 350px;

@mixin transition($time, $property) {
  -webkit-transition: #{$time}s #{$property};
  -moz-transition: #{$time}s #{$property};
  //-ms-transition: #{$time}s #{$property};
  -o-transition: #{$time}s #{$property};
  transition: #{$time}s #{$property};
}

@mixin borderRadius($radius) {
  -webkit-border-radius: #{$radius}px;
  -moz-border-radius: #{$radius}px;
  border-radius: #{$radius}px;
}

%input {
  position: absolute;
  display: none;
}

.favicon + .articleEditImageUploadDiv {
  img {
    pointer-events: none;
  }
}

%afterBefore {
  content: '';
  position: absolute;
  background-color: $white;
  border: 1px solid $checkboxBorder;
  width: 16px;
  height: 16px;
  -webkit-box-shadow: $checkboxShadow;
  -moz-box-shadow: $checkboxShadow;
  box-shadow: $checkboxShadow;
  @include borderRadius(4);
  left: 0;
  top: 0;
}

%afterBeforeActive {
  background-color: $primaryColor1;
  border-color: $primaryColor1;
  background-image: url('../../img/check.png');
  -webkit-background-size: 10px;
  background-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.iconRemove {
  display: inline-block;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}

.notif {
  display: flex;
  align-items: center;
  position: relative;

  .notIcon {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    position: relative;

    &.newNot::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      right: -2px;
      top: -2px;
      background-color: $primaryColor2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .notificationPanel {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    will-change: transform;
    width: 200px;
    background-color: #fff;
    z-index: 1060;
    max-width: 276px;
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .8125rem;
    word-wrap: break-word;
    background-clip: padding-box;
    border: 1px solid #e3e7ee;
    border-radius: .3rem;
    display: none;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        padding: 10px 5px 10px 15px;

        a {
          color: #4c5367;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid #e3e7ee;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-color: transparent;
      border-style: solid;
      bottom: 100%;
      border-width: 0 .5rem .5rem;
      border-bottom-color: #fff;
      right: 42px;
    }
  }
}

.main-header {
  padding: 12px;
  background-color: $mainBackground;
  align-items: center;

  @include borderRadius(4);
}

.main-sidebar {
  background-color: $mainBackground;
  padding: 15px;
  @include borderRadius(4);
}

@media (min-width: 1024px) {
  .main-sidebar {
    width: var(--sidebar-max-width);
  }
  .ea-sidebar-width-compact {
    .main-sidebar {
      padding: 2px;
      background: none;
    }
  }
}

/* checkbox */

#{$input1}, #{$input2} {
  @extend %input;
}

#{$input1} {
  & + label {
    position: relative;
    padding-left: 20px;

    &::after {
      @extend %afterBefore;
    }
  }

  &:checked + label {
    &::after {
      @extend %afterBeforeActive;
    }
  }
}

/* checkbox */

.nullable-control label {
  position: relative;
  padding-left: 20px;

  &::after {
    @extend %afterBefore;
  }

  &.active {
    &::after {
      @extend %afterBeforeActive;
    }
  }
}

.pagination {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;

  li {
    &:first-of-type {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-left: 10px;
    }
  }
}


.modal-body {
  .error {
    p {
      margin-bottom: 3px;
      text-align: center;
      padding: 5px;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 12px;
      letter-spacing: 0.5px;

      &.text-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
      }
    }
  }
}

.loadingWrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(238, 238, 238, 0.5);
  z-index: 12;
  display: none;
}

.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcbf1e;
  border-left-color: #fcbf1e;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: load 1s infinite linear;
  -o-animation: load 1s infinite linear;
  animation: load 1s infinite linear;
  transform-origin: top left;

  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fcbf1e;
    border-left-color: #fcbf1e;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: load 3s infinite linear;
    -o-animation: load 3s infinite linear;
    animation: load 3s infinite linear;
    transform-origin: top left;
  }

  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fcbf1e;
    border-left-color: #fcbf1e;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: load 4s infinite linear;
    -o-animation: load 4s infinite linear;
    animation: load 4s infinite linear;
    transform-origin: top left;
  }
}

@keyframes load {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.ui-resizable-n {
  z-index: 90 !important;
  width: 100% !important;
  height: 5px !important;
  cursor: n-resize !important;
}

.ui-resizable-s {
  z-index: 90;
  width: 100%;
  height: 5px;
  cursor: s-resize;
}

#orderModal {
  z-index: 1050;
}


.adminPaginator {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  display: flex;
  align-items: center;

  .pageCountShow {
    white-space: nowrap;
    display: flex;
    position: relative;
    margin-left: 15px;
    min-width: 80px;
    align-items: center;

    p {
      margin-bottom: 0;
      margin-right: 10px;
    }

    .dropdown-menu {
      padding: 5px;
      width: 100%;
      min-width: auto;
    }

    ul {
      list-style-type: none;
    }

    > .dropdown {
      position: relative;
      min-width: 70px;
      width: 100%;
      display: inline-block;
      font-weight: 400;
      color: #4c5367;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: transparent;
      border: 0 solid transparent;
      padding: 4px 10px;
      font-size: .875rem;
      line-height: 1.6;
      border-radius: var(--border-radius);
      transition: all .08s ease-in;
      box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
      cursor: pointer;
      text-decoration: none;
      white-space: nowrap;

      > a {
        display: block;
        color: #212529;
      }

      li {

        text-align: left;

        a {
          color: rgba(33, 37, 41, 0.68);
          padding: 0 5px;
          display: block;
          text-align: left;

          &:hover {
            background-color: rgba(76, 83, 103, 0.05);
          }
        }
      }

      &:focus {
        outline: none;
      }

      ul {
        box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
        width: 100%;
        padding-left: 0;
        background-color: #fff;
        text-align: left;
        bottom: calc(100% + 5px);
        position: absolute;

        left: 0;

        li {
          display: block;
          border-bottom: 1px solid #f1f1f1;
        }
      }
    }
  }
}

.adminGallery {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px 15px;

  > div {
    position: relative;
    height: 200px;

    p {
      position: absolute;
      top: -20px;
      margin-bottom: 0;
      width: 195px;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .isMain {
      position: absolute;
      top: -25px;
      left: 0;

      input {
        position: absolute;
        display: none;
        margin-bottom: 0;

        & + label {
          margin-bottom: 0;
          cursor: pointer;
          position: relative;
          padding-left: 20px;

          &::after {
            @extend %afterBefore;
          }
        }

        &:checked + label {
          &::after {
            @extend %afterBeforeActive;
          }
        }
      }
    }

    .adminGalleryRemove {
      position: absolute;
      top: -25px;
      right: 0;
      z-index: 5;
      font-size: 16px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 0;
      line-height: 20px;
      background-color: #e96c67;
      color: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.galleryModal {
  h3 {
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 10px 10px;
    margin: 0;
    font-family: sans-serif;
  }

  > div {
    label {
      display: block;
      margin-bottom: 0;
    }

    input:not([type="checkbox"]), textarea {
      width: 100%;
      border: 0;
      padding: 3px 7px 5px;
      box-shadow: 0 0 0 1px rgba(43, 45, 80, .16), 0 0 0 1px rgba(6, 122, 184, 0), 0 0 0 2px rgba(6, 122, 184, 0), 0 1px 1px rgba(0, 0, 0, .08);
      height: 30px;
      //max-width: 350px;
      white-space: nowrap;
      word-break: keep-all;
      transition: box-shadow .08s ease-in, color .08s ease-in;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      //margin-bottom: 20px;
    }

    textarea {
      height: 100px;

    }

    input[type="checkbox"] {
      position: absolute;
      display: none;

      & + label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 20px;

        &::after {
          @extend %afterBefore;
        }
      }

      &:checked + label {
        &::after {
          @extend %afterBeforeActive;
        }
      }
    }

  }

  .galleryAdminGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: end;

    + div {
      margin-top: 20px;
    }
  }

  img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .buttons {
    border-top: 1px solid #f1f1f1;
    text-align: right;
    margin-top: 20px;
    padding: 15px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.galleryAlert {
  max-width: 700px;
  width: 100%;
  text-align: center;
  display: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 10px auto 30px;
}

/* odessi */
.article_widget,
.gallery_widget,
.address_widget,
.business_widget {
  margin-top: 5px;

  > legend {
    display: none;
  }
}

.content-header {
  z-index: 1010;
}

.InputFileLabel label {
  text-align: left;
}

.field-collection-item {
  position: relative;

  .field-collection-delete-button {
    position: absolute;
    right: 8px;
    top: 8px;
    margin-left: 0;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    background-color: #e96c67;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.list-pagination-counter {
  display: flex;
  align-items: center;

  .exportButton {
    margin-left: 15px;
    font-size: 22px;

    a {
      color: #008000;
    }
  }
}

input[type="checkbox"] {
  margin-top: 7px;
}


.articleEditImageUploadDiv {
  > div {
    max-width: 370px;
  }

  input {
    display: inline;
    height: 35px !important;
  }
;

  img {
    height: 50px;
  }

  span {
    height: 18px;
    width: 18px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 4px;
    margin-left: 5px;
    cursor: pointer;
    transform: translateY(-22px);
  }
}

.thead{
  background-color: #edf2f7;
}

// ckEditor
.ckEditor {
  > .col-form-label{
    display: none;
  }
  .form-widget {
    flex: 1 0 70%;
  }
}