.globalLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
  &::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid;
    border-color: black transparent;
    left: 50%;
    top: 50%;
    -webkit-animation: 0.8s spin infinite;
    -o-animation: 0.8s spin infinite;
    animation: 0.8s spin infinite;
  }
}

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.modalComponent {
  background: #0000002b;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;

 .modalContent {
   position: fixed;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   max-width: 600px;
   background: #f4f4f4;
   width: 100%;
   z-index: 1050;
   -webkit-box-shadow: 0 0 2px 0 #00000087;
   -moz-box-shadow: 0 0 2px 0 #00000087;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-transition: 0.3s all;
   -moz-transition: 0.3s all;
   -ms-transition: 0.3s all;
   -o-transition: 0.3s all;
   transition: 0.3s all;
   padding: 20px;
   box-shadow: 0 0 40px 2px #aeadad;

   .close {
     position: absolute;
     top: 10px;
     right: 15px;
     cursor: pointer;
     outline: none;
   }
   .title {
     border-bottom: solid 1px #d0d0d0;
     padding-bottom: 15px;
     font-size: 18px;
     margin: 0;
   }
   .contentDiv {
     padding: 25px;
   }
   input, textarea {
     border-radius: 8px;
     outline: none;
     background: #f6f6f6;
   }
   .messageInput {
     label {
       margin-bottom: 0;
     }

     input, textarea {
       width: 100%;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       border-radius: 8px;
       padding: 5px;
       border: 1px solid rgb(113, 113, 113);
       margin-bottom: 15px;
     }

     textarea {
       min-height: 80px;
     }
   }
 }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
}