body {
  position: relative;
}
#defaultNotification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;

  > div {
    height: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 200px;
    text-align: center;
    margin-top: 25px;
    box-shadow: 0 0 10px 1px #C8C8C9;
    p {
      margin: 0;
      font-weight: bold;
      color: #232323;
    }
    &.success {
      background-color: #74DF8E;
    }
    &.error {
      background-color: #F88;
    }
    &.warning {
      background-color: #F4D981;
    }
  }
}