<ul>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon1_white-96x96.png') }}"
                    alt=""></div>
        <div class="text_container"><span>5,000</span> <br> Quality Assurance</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon2_white-80x100.png') }}"
                    alt=""></div>
        <div class="text_container"><span>99%</span> <br> ADR Passing Rate</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon4_white-120x96.png') }}"
                    alt=""></div>
        <div class="text_container"><span>100%</span> <br> Survey Pass Rate</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon3_white-96x60.png') }}"
                    alt=""></div>
        <div class="text_container"><span>100%</span> <br> Plan of Correction Approval Rate</div>
    </li>
</ul>