<ul>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon1_white-96x96.png') }}"
                    alt=""></div>
        <div class="text_container"><span>2019</span> <br> Company Established</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon2_white-80x100.png') }}"
                    alt=""></div>
        <div class="text_container"><span>99</span> <br> Projects Done</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon4_white-120x96.png') }}"
                    alt=""></div>
        <div class="text_container"><span>250</span> <br> Happy Clients</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon3_white-96x60.png') }}"
                    alt=""></div>
        <div class="text_container"><span>1+</span> <br> Business Partners</div>
    </li>
</ul>