<ul class="globalGieLlcClient">
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon1_white-96x96.png') }}"
                    alt=""></div>
        <div class="text_container"><span>2012</span> <br> Company Established</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/construction-machine.png') }}"
                    alt=""></div>
        <div class="text_container"><span>2137</span> <br> Trailers Moved</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/freight.png') }}"
                    alt=""></div>
        <div class="text_container"><span>107.000</span> <br> Tons Road freight</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/chronometer.png') }}"
                    alt=""></div>
        <div class="text_container"><span>96.8%</span> <br> On Time Delivery</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/home_counter_icon3_white-96x60.png') }}"
                    alt=""></div>
        <div class="text_container"><span>24</span> <br> Business Partners</div>
    </li>
    <li>
        <div class="icon-container"><img
                    src="{{ asset('bundles/easybuilder/img/icon/group.png') }}"
                    alt=""></div>
        <div class="text_container"><span>99.4%</span> <br> Customer Satisfaction</div>
    </li>
</ul>