{% if key % 2 == 0 %}
    <div class="col-md-5 padd order-sm-0">
        <div class="media_padd">
            <h6>{{ sub.name }}</h6>
            <p>{{ sub.mainArticle.shortDescription }}</p>
            <a href="{{ path('sub-menu', {'slug':sub.mainMenu.slug, 'subSlug':sub.slug}) }}">{{ 'form.learn_more'|trans }}</a>
        </div>
    </div>
    <div class="col-md-7 padd order-1 order-md-0">
        <img src="{{ asset(sub.mainArticle.downloadLink)|imagine_filter('home_article') }}"
             alt="{{ sub.mainArticle.name }}">
    </div>
{% else %}
    <div class="col-md-7 padd order-3 order-md-0">
        <img src="{{ asset(sub.mainArticle.downloadLink)|imagine_filter('home_article') }}"
             alt="{{ sub.mainArticle.name }}"></div>
    <div class="col-md-5 padd order-2 order-md-0">
        <div class="media_padd">
            <h6>{{ sub.name }}</h6>
            <p>{{ sub.mainArticle.shortDescription }}</p>
            <a href="{{ path('sub-menu', {'slug':sub.mainMenu.slug, 'subSlug':sub.slug}) }}">{{ 'form.learn_more'|trans }}</a>
        </div>
    </div>
{% endif %}