{% if key % 2 == 0 %}
    <div class="row hoverScale mb-15 {{ key == 4 ? 'articleBgFour': '' }}">
        <div class="col-md-5 padd  order-sm-0 ">
            <div class="media_padd text-right">
                <h6>{{ article.name }}</h6>
                <p>{{ article.description|raw }}</p>
            </div>

        </div>
        <div class="col-md-7 padd order-1 order-md-0"><img
                    src="{{ asset( article.downloadLink) | imagine_filter('home_article') }}" alt="{{ article.name }}">
        </div>
    </div>
{% else %}
    <div class="row hoverScale mb-15 {{ key == 1 ? 'articleBgOne': '' }}">
        <div class="col-md-7 padd order-3 order-md-0 "><img
                    src="{{ asset( article.downloadLink) | imagine_filter('home_article') }}" alt="{{ article.name }}">

        </div>
        <div class="col-md-5 padd  order-2 order-md-0">
            <div class="media_padd text-left">
                <h6>{{ article.name }}</h6>
                <p>{{ article.description|raw }}</p>
            </div>
        </div>
    </div>
{% endif %}
