<div class="col-md-4 padd media_padd order-sm-0">
    <h6>{{ article.name }}</h6>
    <img src="{{ asset( article.downloadLink) | imagine_filter('home_article') }}" alt="{{ article.name }}">
    <p>{{ article.shortDescription }}</p>
</div>