{% set articleUrl = '#' %}

        {% if article.mainMenu %}

            {% set articleUrl = path('sub-menu', {'slug':article.mainMenu.slug, 'subSlug': article.slug}) %}

        {% endif %}

        {% if articleUrl == '#' and article.subMenu and article.subMenu.mainMenu %}

            {% set articleUrl = path('single-article', {'slug':article.subMenu.mainMenu.slug, 'subSlug': article.subMenu.slug, 'slugArticle':article.slug}) %}

        {% endif %}

<div class="row align-items-center">
    {% if key % 2 == 0 %}
        <div class="col-md-6 padd  {{ 'order-'~key }} order-md-0">
            <div class="articleText articleTextLeft">
                <h6>{{ article.name }}</h6>
                <p>{{ article.shortDescription }}</p>
                {% if articleUrl != '#' %}
                    <div class="articleMore articleMoreLeft">
                        <a href="{{ articleUrl }}">
                            More
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="col-md-6 padd  {{ 'order-'~(key + 1) }} order-md-0">
            <img src="{{ asset( article.downloadLink) | imagine_filter('home_article') }}"
                 alt="{{ article.name }}">
        </div>
    {% else %}
        <div class="col-md-6 padd  {{ 'order-'~(key + 1) }} order-md-0">
            <img src="{{ asset( article.downloadLink) | imagine_filter('home_article') }}"
                 alt="{{ article.name }}">

        </div>
        <div class="col-md-6 padd  {{ 'order-'~(key) }} order-md-0">
            <div class="articleText">
                <h6>{{ article.name }}</h6>
                <p>{{ article.shortDescription }}</p>
                {% if articleUrl != '#' %}
                    <div class="articleMore">
                        <a href="{{ articleUrl }}">
                            More
                        </a>

                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>