{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content %}
    <div class="content">
        {% block content_header_wrapper %}
            {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
            <section class="content-header">
                {% block content_header %}
                    <div class="d-flex flex-row justify-content-between align-content-center w-100">
                        <div class="content-header-title">
                            <h1 class="title">
                                {% block content_title %}{% endblock %}

                                {% block content_help %}
                                    {% if has_help_message %}
                                        <span class="content-header-help">
                                                                <i class="far fa-question-circle" data-toggle="tooltip" title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                            </span>
                                    {% endif %}
                                {% endblock %}
                            </h1>
                        </div>

                        {% block page_actions_wrapper %}
                            <div class="page-actions">{% block page_actions %}{% endblock %}</div>
                        {% endblock %}
                    </div>
                {% endblock content_header %}
            </section>
        {% endblock content_header_wrapper %}

        <section id="main" class="content-body">
            {% block main %}
                <img src="{{ template_settings.fileName ? asset(template_settings.downloadLink)|imagine_filter('cart_photo') : '' }}">
                <b>Welcome to {{ template_settings.name }} admin dashboard</b>
                <p>Page Title <b>{{ template_settings.pageTitle }}</b></p>

                <p>Phone: <span>{{ template_settings.phone }}</span></p>
                <p>Email: <span>{{ template_settings.email }}</span></p>
                <p>Address: <span>{{ template_settings.address }}</span></p>
                <p>Fb: <span><a href="{{ template_settings.fb }}">{{ template_settings.fb }}</a></span></p>
                <p>Tw: <span><a href="{{ template_settings.tw }}">{{ template_settings.tw }}</a></span></p>
                <p>Instagram: <span><a href="{{ template_settings.instagram }}">{{ template_settings.instagram }}</a></span></p>
                <p>Linkedin: <span><a href="{{ template_settings.linkedin }}">{{ template_settings.linkedin }}</a></span></p>
            {% endblock %}
        </section>

        {% block content_footer_wrapper %}
            {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
            {% if content_footer is not empty %}
                <section class="content-footer">
                    {{ content_footer }}
                </section>
            {% endif %}
        {% endblock %}
    </div>
{% endblock content %}
