<div class="swiper-slide">
{#    <a href="{{ item.urlLink }}" target="_blank" rel="noopener noreferrer">#}
        <div class="galleryInfo">
            <h2>{{ menu.title }}</h2>
            <p>{{ menu.mainArticle ? menu.mainArticle.shortDescription : '' }}</p>
        </div>

        <img src="{{ asset(item.downloadLink)|imagine_filter('home_slider') }}" alt="{{ item.altText }}">
{#    </a>#}
</div>