{% if field.value %}
<div class="row">
    <div class="col-md-8">
        <title>{{ field.value.name }}</title>
        {% if field.value.fileName %}<img src="{{ field.value.downloadLink }}" class="content">{% endif %}
        <div class="content">{{ field.value.description|raw }}</div>

    </div>

</div>
{% endif %}