{% if attribute(entity.instance, field.property) is defined %}
{% if ea.crud.currentAction == 'detail' %}<p>{% endif %}
    {% if field.customOptions.get('raw') == true %}
        {{ attribute(entity.instance, field.property)|raw }}
    {% else %}
        {{ attribute(entity.instance, field.property) }}
    {% endif %}
    {% if ea.crud.currentAction == 'detail' %}</p>{% endif %}
{% endif %}