<div class="rightMenu">
    <div></div>
    <div class="rightMenuSocial">
        <ul class="links">
            {% if templateSettings.fb and templateSettings.fb|length > 9 %}
                <li><a href="{{ templateSettings.fb }}" target="_blank"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
            {% endif %}
            {% if templateSettings.tw and templateSettings.tw|length > 9 %}
                <li>
                    <a href="{{ templateSettings.tw }}" target="_blank"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
            {% endif %}
            {% if templateSettings.instagram and templateSettings.instagram|length > 9 %}
                <li>
                    <a href="{{ templateSettings.instagram }}"
                       target="_blank"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            {% endif %}
            {% if templateSettings.linkedin and templateSettings.linkedin|length > 9 %}
                <li>
                    <a href="{{ templateSettings.linkedin }}" target="_blank"><i
                                class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            {% endif %}
            {% if templateSettings.youtube and templateSettings.youtube|length > 9 %}
                <li>
                    <a href="{{ templateSettings.youtube }}" target="_blank"><i
                                class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>