<form action="#" class="contactForm">
    <div>
        <input type="text" name="name" placeholder="Name" class="contactInput" required>
        <input type="email" name="email" placeholder="Email" class="contactInput" required>
    </div>
    <textarea name="message" id="" cols="30" rows="10" placeholder="Say hi here…or type your message"
              class="contactInput" required></textarea>
    <div id="send">
        <button>Send</button>
    </div>
</form>