<form action="#" class="contactForm">
    <input type="text" name="name" placeholder="{{ 'form.name'|trans }}" class="contactInput" required>
    <input type="email" name="email" placeholder="{{ 'form.email'|trans }}" class="contactInput" required>
    <textarea name="message" id="" cols="30" rows="10" placeholder="{{ 'form.message'|trans }}" class="contactInput" required></textarea>
    <button id="send">{{ 'form.send_message'|trans }}</button>
</form>