<form action="#" class="contactForm">
    <input type="text" name="name" placeholder="Name" class="contactInput" required>
    <input type="email" name="email" placeholder="Email" class="contactInput" required>
    <input type="text" name="subject" placeholder="Subject" class="contactInput" required>
    <textarea name="message" id="" cols="30" rows="10" placeholder="Message" class="contactInput" required></textarea>
    <div class="text-center">
        <div id="send">
            <button>Send Message</button>
        </div>
    </div>
</form>