<form action="#" class="contactForm">
    <div><input type="text" name="name" placeholder="Անուն Ազգանուն" class="contactInput" required></div>
    <div><input type="email" name="email" placeholder="Էլ․ Հասցե" class="contactInput" required></div>
    <div><input type="text" name="subject" placeholder="Վերնագիր" class="contactInput" required></div>
    <div><textarea name="message" id="" cols="30" rows="10" placeholder="Գրել նամակ" class="contactInput" required></textarea></div>
    <button id="send">Ուղարկել</button>
</form>