<form action="#" class="contactForm">
    <div><input type="text" name="name" placeholder="Name" class="contactInput" required></div>
    <div><input type="email" name="email" placeholder="Email" class="contactInput" required></div>
    <div><input type="text" name="subject" placeholder="Subject" class="contactInput" required></div>
    <div><textarea name="message" id="" cols="30" rows="10" placeholder="Message" class="contactInput" required></textarea></div>
    <button id="send">Send Message</button>
</form>