<div class="row">
    {% if key % 2 == 0 %}
        <div class="col-lg-4 offset-lg-2 mb-2 mb-lg-0  order-sm-0">
            <div class="media_padd">
                <h5>{{ sub.name }}</h5>
                <p>{{ sub.mainArticle.shortDescription }}</p>
                <a href="{{ path('sub-menu', {'slug':sub.mainMenu.slug, 'subSlug':sub.slug}) }}">More</a>
            </div>
        </div>
        <div class="col-lg-6 pr-lg-0 order-1 mb-5 order-md-0">
            <div class="media_padd media_img">
                <img src="{{ asset(sub.image ? sub.image.downloadLink : sub.mainArticle.downloadLink)|imagine_filter('home_article') }}"
                     alt="{{ sub.mainArticle.name }}">
            </div>
        </div>
    {% else %}
        <div class="col-lg-6 pl-lg-0 order-3 mb-2 order-md-0">
            <div class="media_padd media_img">
                <img src="{{ asset(sub.image ? sub.image.downloadLink : sub.mainArticle.downloadLink)|imagine_filter('home_article') }}"
                     alt="{{ sub.mainArticle.name }}">
            </div>
        </div>
        <div class="col-lg-4 offset-lg-2 mb-5 mb-lg-0 order-2 order-md-0">
            <div class="media_padd">
                <h5>{{ sub.name }}</h5>
                <p>{{ sub.mainArticle.shortDescription }}</p>
                <a href="{{ path('sub-menu', {'slug':sub.mainMenu.slug, 'subSlug':sub.slug}) }}">More</a>
            </div>
        </div>
    {% endif %}
</div>