{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}
<ul class="main">
    <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}">
            <img src="{{ asset(templateSettings.logo) }}" alt=""></a>
    </li>
</ul>
<ul class="navLinks">
    {% if templateSettings.phone and templateSettings.phone|length %}
        <li>
            <a href="tel:{{ templateSettings.phone }}">{{ templateSettings.phone }}</a>
        </li>
    {% endif %}

    <li>
        <a href="#contact" data-id="contact">Կապ Մեզ Հետ</a></li>
    <li>/</li>
    {% if templateSettings.fb and templateSettings.fb|length>9 %}
        <li>
            <a href="{{ templateSettings.fb }}" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}

    {% if templateSettings.tw and templateSettings.tw|length>9 %}
        <li>
            <a href="{{ templateSettings.tw }}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
    {% if templateSettings.instagram and templateSettings.instagram|length >9  %}

        <li>
            <a href="{{ templateSettings.instagram }}"
               target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>

    {% endif %}
    {% if templateSettings.linkedin and templateSettings.linkedin|length >9 %}
        <li>
            <a href="{{ templateSettings.linkedin }}" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}

</ul>
