{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}
<ul class="logoUl">
    <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}">
            <img src="{{ asset(templateSettings.logo) }}"
                 alt=""></a>
    </li>
</ul>
<ul class="main">
    {% for key,menu in menus %}
        {% if '0' in menu.deep  %}
        <li class="{{ menu.getSubs|length == false ? 'hasSub' : '' }}">
            <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
               href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
            <div class="subUl">
                <div>
                    <a class="mainArticle" href="{{ path('main-menu', {'slug':menu.slug}) }}">
                        <img src="{{ asset(menu.mainArticle.downloadLink) }}" alt="">
                        <div>
                            <p>{{ menu.mainArticle.name }}</p>
                            <p>{{ menu.mainArticle.shortDescription }}</p>
                        </div>
                    </a>
                </div>
                <ul>
                    {# check nave a subs #}
                    {% if menu.getSubs|length and menu.getSubs.isEmpty == false %}
                        {% for sub in menu.subMenus %}
                            <li>
                                <a href="{{ path('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) }}">
                                    {{ sub.name }}
                                </a>
                            </li>
                        {% endfor %}

                    {% endif %}
                </ul>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    <li><a class="store-link" href="#" target="_blank">Consulting</a></li>
</ul>