{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}
<ul class="main ict_one">
    {% set exploder = (menus|length) > 0 ? (menus|length // 2) : 0 %}
    {% for key,menu in menus %}
        {% if '0' in menu.deep  %}
        {% if key == exploder %}
            <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}">
                    <img src="{{ asset(templateSettings.logo) }}"
                         alt=""></a>
            </li>
        {% endif %}
        <li class="{{ menu.getSubs|length == false ? 'hasSub' : '' }} position-relative">
            <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
               href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>

            {# check nave a subs #}
            {% if menu.getSubs|length and menu.getSubs.isEmpty == false %}
                <ul class="subUl">
                    {% for sub in menu.subMenus %}
                        <li>
                            <a href="{{ path('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) }}">{{ sub.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    {#        <li><a class="store-link" href="https://www.ictonestopshop.com.au/" target="_blank">Store</a></li>#}
</ul>
