{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

{% set current_route = app.request.attributes.get('_route') ? app.request.attributes.get('_route') : 'homepage' %}
    {% set urlParamEn = [] %}
    {% set urlParamRu = [] %}
    {% set urlParamHy = [] %}
    {% set i = 0 %}
    {% for key in app.request.attributes.get('_route_params')|keys %}
        {% if key == '_locale' %}
            {% set urlParamEn = urlParamEn|merge({(key):'en'}) %}
            {% set urlParamRu = urlParamRu|merge({(key):'ru'}) %}
            {% set urlParamHy = urlParamHy|merge({(key):'hy'}) %}
        {% else %}
            {% set urlParamEn = urlParamEn|merge({(key):app.request.attributes.get('_route_params')[key]}) %}
            {% set urlParamRu = urlParamRu|merge({(key):app.request.attributes.get('_route_params')[key]}) %}
            {% set urlParamHy = urlParamHy|merge({(key):app.request.attributes.get('_route_params')[key]}) %}
        {% endif %}
        {% set i = i +1 %}
    {% endfor %}

<div class="container-fluid">
    <div class="translateNav">
        <ul class="translateLogo">
            <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}">
                    <img src="{{ asset(templateSettings.logo) }}" alt=""></a>
            </li>
        </ul>
        <ul class="translateMain">
            {% set exploder = (menus|length) > 0 ? (menus|length // 2) + 1 : 0 %}
            {% for key,menu in menus %}
                {# check is showable or not#}
                {% if '0' in menu.deep %}
                    <li class="{{ menu.subMenus.isEmpty == false ? 'hasSub' : '' }} position-relative">
                        <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                           href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
                        {# check nave a subs #}
                        {% if menu.getSubs and menu.getSubs.isEmpty == false %}
                            <ul class="translateSubUl">
                                {% for sub in menu.getSubs %}
                                    <li>
                                        <a href="{{ path('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) }}">{{ sub.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            <li><a class="store-link" href="https://consulting.globalgiellc.com/" target="_blank">Consulting</a></li>
        </ul>
        <div class="translateInfo" style="white-space: nowrap">
            <div class="language">
                <img src="{{ asset('bundles/easybuilder/img/language.png') }}" alt="">
                <ul>

                    <li class="{{ app.request.locale == 'en' ? 'd-none' : '' }}">
                        <a href="{{ path(current_route, urlParamEn) }}"
                           class="en" title="English">
                            <img src="{{ asset('bundles/easybuilder/img/lang/en-flag.png') }}" alt=""
                                 {% if app.request.locale == 'en' %}class="active"{% endif %}>
                        </a>
                    </li>
                    <li class="{{ app.request.locale == 'ru' ? 'd-none' : '' }}">
                        <a href="{{ path(current_route, urlParamRu) }}"
                           class="ru" title="Русский">
                            <img src="{{ asset('bundles/easybuilder/img/lang/ru-flag.png') }}" alt=""
                                 {% if app.request.locale == 'ru' %}class="active"{% endif %}>
                        </a>
                    </li>
                    <li class="{{ app.request.locale == 'hy' ? 'd-none' : '' }}">
                        <a href="{{ path(current_route, urlParamHy) }}"
                           class="hy" title="Հայերեն">
                            <img src="{{ asset('bundles/easybuilder/img/lang/hy-flag.png') }}" alt=""
                                 {% if app.request.locale == 'hy' %}class="active"{% endif %}>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="phone">
                <a href="tel:9898989"><img src="{{ asset('bundles/easybuilder/img/call.png') }}" alt=""></a>
            </div>
        </div>
    </div>
</div>


