{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

<div class="container">
    <div class="globalNav">
        <ul class="globalLogo">
            <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}"><img
                            src="{{ asset(templateSettings.logo) }}"
                            alt=""></a>
            </li>
        </ul>
        <ul class="globalMain">
            {% set exploder = (menus|length) > 0 ? (menus|length // 2) + 1 : 0 %}
            {% for key,menu in menus %}
            {# check is showable or not#}
                {% if '0' in menu.deep  %}
                <li class="{{ menu.subMenus.isEmpty == false ? 'hasSub' : '' }} position-relative">
                    <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                       href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
                    {# check nave a subs #}
                    {% if menu.getSubs and menu.getSubs.isEmpty == false %}
                        <ul class="globalSubUl">
                            {% for sub in menu.getSubs %}
                                <li>
                                    <a href="{{ path('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) }}">{{ sub.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            <li><a class="store-link" href="https://consulting.globalgiellc.com/" target="_blank">Consulting</a></li>
        </ul>
    </div>
</div>
