{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

<div class="container-fluid">
    <div class="globalNav">
        <ul class="globalLogo">
            <li class="logo"><a href="{{ path('homepage') }}"><img
                            src="{{ asset(templateSettings.logo) }}"
                            alt=""></a>
            </li>
        </ul>
        <ul class="unrealMenu">
            {% for key,menu in menus %}
                <li>
                    <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                       href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
                </li>
            {% endfor %}
            <li class="burger">
                <a href="javascript:;">
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="vpNavigation">
    <div class="container">
        <div class="divNavFix">

            <ul class="navUl">
                {% for key,menu in menus %}
                    <li>
                        <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                           href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="navContact">
                <div class="row">
                    <div class="col-md-12 contact_us ">

                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-md-3">
                                    <p class="footerName">Contact us</p>
                                    {% if templateSettings.phone and templateSettings.phone|length %}
                                        <p class="number">
                                            <a href="tel:{{ templateSettings.phone }}">{{ templateSettings.phone }}</a>
                                        </p>
                                    {% endif %}
                                    {% if templateSettings.email and templateSettings.email|length %}
                                        <p>
                                            <a href="mailto:{{ templateSettings.email }}">{{ templateSettings.email }}</a>
                                        </p>
                                    {% endif %}
                                </div>

                                <div class="col-md-3">
                                    <ul class="links">
                                        {% if templateSettings.fb and templateSettings.fb|length %}
                                            <li><a href="{{ templateSettings.fb }}" target="_blank">Facebook</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="#" target="_blank">Youtube</a>
                                        </li>
                                        {% if templateSettings.instagram and templateSettings.instagram|length %}
                                            <li>
                                                <a href="{{ templateSettings.instagram }}"
                                                   target="_blank">Instagram</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="#" target="_blank">Vimeo</a>
                                        </li>
                                    </ul>
                                </div>

                                {% if templateSettings.address and templateSettings.address|length %}
                                    <div class="col-md-3">
                                        <p class="footerName">Head Office</p>
                                        <p>{{ templateSettings.address }}</p>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
