{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

<ul class="logoUl">
    <li class="logo d-none d-lg-block"><a href="{{ path('homepage') }}">
            <img src="{{ asset(templateSettings.logo) }}"
                 alt="{{ templateSettings.name }}"></a>
    </li>
</ul>
<ul class="main">
    {% for key,menu in menus %}
        {# check is showable or not#}
        {% if '0' in menu.deep  %}
        <li class="{{ menu.getSubs|length == false ? 'hasSub' : '' }} position-relative">
            <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
               href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
            {# check nave a subs #}
            {% if menu.getSubs|length and menu.getSubs.isEmpty == false %}
                <ul class="subUl">
                    {% for sub in menu.subMenus %}
                        <li>
                            <a href="{{ path('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) }}">{{ sub.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    <li><a class="store-link" href="http://consulting.globalgiellc.com/" target="_blank">Consulting</a></li>
</ul>
