{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

<div class="container-fluid">
    <div class="globalNav">
        <ul class="globalLogo">
            <li class="logo"><a href="{{ path('homepage') }}"><img
                            src="{{ asset(templateSettings.logo) }}"
                            alt=""></a>
            </li>
        </ul>
        <ul class="unrealMenu">
            <li>
                <a href="javascript:;">
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="vpNavigation">
    <ul>
        {% for key,menu in menus %}

            <li class="{{ menu.getSubs|length == false ? 'hasSub' : '' }} position-relative">
                <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                   href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.name }}</a>
            </li>
        {% endfor %}

    </ul>
</div>
