{% set parentUrl = app.request.pathInfo %}
{% set logo = templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' %}

{% set current_route = app.request.attributes.get('_route') ? app.request.attributes.get('_route') : 'homepage' %}
    {% set locationInfo = [] %}
    {% set i = 0 %}
    {% for key in app.request.attributes.get('_route_params')|keys %}

            {% for locale in locales %}
                {% set locationInfo = locationInfo|merge({(locale):{(key):app.request.attributes.get('_route_params')}[key]}) %}
            {% endfor %}
    {% endfor %}
<ul class="main">
    <li class="logo d-lg-block">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset(templateSettings.logo) }}" alt="">
        </a>
    </li>
</ul>
<ul class="menu main">
    {% for key,menu in menus %}
        {% if '0' in menu.deep %}
            <li class="position-relative">
                <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                   href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="position-relative requestQuote" data-slug="quote">
        <a href="javascript:;">Quote</a>
    </li>
    <li class="languages">
        <img src="{{ asset('bundles/easybuilder/img/screapt/flag-' ~ app.request.locale  ~'.png') }}" alt="">
        <ul>
            {% for key, loca in locationInfo %}
                <li class="{{ app.request.locale == key ? 'd-none' : '' }}">
                    <a href="{{ path(current_route, loca|merge({'_locale':key})) }}"
                       class="{{ key }}" title="{{ key|upper }}">
                        <img src="{{ asset('bundles/easybuilder/img/screapt/flag-'~key~'.png') }}" alt=""
                             {% if app.request.locale == key %}class="active"{% endif %}>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>