<div class="col-6 col-md-6">
    <a href="{{ path('single-article', {'slug':subMenu.mainMenu.slug, 'subSlug': subMenu.slug, 'slugArticle': articleItem.slug}) }}">
        <img src="{{ asset(articleItem.downloadLink)|imagine_filter('article_tamb') }}" alt="{{ articleItem.name }}">
    </a>
</div>