<div class="articleSingleGrid">
    <a href="{{ path('single-article', {'slug':subMenu.mainMenu.slug, 'subSlug': subMenu.slug, 'slugArticle': articleItem.slug}) }}">
        <div class="text">
            <p>{{ articleItem.name }}</p>
            <p>{{ articleItem.shortDescription }}</p>
        </div>
        <img src="{{ asset(articleItem.downloadLink)|imagine_filter('article_tamb') }}" alt="{{ articleItem.name }}">
    </a>
</div>