@import "variable";

body {
  background-color: $homeBodyBgc;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100%;
  @include transition;

  .verticalLine {
    @include transition;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $white;
    opacity: 0.4;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .webApp {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
    }

    &.leftWeb {
      background-image: radial-gradient(rgba(18, 18, 18, 0.85), $homeBodyBgc), url('../img/trailer_1.jpg');
    }

    &.rightWeb {
      background-image: radial-gradient(rgba(18, 18, 18, 0.85), $homeBodyBgc), url('../img/consulting.png');
    }

    a {
      display: block;
      color: rgba($white, 0.3);
      text-decoration: none;
      position: relative;
      z-index: 5;
      @include transition;

      h4 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2.5px;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: rgba($white, 0.1);
        width: 0;
        height: 1px;
        bottom: 0;
        left: 50%;
        @include transition;

      }

      &:hover {
        color: $white;

        &::after {
          left: 0;
          width: 100%;
          background-color: $white;
        }
      }
    }
  }

  @include media(991) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    .verticalLine {
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
      height: 1px;
      left: 0;
    }
  }
}
