@import "~font-awesome";
@import "~bootstrap";
@import "variable";

//require('jquery.ripples/dist/jquery.ripples');
//
//require('slick-carousel/slick/slick.css');
//require('slick-carousel/slick/slick-theme.css');
//require('slick-carousel/slick/slick');
//require('../style/homepage.scss');
//
//require('../style/main.scss');

a {
  text-decoration: none !important;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.nav {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 555555;
  background-color: rgba($black, 0.31);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  @include media(991) {
    background: transparent;
  }
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scrolling {
  position: absolute;
  left: 150px;
  bottom: 60px;
  z-index: 12;
  color: $white;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;

  img {
    width: 20px;
    display: inline-block;
    margin-right: 15px;
  }
}

@include rightMenu;

.homeTwoHeader {
  min-height: 800px;
  height: 100vh;
  width: 100%;
  position: relative;
  @include transition;

  + .mainText {
    min-height: auto;
  }

  .galleryInfo {
    @include galleryInfo;
    max-width: none;

    h2 {
      font-size: 48px;
      position: relative;
      padding-top: 15px;

    }
  }

  .scrolling {
    span {
      width: 21px;
      height: 35px;
    }
  }

  @include media(991) {
    min-height: auto;
    .scrolling {
      display: none;
    }
    .swiper-pagination {
      display: none;
    }
  }
}

.swiper-container .swiper-pagination {
  left: 88px;
  right: auto !important;

  span.swiper-pagination-bullet {
    background-color: $white;
  }

  span.swiper-pagination-bullet-active {
    background-color: $white;
  }
}

/*---------------------
        nav
----------------------*/
.logoUl {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.mobileNav {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: $lightBlack;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  @include transition;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      text-align: center;

      a {
        font-size: 30px;
        text-transform: uppercase;
        color: $white;
        line-height: 60px;
        font-weight: 600;
        letter-spacing: 1px;

        &:hover {
          color: $orange;
        }

        &.active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 80;
  padding: 42px 140px 42px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: transparent;
  border-bottom: 1px solid rgba($white, 0.22);

  &.scrolled {
    background-color: $lightBlack;
    padding: 25px 140px 25px 70px;
  }

  .rightMenuMenu {
    position: absolute;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: $lightBlack;

    img {
      width: 33px;
    }
  }

  .navFlex {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 991px) {
      justify-content: space-between;
    }
  }

  .logo a {
    font-size: 18px;
    color: $black;
    text-transform: uppercase;
    border: none !important;
  }

  .logo img {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    max-width: 150px;
    max-height: 19.59px;
  }

  ul.main {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;

    li {
      margin-right: 25px;
      display: flex;
      align-items: center;
      text-align: center;

      &:last-of-type {
        margin-right: 0;
      }

      &.requestQuote {
        a {
          display: inline-block;
          color: $lightBlueGreen;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          padding: 5px 8px;
          background-color: $orange;
          border: 1px solid $orange;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;

          &:hover {
            border-bottom: 1px solid $orange;
            background-color: transparent;
            color: $orange;
          }
        }
      }

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        position: relative;
        display: block;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 18px;

        &.active {
          border-bottom: 1px solid $white;
        }

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $white;

          &::after {
            width: 100%;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }

  }

  .languages {
    position: relative;
    padding-right: 5px;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border: 1px solid;
      right: -7px;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -moz-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      -o-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      border-color: transparent $white $white transparent;
      pointer-events: none;
    }

    > img {
      width: 30px;

    }

    ul {
      width: 100%;
      padding-top: 15px;
      opacity: 0;
      position: absolute;
      top: -1000%;
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
      visibility: hidden;
      -webkit-transition: 0.3s opacity;
      -moz-transition: 0.3s opacity;
      -ms-transition: 0.3s opacity;
      -o-transition: 0.3s opacity;
      transition: 0.3s opacity;

      li {
        margin-bottom: 8px;
        margin-right: 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        border: none !important;
      }

      img {
        width: 25px;
      }
    }

    &:hover {
      ul {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
    }

    &.active {
      ul {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @include media(991) {
    padding: 25px 65px 20px 15px;
    &.scrolled {
      background-color: $lightBlack;
      padding: 25px 65px 20px 15px;
    }
    .rightMenuMenu {
      width: 50px;
    }
    ul.menu.main {
      .requestQuote {
        margin-right: 15px;
      }

      li:not(.languages):not(.requestQuote) {
        display: none;
      }

      .languages li {
        display: block;
      }
    }
    .logo img {
      width: 100px;
    }
  }
}


/* slider */

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;

  .swiper-slide {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(5.26deg, $green 0%, rgba($green, 0) 100%);
      z-index: 15;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .galleryInfo {
    @include galleryInfo;

    .requestQuote {
      display: inline-block;
      max-width: 180px;
      width: 100%;
      color: $lightBlueGreen;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      padding: 14px 0;
      background-color: $orange;
      border: 1px solid $orange;
      @include transition;

      &:hover {
        @include yellowButtonHover;
      }

    }

    .InputFileLabel {
      width: 100%;
      margin-left: 5px;
      display: inline-block;
      margin-bottom: 0;
      background-color: transparent;
      cursor: pointer;
      @include transition;
      border: 1px solid $white;
      color: $white;
      letter-spacing: 0;
      max-width: 180px;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      padding: 14px 0;

      &:hover {
        background-color: $white;
        color: $green;
      }
    }
  }

  @include media(575) {
    .galleryInfo {
      .requestQuote {
        max-width: 125px;
        font-size: 12px;
      }

      .InputFileLabel {
        max-width: 125px;
        font-size: 12px;
      }
    }
  }
}


/*-------------------
    contact section
--------------------*/
section.contact {
  position: relative;

  .leftHand {
    pointer-events: none;
    position: absolute;
    max-width: 272px;
    max-height: 192px;
    left: 0;
    bottom: 0;
  }
}

#contact {
  padding-bottom: 100px;

  .contactWrap {
    max-width: 461px;
    width: 100%;
    padding-top: 100px;
  }

  h4 {
    color: $black;
    font-size: 46px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  .ourInfo {

    font-size: 24px;
    line-height: 36px;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        border-bottom: 1px solid $black;
      }
    }
  }

  #map {
    margin-top: 30px;
    max-width: 461px;
    width: 100%;
    height: 210px;
    background-color: $lightGrey;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
  }

  .formWrap {
    width: 100%;
    padding: 100px 80px 80px 80px;
    background-color: $lightWhite;
  }

  .contactForm {
    max-width: 426px;
    width: 100%;

    input,
    textarea {
      box-sizing: border-box;
      height: 61px;
      width: 100%;
      border: 1px solid rgba($lighterGrey, 0.2);
      background-color: $white;
      padding: 19px 25px;
      color: $grey;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin-bottom: 20px;
    }

    textarea {
      margin-bottom: 0;
      height: 210px;
    }

    button {
      display: inline-block;
      margin-top: 20px;
      width: 100%;
      background-color: $orange;
      padding: 20px 0;
      text-align: center;
      @include transition;
      border: 1px solid $orange;

      &:hover {
        @include yellowButtonHover;
      }
    }
  }

  @include media(991) {
    padding-bottom: 50px;
    .leftHand {
      display: none;
    }
    .contactForm {
      max-width: none;
    }
    .formWrap {
      padding: 50px 15px 30px;
    }
    .contactWrap {
      padding-top: 30px;
    }
  }
}

/*-------------------
    footer
---------------------*/

footer {
  background-color: $lightBlack;

  .footer {
    padding-top: 90px;
    padding-bottom: 80px;

    .footerLogo {
      width: 259px;
      display: inline-block;
      margin-bottom: 29px;

      + p {
        color: $white;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        color: $white;
        line-height: 28px;
      }

      a {
        color: $white;
        font-size: 14px;

        &:hover {
          border-bottom: 1px solid $white;
        }

      }
    }

    .links {
      margin-top: 60px;
      display: flex;

      li {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        font-size: 18px;
        color: $white;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: $green;
        @include transition;
        border-bottom: none !important;

        &:hover {
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          -o-transform: translateY(-10px);
          transform: translateY(-10px);
        }

      }
    }
  }

  .copyright {
    background-color: $green;
    padding: 15px 0;
    color: $white;
    font-size: 14px;
    line-height: 18px;

    a {
      color: $white;
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include media(991) {
    .footer {
      padding: 60px 0 0;
    }
  }
}

/* */

/*---------------------
      blue section
----------------------*/

.mainText {
  background-color: $green;
  padding: 100px 15px 80px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, h2, h3, h4, h5 {
    color: $white;
    max-width: 800px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  p, div, ul {
    max-width: 800px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: $white;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    //list-style-image: url("../img/screapt/logo_ul.png");
    list-style-type: none !important;

    li {
      position: relative;
      padding-left: 24px;
      line-height: 28px;

      &::before {
        content: '';
        width: 15px;
        height: 15px;
        background: url("../img/screapt/logo_ul.png");
        -webkit-background-size: 100%;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }

  @include media(991) {
    min-height: 300px;
    padding: 30px 15px;
  }
}

.subMainText {
  //height: auto;
  min-height: auto;
}

.blue {

  background-color: $green;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  .realtive {
    position: relative;
    z-index: 65;
  }

  .media_padd {
    padding: 0;
    background-color: $green;
    overflow: hidden;
    margin-top: 40px;

    h5 {
      margin-top: 20px;
      color: $white;
      font-size: 42px;
      letter-spacing: 0;
      line-height: 52px;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
    }

    p {
      color: $white;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      background-color: $orange;
      max-width: 240px;
      width: 100%;
      padding: 14px 0;
      color: $lightBlueGreen;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;
      margin-top: 45px;
      @include transition;
      border: 1px solid $orange;

      &:hover {
        @include yellowButtonHover;
      }

    }

  }

  @include media(991) {
    .media_img {
      margin-top: 0;
      padding: 0 !important;
    }
    .media_padd {
      margin-top: 0;
      padding: 30px 0;

      img {
        height: 400px;
      }

      h5 {
        font-size: 40px;
        margin-bottom: 15px;
      }
    }
  }
}

.ict_one_blue {
  .padd {
    h6 {
      &::before {
        content: none;
      }
    }
  }
}

.mainBlue {
  .media_padd {
    width: 100%;
    padding: 15px;
  }
}

#scrollTop {
  > div:last-of-type {
    > div {
      padding-bottom: 0;
    }
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  75% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
}

/* login */
.loginForm {
  background-image: url('../img/screapt/rectangle.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.8);
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.loginPage {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 220px 15px 120px;
  position: relative;
  z-index: 3;
  color: $white;

  .regTerms {

  }

  input:not([type="checkbox"]) {
    box-sizing: border-box;
    height: 61px;
    width: 100%;
    border: 1px solid rgba(151, 151, 151, 0.2);
    background-color: $white;
    padding: 19px 25px;
    color: $grey;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:focus {
      background-color: rgba($white, 0.8);
    }

    &:focus {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
      border-color: $lighterGrey;
      outline: 0;
    }
  }

  label {
    margin-bottom: 0;
  }

  .submitButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    label {
      margin-right: 10px;
      cursor: pointer;

      + input {
        vertical-align: middle;
      }
    }

    button {
      display: inline-block;
      max-width: 180px;
      width: 100%;
      color: $lightBlueGreen;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      padding: 14px 0;
      background-color: $orange;
      border: 1px solid $orange;
      @include transition;

      &:hover {
        @include yellowButtonHover;
      }
    }

    a {
      color: $orange;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 150px;
  }
}

/* news */

.mainNews {
  padding-top: 50px;
  background-color: $green;
}

.oneNew {
  display: flex;
  position: relative;
  color: $white;

  h5 {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 23px;
      width: 50px;
      height: 1px;
      background-color: $white;
    }

    span {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  div {
    padding-bottom: 45px;
  }

  img {
    height: 230px;
    width: 290px;
    object-fit: cover;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    @include transition;
    position: absolute;
    right: 15px;
    bottom: 15px;

    display: inline-block;
    background: $orange;
    text-align: center;
    color: $lightBlueGreen;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    max-width: 240px;
    width: 100%;
    padding: 14px 0;
    margin-top: 60px;
    @include transition;

    &:hover {
      @include yellowButtonHover;
    }

  }

  &:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($main, 0.3);
      left: 0;
      bottom: 0;
    }
  }

  @include media(767) {
    display: grid;
    grid-template-columns: 1fr;
    img {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.pagination {
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 60px;

  .page-item {
    &.active {
      .page-link {
        z-index: 1;
        color: $white;
        background-color: $lightBlueGreen;
        border-color: $lightBlueGreen;

      }
    }

    .page-link:not(&.disabled) {
      color: $lightBlueGreen;
    }
  }

  .page-link:hover {
    color: $lightBlack !important;
  }

  .page-link:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}


/* ============================ end main menu ============================ */

.about {
  padding: 85px 0;
  background-color: $green;

  h3 {
    margin-top: 20px;
    color: $white;
    font-size: 42px;
    letter-spacing: 0;
    line-height: 52px;
    margin-bottom: 30px;
  }

  p {
    color: $white;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    background-color: $orange;
    max-width: 240px;
    width: 100%;
    padding: 14px 0;
    color: $lightBlueGreen;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    margin-top: 45px;
    border: 1px solid $orange;
    @include transition;

    &:hover {
      @include yellowButtonHover;
    }
  }

  .aboutImg {
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
    }
  }

  @include media(991) {
    padding-top: 50px;
    .aboutImg {
      img {
        max-height: 250px;
      }
    }
    h3 {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

.services {
  padding-top: 137px;
  padding-bottom: 98px;
  background-color: $lightWhite;
  position: relative;

  > img {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 830px;
    width: 100%;
  }

  h3 {
    color: $lightBlack;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 60px;
  }

  .oneService {
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 58px;
      height: 58px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $orange;
      left: 13px;
      top: 8px;
      z-index: 1;
      @include transition;
    }

    img {
      max-height: 55px;
      max-width: 55px;
      position: relative;
      z-index: 3;
    }

    p {
      position: relative;
      z-index: 3;
      margin-top: 30px;
      text-align: center;
      color: $lightBlack;
      font-size: 18px;
      letter-spacing: 0.69px;
      line-height: 25px;
      margin-bottom: 0;
    }

    &:hover {
      &::before {
        top: 0px;
      }
    }
  }

  @include media(991) {
    padding-bottom: 20px;
    > img {
      position: absolute;
      right: 15px;
      top: 15px;
      width: calc(100% - 30px);
    }
    h3 {
      font-size: 34px;
      line-height: 45px;
    }
    .oneService {
      margin-bottom: 60px;

      &::before {
        left: auto;
        right: calc(50% + 10px);
      }
    }
  }
}

.industries {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: $green;

  h3 {
    color: $white;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 60px;
  }

  .oneIndustry {
    text-align: center;
    position: relative;
    width: 100%;
    height: 242px;
    margin-bottom: 27px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(15, 58, 61, 0) 0%, $green 100%);
      width: 100%;
      height: 50%;
      bottom: -1px;
      left: 0;
      z-index: 3;
      pointer-events: none;
      @include transition;
    }


    &:hover {
      &::after {
        height: 150%;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    object-fit: cover;
  }

  p {
    position: absolute;
    z-index: 4;
    margin-top: 30px;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    text-align: center;
    bottom: 24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .moreIndustry {
    display: inline-block;
    background: $orange;
    text-align: center;
    color: $lightBlueGreen;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    max-width: 240px;
    width: 100%;
    padding: 14px 0;
    margin-top: 60px;
    @include transition;
    border: 1px solid $orange;

    &:hover {
      @include yellowButtonHover;
    }
  }

  @include media(991) {
    h3 {
      font-size: 34px;
      line-height: 45px;
    }
    .oneIndustry {
      margin-bottom: 60px;
    }
    .moreIndustry {
      margin-top: 0;
    }
  }
}

.solutions {
  padding-top: 98px;
  padding-bottom: 85px;
  background-color: $green;
  position: relative;

  .solutionsWrap {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  > img {
    pointer-events: none;

    &:first-of-type {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 435px;
      opacity: 0.1;
    }

    &:last-of-type {
      position: absolute;
      right: 0;
      top: 140px;
      width: 100%;
      max-width: 435px;
    }
  }

  h3 {
    color: $white;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 14px;

    &::after {
      content: '';
      position: absolute;
      height: 4px;
      width: 54px;
      background-color: $white;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .oneSolution {
    img {
      width: 100%;
      max-height: 350px;
      object-fit: cover;
      @include transition;
    }

    h4 {
      color: $white;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1.38px;
      line-height: 44px;
      margin-bottom: 23px;
      padding-top: 50px;
    }

    p {
      color: $white;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }

    &:hover {
      img {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }
  }

  .solutionRow {
    margin-top: 60px;
  }

  .solutionRowLast {
    position: relative;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      max-width: 460px;
      width: 100%;
      height: 180px;
      background-color: $lighterBlueGreen;
      left: 0;
      top: -90px;
      z-index: -1;
    }
  }

  @include media(991) {
    .solutionRow {
      margin-top: 10px;
    }
    h3 {
      font-size: 34px;
      line-height: 45px;
      margin-bottom: 0;
    }
    .oneSolution {
      img {
        max-height: 250px;
      }
    }
    .solutionRowLast::after {
      content: none;
    }
  }
}


/* todo preloader */

@mixin position-center($text-align: center) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: $text-align;
}

.loading {

  //background: linear-gradient(-45deg, $main, $main2);
  background-color: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-text {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;

  img {
    max-width: 500px;
    width: calc(100% - 30px);
  }

  span {
    display: inline-block;
    margin: 0 5px;
    color: $main;
    font-family: 'Quattrocento Sans', sans-serif;
    @for $i from 0 through 7 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s #{$i/5}s infinite linear alternate;
      }
    }
  }
}

.singleHeader {
  height: 700px;
  position: relative;

  @include rightMenu;
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba($black, 0.52), rgba($black, 0.8) 100%);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.bodyBlack {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 104;
  background-color: rgba($black, 0.45);
  opacity: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.clientCustomForms {
  max-width: 900px;
  max-height: calc(100% - 100px);
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 106;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  visibility: hidden;
  padding: 50px 40px 40px 40px;
  background-color: $lightWhite;

  .closeModal {
    position: absolute;
    font-size: 30px;
    line-height: 15px;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }

  h4 {
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  label[class="required"] {
    &::after {
      content: ' *';
      color: $required;
    }
  }

  input:not([type="checkbox"]),
  textarea,
  select {
    box-sizing: border-box;
    height: 41px;
    width: 100%;
    border: 1px solid rgba($lightGrey, 0.2);
    background-color: $white;
    padding: 10px 5px;
    color: $grey;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    display: block;
  }

  textarea {
    height: 120px;
  }


  input[type="checkbox"] {
    margin-top: 20px;
  }

  button.saveForm {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    background-color: $orange;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    font-size: 14px;
    @include transition;
    border: 1px solid $orange;

    &:hover {
      @include yellowButtonHover;
    }

  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  @include media(767) {
    padding: 50px 15px 40px 15px;;
  }
}

#cv,
#quote {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: end;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.select2-container .select2-search--inline .select2-search__field {
  font-size: 14px;
}

.select2-container--bootstrap .select2-selection--multiple,
.select2-container--bootstrap .select2-selection--single {
  height: 41px !important;
  line-height: 1.928571 !important;
}

.select2.select2-container.select2-container--bootstrap {
  width: 100% !important;
}

.select2-selection.select2-selection--multiple,
.select2-selection.select2-selection--single {
  box-sizing: border-box;
  height: 41px;
  width: 100%;
  border: 1px solid rgba(151, 151, 151, 0.2) !important;
  background-color: $white;
  padding: 0 5px;
  color: $grey;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  display: block;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  overflow-x: hidden;
  overflow-y: visible;

  .select2-selection__rendered {
    margin-bottom: 0;

    .select2-selection__choice {
      font-size: 12px;
    }
  }
}

.flashes {
  position: absolute;
  left: 50%;
  top: 100px;
  max-width: 800px;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 15;
  @include media(767) {
    .alert {
      top: 68px;
      font-size: 14px;
      margin-bottom: 0;
      padding: 10px 0;
    }
  }
}

.mainText .articleGrid {
  margin-top: 60px;
  max-width: 1230px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  grid-gap: 15px;

  .articleSingleGrid {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 242px;
    margin-bottom: 27px;
    padding-left: 0;
    padding-right: 0;


    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(15, 58, 61, 0) 0%, $green 100%);
      width: 100%;
      height: 50%;
      bottom: -1px;
      left: 0;
      z-index: 3;
      pointer-events: none;
    }

    p {
      position: absolute;
      z-index: 4;
      margin-top: 30px;
      color: $white;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 29px;
      text-align: center;
      bottom: 24px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

  }

  .text {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blackModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  z-index: 110;
}

.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $orange;
  border-left-color: $orange;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: load 1s infinite linear;
  -o-animation: load 1s infinite linear;
  animation: load 1s infinite linear;
  transform-origin: top left;

  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange;
    border-left-color: $orange;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: load 3s infinite linear;
    -o-animation: load 3s infinite linear;
    animation: load 3s infinite linear;
    transform-origin: top left;
  }

  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange;
    border-left-color: $orange;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: load 4s infinite linear;
    -o-animation: load 4s infinite linear;
    animation: load 4s infinite linear;
    transform-origin: top left;
  }
}

@keyframes load {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: $orange !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container--bootstrap .select2-dropdown {
  border-color: $orange !important;
}

.design {
  color: $white;

  a {
    color: $merx !important;
  }

  img {
    width: 25px;
    margin-bottom: 2px;

  }
}

.DashboardContainer {
  width: 100%;
  height: 47px;

  button:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .uppy-DragDrop-inner {
    padding: 5px 20px;

    svg {
      display: none;
    }
  }
}

.uppy-DragDrop--isDragDropSupported {
  border: 1px solid rgba(151, 151, 151, 0.2) !important;

}

.uppy-Root.uppy-u-reset.uppy-DragDrop-container.uppy-DragDrop--isDragDropSupported {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  .uppy-DragDrop-browse {
    color: $black;
  }

  .uppy-DragDrop-label {
    font-size: 14px;
    margin-bottom: 0;
  }

  .uppy-DragDrop-note {
    font-size: 12px;
  }
}


.uppyS {
  display: flex;

  label {
    max-width: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: $orange;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    border: 1px solid $orange;
  }
}

.uploaded-files {
  margin-top: 10px;

  ol {
    padding-left: 20px;

    a {
      color: $blackOrange;
      display: inline-block;
      margin-right: 15px;
    }

    span {
      font-size: 14px;
      cursor: pointer;
      margin-left: 5px;
    }
  }
}

.add-language-collection-widget,
.add-areas-of-expertise-widget {
  display: inline-block;
  max-width: 180px;
  width: 100%;
  color: $lightBlueGreen;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding: 14px 0;
  background-color: $orange;
  border: 1px solid $orange;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

div[id*='cv_languageSkills_'],
div[id*='cv_areasOfExpertises_'] {

  > div:first-of-type {
    margin-bottom: 15px;

    label {
      padding-left: 30px;
    }
  }

  > div:nth-of-type(2) {
    margin-bottom: 15px;
  }
}

#cv_languageSkills_1,
#cv_areasOfExpertises_1 {
  > div:first-of-type {
    label {
      padding-left: 0;
    }
  }
}

.uppyErrors {
  text-align: center;
  color: $required;
  font-size: 14px;
}

.oneExpertise,
.oneSkills {
  position: relative;
  margin-bottom: 15px;
}

.collRemove {
  position: absolute;
  left: 18px;
  top: 3px;
  margin-left: 0;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: $remove;
  color: $white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: none;
  line-height: 15px;
}