//$main: #002f3b;
//
//.mainText{
//  text-align: center;
//  max-width: 1200px;
//  width: 100%;
//  margin-left: auto;
//  margin-right: auto;
//}
//
//.swiper-container{
//  height: 700px;
//  img{
//    height: 100%;
//  }
//  .swiper-slide{
//    a{
//      height: 100%;
//      display: block;
//    }
//  }
//
//  @media screen and (max-width: 575px) {
//    height: 400px;
//  }
//}
//
//.sumTitle {
//  margin-top: 120px;
//  margin-bottom: 60px;
//  position: relative;
//
//  &::after {
//    content: '';
//    position: absolute;
//    width: 40px;
//    height: 2px;
//    background-color: $main;
//    left: 50%;
//    bottom: -15px;
//    -webkit-transform: translateX(-50%);
//    -moz-transform: translateX(-50%);
//    -ms-transform: translateX(-50%);
//    -o-transform: translateX(-50%);
//    transform: translateX(-50%);
//  }
//}