@import "variable";
//
//.oneNew {
//  display: flex;
//  position: relative;
//
//  h5 {
//    position: relative;
//
//    &::after {
//      content: '';
//      position: absolute;
//      left: 0;
//      bottom: 23px;
//      width: 50px;
//      height: 1px;
//      background-color: #000;
//    }
//
//    span {
//      margin-top: 5px;
//      font-size: 12px;
//    }
//  }
//
//  div {
//    padding-bottom: 45px;
//  }
//
//  img {
//    height: 230px;
//    width: 290px;
//    object-fit: cover;
//    margin-right: 15px;
//  }
//
//  a {
//    display: inline-block;
//    color: $homeBodyBgc;
//    border: 1px solid $homeBodyBgc;
//    padding: 8px 30px;
//    font-size: 14px;
//    font-weight: bold;
//    text-decoration: none;
//    @include transition;
//    position: absolute;
//    right: 15px;
//    bottom: 15px;
//
//    &:hover {
//      background-color: $main;
//      color: #ffffff;
//    }
//  }
//
//  &:not(:last-of-type) {
//    padding-bottom: 15px;
//    margin-bottom: 15px;
//
//    &::after {
//      content: '';
//      position: absolute;
//      //max-width: 500px;
//      width: 100%;
//      height: 1px;
//      background-color: rgba($main, 0.3);
//      left: 0;
//      bottom: 0;
//    }
//  }
//}
//
//
//header {
//  position: relative;
//  height: 700px;
//  width: 100%;
//}
//
//.main_section {
//  width: 100%;
//  height: 100%;
//  position: relative;
//  display: flex;
//  align-items: center;
//  margin-bottom: 20px;
//
//  .bgImage {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    left: 0;
//    top: 0;
//    overflow-y: hidden;
//
//    img {
//      width: 100%;
//      height: 100%;
//      object-fit: cover;
//      filter: blur(5px);
//    }
//
//    &::after {
//      position: absolute;
//      content: '';
//      width: 100%;
//      height: 100%;
//      left: 0;
//      top: 0;
//      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
//      //background: rgba(0, 0, 0, 0.6);
//      z-index: 1;
//    }
//  }
//
//  .single_image {
//    width: 80%;
//    height: 80%;
//    background-color: #000;
//    position: relative;
//    z-index: 2;
//    margin-left: auto;
//    margin-right: auto;
//    background-repeat: no-repeat;
//    background-position: center center;
//    -webkit-background-size: cover;
//    background-size: cover;
//
//    &::after {
//      content: '';
//      position: absolute;
//      left: 0;
//      top: 0;
//      width: 100%;
//      height: 100%;
//      background-color: rgba(0, 0, 0, 0.37);
//      z-index: -1;
//    }
//  }
//
//  .single_text {
//    color: #fff;
//    padding-left: 30px;
//    display: flex;
//    justify-content: center;
//    flex-direction: column;
//    height: 100%;
//    max-width: 600px;
//
//    h3 {
//      font-size: 24px;
//      font-weight: bold;
//      position: relative;
//      padding-bottom: 10px;
//
//      &::after {
//        content: '';
//        position: absolute;
//        width: 40%;
//        height: 2px;
//        bottom: 0;
//        left: 0;
//        background-color: #fff;
//      }
//    }
//
//    p {
//      font-weight: bold;
//      font-size: 14px;
//      line-height: 29px;
//    }
//  }
//
//  @media screen and (max-width: 575px) {
//    .single_image {
//      bottom: -25px;
//      padding-left: 15px;
//      padding-right: 15px;
//      width: 100%;
//
//      .single_text {
//        max-width: inherit;
//        padding-left: 0;
//        width: 100%;
//
//        p {
//          text-align: justify;
//        }
//      }
//    }
//  }
//}