@import "variable";

@font-face {
  font-family: 'mon';
  src: url('../font/Montserratarm-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mon';
  src: url('../font/Montserratarm-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}


html, body {
  font-family: 'mon', sans-serif !important;
  color: #383838;

}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.homeHeader {
  height: 100vh;

  .swiper-container {
    height: 100%;
  }
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  ul {
    margin-bottom: 0;
  }

  @include media(775) {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.scrolling {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 12;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  span {
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 50px;
    margin: 0 auto 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid $white;
    border-radius: 23px;

    &::after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $white;
      left: 50%;
      top: 10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: ani-mouse 1.5s infinite;
      -o-animation: ani-mouse 1.5s infinite;
      animation: ani-mouse 1.5s infinite;
    }
  }

  @include media(991) {
    display: none;
  }
}

/*---------------------
        nav
----------------------*/
.logoUl {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 80;
  padding: 22px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 0 #00000061;
  -moz-box-shadow: 0 0 3px 0 #00000061;
  box-shadow: 0 0 3px 0 #00000061;

  .navLinks {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    a {
      color: #383838;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: #7595a0;
        text-decoration: none;
      }
    }

    li {
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .navContact {
    min-height: 280px;
  }

  .navFlex {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: space-between;

    > .logo {
      margin-right: 15px;

      a {
        &::after {
          content: none;
        }
      }
    }


  }

  .logo a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
  }

  .logo img {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    height: 60px;
  }

  @include media(991) {
    padding: 15px;
    .logo {
      img {
        height: 40px;
      }
    }
    .unrealMenu {
      li:not(.burger) {
        display: none;
      }
    }

  }
}

.globalNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 10px 0;

  .globalLogo {
    img {
      height: 50px;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    a {
      color: $white;
      text-decoration: none;

    }
  }

  @include media(991) {
    .globalLogo {
      img {
        height: 40px;
      }
    }
  }
}

.globalLogo {
  padding-left: 0;
  list-style-type: none;
  z-index: 12;
  left: 36px;
  top: 10px;

  &.opened {
    position: fixed;
    z-index: 12;
    left: 75px;
    top: 22px;

  }

  @include media(991) {
    &.opened {
      left: 30px;
    }
  }
}

.vpNavigation {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba($black, 1);
  align-items: flex-start;
  justify-content: center;
  padding-top: 110px;
  display: none;

  &::after {
    content: '';
    position: absolute;
    max-width: 440px;
    width: 100%;
    max-height: 440px;
    height: 100%;
    background: url("../img/unreal/logoUnreal.svg");
    opacity: 0.15;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  > .container {
    height: 100%;
  }

  .divNavFix {
    min-height: 770px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_us {
    color: #fff;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    a {
      color: #fff !important;
    }

    p {
      margin-bottom: 3px;
      color: #fff;
    }

    .footerName {
      font-size: 20px;
      margin-bottom: 30px;
      color: #fff !important;
      font-weight: 200;
    }
  }

  ul.navUl {
    padding-left: 15px;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-height: 375px;

    li {
      display: inline-block;
      //text-align: center;

      a {
        color: $white;
        font-size: 60px;
        line-height: 75px;
        text-decoration: none;
        position: relative;
        @include transition;
        display: inline-block;
        font-weight: 100;

        &:hover {
          padding-top: 50px;
          padding-bottom: 50px;
          font-size: 100px;
          line-height: 151px;

          &::after {
            content: '';
            position: absolute;
            width: 186px;
            left: 0;
            bottom: 30px;
            height: 2px;
            background-color: $white;
            @include transition;
          }

          &::before {
            content: '';
            position: absolute;
            width: 186px;
            left: 0;
            top: 30px;
            height: 2px;
            background-color: $white;
            @include transition;
          }
        }
      }
    }

    @include media(991) {
      li {
        a {
          &:hover {
            font-size: 60px !important;
            line-height: 75px !important;
          }
        }
      }
    }
  }
}

.unrealMenu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  li {
    margin-right: 25px;

    a {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 3px;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 50%;
        bottom: 0;
        @include transition;
      }

      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    &.burger {
      a::after {
        content: none !important;
      }
    }
  }

  .burger {
    margin-right: 0;

    a {
      display: flex;
      width: 36px;
      height: 36px;
      justify-content: flex-end;
      align-items: center;

      span {
        width: 36px;
        height: 2px;
        background-color: $white;
        position: relative;
        //@include transition;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 36px;
          height: 2px;
          background-color: $white;
          right: 0;
          top: -8px;
          -webkit-transition: 0.2s all;
          -moz-transition: 0.2s all;
          -ms-transition: 0.2s all;
          -o-transition: 0.2s all;
          transition: 0.2s all;
        }

        &::before {
          top: 8px;
        }
      }

      &:hover {
        span {

          &::after {
            top: -10px;
          }

          &::before {
            top: 10px;
          }
        }
      }
    }
  }

  &.active {
    position: fixed;
    z-index: 12;
    right: 75px;
    top: 22px;

    li:not(.burger) {
      display: none;
    }

    a {
      span {
        background-color: transparent;
        width: 100%;

        &::after,
        &::before {
          top: 0 !important;
          left: 0;
          width: 100%;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -moz-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -ms-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -o-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
        }

        &::before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include media(991) {
    &.active {
      right: 30px;
    }
  }
}


/* slider */

.swiper-container {
  width: 100%;
  height: 700px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 65;
    }
  }

  .galleryInfo {
    @include galleryInfo;
    @include media(991) {
      max-width: none;
      top: 0;
      padding: 20px 15px;
      h2{
        left: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }
  }

  @media screen and (max-width: 575px) {
    height: 400px;
  }
}

/*-------------------
      menu button
---------------------*/


.menu_button {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;

  span {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: $main;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &::before, &::after {
      content: '';
      width: 24px;
      height: 2px;
      background-color: $main;
      position: absolute;
      z-index: 5;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    //display: block;
  }
}


/*-------------------
    contact section
--------------------*/
#map {
  margin-top: 60px;
  height: 180px;
  width: 100%;
}

/*-------------------
    footer
---------------------*/

footer {
  img {
    width: 70px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: $black;
      margin-bottom: 5px;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: #c24747;
          text-decoration: none;
        }

        &.direction {
          color: #c24747;
        }
      }

      &:first-of-type {
        margin-bottom: 15px;
        font-weight: 700;
      }

      &.direction a {
        color: #c24747;
      }

      span {
        color: #909aa3;
      }
    }
  }

  .design {
    color: #1b69b5;

    a {
      color: #63b450;
    }

    img {
      width: 25px;
      margin-bottom: 2px;
    }
  }

  .social {
    margin-bottom: 0;
    display: flex;

    li {
      margin-bottom: 0 !important;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;

      a {
        &:hover {
          i {
            color: $main;
          }
        }
      }
    }
  }
}

.copyright {
  margin-top: 60px;
  background-color: #000;
  color: $white;
  font-size: 10px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 18px 0;
}


.necessary {
  margin: 100px 0;
  text-align: center;

  h2 {
    font-weight: 600;
  }

  .services {
    text-align: left;
    margin-top: 80px;

    h4 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }


    img {
      display: inline-block;
      margin-bottom: 15px;
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.counts {
  padding: 60px 0;
  background-color: #383838;
  color: #fff;
  margin-bottom: 50px;

  .oneCount {
    display: flex;
    align-items: center;

    .val {
      position: relative;
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
      margin-right: 30px;

      &::after {
        content: '';
        font-weight: normal;
        position: absolute;
        width: 1px;
        height: calc(100% - 20px);
        top: 10px;
        background-color: #a1a1a1;
        right: -15px;
      }
    }

    .mode {
      color: #7595a0;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  @include media(776) {
    .oneCount {
      display: block;
      text-align: center;

      .val {
        margin-right: 0;

        &::after {
          content: none;
        }
      }

      .mode {
        margin-bottom: 10px;
      }
    }
  }
}

.allNews {

  position: relative;
  z-index: 1;
  background: no-repeat center center;
  margin-top: 0;
  padding: 80px 0;

  .newsBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &.rightBg {
      left: auto;
      right: 0;
    }
  }

  .newsContainer {
    position: relative;
    z-index: 2;

    h2 {
      font-size: 30px;
      line-height: 38px;
      //margin-bottom: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h5 {
      color: #7595a0;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      line-height: 25px;
    }

  }

  @include media(991) {
    padding: 30px 0;
    .newsBg {
      position: relative;
      width: 100%;
      height: 300px;
    }
  }
}

#contact {
  margin-top: 100px;

  .contactForm {
    input, textarea {
      display: block;
      max-width: 100%;
      padding: 10px;
      background-color: transparent;
      width: 100%;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      font-size: 12px;
    }

    button {
      margin-top: 20px;
      display: inline-block;
      font-weight: 900;
      text-transform: uppercase;
      padding: 10px 20px;
      border: 2px solid #383838;
      color: #383838;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      background-color: #fff;

      &:hover {
        border-color: #7595a0;
        color: #7595a0;
      }
    }
  }
}

.contact_us {
  h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #383838;
  }

  h4 {
    color: #7595a0;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;

    & + p {
      font-size: 14px;
    }

  }

  i {
    color: #7595a0;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
    color: #383838;
  }

  .links {
    margin-top: 75px;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-right: 15px;

      a {
        font-size: 18px;
      }
    }
  }
}

/********************************************************/

.mb-15 {
  @media screen and (min-width: 767px) {
    margin-bottom: 90px;
  }
}

.ict_one_blue {
  .padd {
    h6 {
      &::before {
        content: none;
      }
    }
  }
}


#scrollTop {
  > div:last-of-type {
    > div {
      padding-bottom: 0;
    }
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  75% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
}


/* login */
.loginForm {
  background-image: url('../img/bb.jpg') ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.8);
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.loginPage {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 220px 15px 120px;
  position: relative;
  z-index: 3;
  color: $white;

  input:not([type="checkbox"]) {
    background-color: rgba($white, 0.5);
    @include transition;
    width: 100%;

    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      background-color: rgba($white, 0.8);
    }

    &:focus {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
      border-color: #ced4da;
      outline: 0;
    }
  }

  label {
    margin-bottom: 0;
  }

  .submitButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    label {
      margin-right: 10px;
      cursor: pointer;

      + input {
        vertical-align: middle;
      }
    }

    button {
      font-size: 14px;
      background-color: $yellow;
      padding: 5px 25px;
      border: 2px solid $yellow;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      color: $white;

      &:hover {
        background-color: transparent;
        //color: $yellow;
      }
    }

    a {
      color: $yellow;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 150px;
  }
}

/* news */


.oneNew {
  display: flex;
  position: relative;

  h5 {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 23px;
      width: 50px;
      height: 1px;
      background-color: $black;
    }

    span {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  div {
    padding-bottom: 45px;
  }

  img {
    height: 230px;
    width: 290px;
    object-fit: cover;
    margin-right: 15px;
  }

  a {
    display: inline-block;
    color: $homeBodyBgc;
    border: 1px solid $homeBodyBgc;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    @include transition;
    position: absolute;
    right: 15px;
    bottom: 15px;

    &:hover {
      background-color: $main;
      color: $white;
    }
  }

  &:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($main, 0.3);
      left: 0;
      bottom: 0;
    }
  }

  @include media(767) {
    display: grid;
    grid-template-columns: 1fr;
    img {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

/* news Single */
.singleHeader {
  position: relative;
  //margin-top: 20px;
  height: 700px;
  width: 100%;
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}


/* ============================ sub menu ============================ */
.subBanner {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: 60px auto;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 2;
  }

  img {
    height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
  }

  .bannerOverview {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
    z-index: 9;
  }
}

header {
  margin-top: 100px;
  position: relative;
  width: 100%;
  background-color: #000;

  .imgUnreal {
    opacity: 1;
    height: auto;
    width: 100%;
    max-width: 640px;

  }

  @include media(991) {
    height: 300px;
    margin-top: 70px;
    h2 {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 48px;
      bottom: auto;
      left: 50%;
      top: 50%;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      //background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.single {
  margin-top: 60px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}

.pagination {
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 60px;

  .page-item {
    &.active {
      .page-link {
        z-index: 1;
        color: $white;
        background-color: $main;
        border-color: $main;

      }
    }

    .page-link:not(&.disabled) {
      color: $main;
    }
  }

  .page-link:hover {
    color: $black !important;
  }

  .page-link:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.blue .articleMore {
  a {
    position: relative;
    text-transform: uppercase;
    border: 2px solid $yellow;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      right: 14px;
      width: 10px;
      height: 10px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
  }
}

.articleText {
  padding: 150px;
  width: 100%;
  @include media(991) {
    padding: 30px;
  }
}

.articleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 60px;

  .articleSingleGrid {
    a {
      display: block;
    }

    p {
      margin-top: 5px;
      margin-bottom: 0;
      color: $main;
      font-size: 14px;

      &:first-of-type {
        font-weight: bold;
        font-size: 15px;
      }

      &:nth-of-type(2) {
        margin-top: 0;
      }
    }

    .text {
      background-color: $white;
      display: flex;
      align-items: center;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 16px solid;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 100%;
        border-bottom-width: 0;
        border-color: $white transparent;
        z-index: 4;
      }

      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: rgba(53, 55, 56, 0.2);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 32px;
      }
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* ============================ end sub menu ============================ */


/* ============================ main menu ============================ */

.mainText {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  p {
    margin-bottom: 20px;
  }
}

.swiper-container {

  img {
    height: 100%;
  }

  .swiper-slide {
    a {
      height: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 991px) {
    height: 300px;
  }
}

.sumTitle {
  margin-top: 120px;
  margin-bottom: 60px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $main;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* ============================ end main menu ============================ */


/* ============================ home ============================ */
/*--------------------
    white section
---------------------*/


.lawer {
  text-align: center;
  color: $white;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    margin-top: 15px;
  }

  img {
    width: 150px;
    margin-top: 15px;
  }

  .group_description {
    margin-top: 50px;
  }

  a {
    border: 1px solid $black;
    text-transform: uppercase;
    padding: 20px 25px;
    font-size: 14px;
    color: $white;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
    h1 {
      font-size: 35px;
      padding-top: 10px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}

/*--------------------
    grey section
---------------------*/

.grey {
  padding: 100px 0;

  .icon {
    display: inline-flex;
    width: 150px;
    height: 150px;
    padding: 25px;
    background-color: #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
    }
  }

  h5 {
    font-size: 26px;
    color: $black;
    margin-bottom: 20px;
  }

  h6 {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #4bbcaf;
  }

  p {
    color: $black;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    font-size: 16px;
  }

  .service {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 45px;
    margin-top: 50px;

    p {
      border: none;
    }
  }

  .service-middle {
    margin-top: -25px;
  }
}

.specifications {
  padding-top: 25px;
  padding-bottom: 25px;
  @include media(991) {
    padding: 0;
  }
}

.specificationTitle {
  h3 {
    font-size: 50px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 350px;
    position: relative;
    @include textiVereviGic($white);
  }

  @include media(575) {
    padding-top: 10px;
    h3 {
      max-width: none;
      font-size: 24px;
      text-align: center;

      &::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}


/* todo preloader */

@mixin position-center($text-align: center) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: $text-align;
}

.loading {
  background-color: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-text {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;

  img {
    max-width: 500px;
    width: calc(100% - 30px);
  }

  span {
    display: inline-block;
    margin: 0 5px;
    color: $main;
    font-family: 'Quattrocento Sans', sans-serif;
    @for $i from 0 through 7 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s #{$i/5}s infinite linear alternate;
      }
    }
  }
}

.deliverSection {
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsAArticle {
  .vewAllNews {
    color: $black;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #77CFD9;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        p {
          color: $white;
          letter-spacing: 1.5px;

          span {
            font-size: 10px;

          }
        }
      }
    }

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

/* ============================ end home ============================ */

/*=========================================== contacts*/
/*=========================================== contacts*/
/*=========================================== contacts*/
.contactHeader {
  img {
    pointer-events: none;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 230px;
    height: 230px;
  }
}

.unrealContact {
  > img {
    position: absolute;
    right: 135px;
    top: -62px;
    width: 190px;
    height: 190px;
    z-index: 2;
    pointer-events: none;
  }

  .map {
    -webkit-transform: translateY(155px);
    -moz-transform: translateY(155px);
    -ms-transform: translateY(155px);
    -o-transform: translateY(155px);
    transform: translateY(155px);

    #map {
      height: 260px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 36px;
      color: #fff;
    }
  }

  .contact_us {
    background-color: #000;
  }

  @include media(991) {
    #map {
      margin-top: 30px;
    }
    .map {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;

      p {
        color: #000;
      }
    }
  }
  @include media(991) {
    > img {
      display: none;
    }

  }
}

.unrealFooter {
  padding-top: 70px;
  background-color: #000;


  a {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 84px;
  }

  .links {
    display: flex;
    margin-top: 67px;

    li {
      margin-right: 35px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        background-color: #DA3161;
      }
    }
  }

  .contactCopyright {
    margin-top: 80px;
    background-color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 600;
  }

  @include media(991) {
    padding-top: 20px;
    .links {
      flex-wrap: wrap;

      li {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    a {
      font-size: 18px;
      line-height: 24px;
    }
  }
}