@import "main"


main
  .welcome
    //margin-top: -75px
    position: relative
    z-index: 6
    +center
    padding: 65px 70px 45px
    background-color: #fff
    -webkit-box-shadow: 0 0 4px 0 #737373
    -moz-box-shadow: 0 0 4px 0 #737373
    box-shadow: 0 0 4px 0 #737373
    font-family: roboto-regular, sans-serif

    .welcomeTitle
      font-size: 26px
      font-weight: bold
      text-transform: uppercase
      color: rgba(51, 51, 51, 255)
      margin-bottom: 27px

    p
      font-size: 14px
      color: rgba(51, 51, 51, 255)

  .expertise
    +center
    margin-top: 68px

    .expertiseTitle
      @include sectionTitle

    .expertiseGrid
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))
      grid-gap: 100px 30px

      > div
        position: relative
        cursor: pointer
        //overflow: hidden
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)
        -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)

        .expText
          pointer-events: none
          position: absolute
          bottom: -50px
          -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)
          -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32)
          width: 90%
          left: 50%
          -webkit-transform: translateX(-50%)
          -moz-transform: translateX(-50%)
          -ms-transform: translateX(-50%)
          -o-transform: translateX(-50%)
          transform: translateX(-50%)
          background-color: #fff
          z-index: 2
          padding: 20px 10px
          @include transition
          opacity: 1
          visibility: visible
          height: 127px
          display: flex
          flex-direction: column
          justify-content: space-between

        div
          > p
            font-size: 16px
            color: $lightBlue
            margin-bottom: 0

            &.expertiseName
              font-size: 18px
              -ms-text-overflow: ellipsis
              text-overflow: ellipsis
              width: 100%
              overflow: hidden
              white-space: nowrap

            &.expertisePrice
              font-size: 26px
              font-weight: 600

            &.expertiseSaleCount
              color: #000
              font-size: 16px
              display: flex
              justify-content: space-between

            &.expHidden
              opacity: 0
              visibility: hidden
              +transition
              margin-top: 20px
              text-align: center
              color: #333

        a
          text-decoration: none


        .expertiseImg
          @include transition
          width: 100%
          height: 310px
          position: relative

        &:hover
          &::after
            opacity: 0

          .expText
            bottom: 0
            width: 100%
            height: 100%

            .expHidden
              opacity: 1
              visibility: visible


        img
          width: 100%
          height: 100%
          -o-object-fit: cover
          object-fit: cover


    +media(575)
      .expertiseGrid
        > div
          .expertiseImg
            height: 210px
          p
            &.expertiseSaleCount
              flex-direction: column
            &.expertisePrice
              font-size: 18px !important

  .banner
    margin-top: 80px
    position: relative
    background-image: url('../img/banner.png')
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
    padding-top: 95px
    padding-bottom: 95px

    &::after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.28)
      left: 0
      top: 0
      z-index: 1

    > img
      position: absolute
      right: 180px
      width: 373px
      bottom: 0
      z-index: 3

    > div
      +center
      position: relative
      z-index: 2

    .bannerTitle
      font-size: 39px
      color: #ffffff
      font-weight: bold
      font-family: roboto-regular, sans-serif
      margin-bottom: 38px

    p
      max-width: 640px
      width: 100%
      font-size: 22px
      margin-bottom: 66px
      color: #fff

    a
      font-family: roboto-regular, sans-serif
      background-color: $lightBlue
      font-size: 18px
      padding: 13px 36px
      color: #ffffff
      display: inline-block
      text-decoration: none
      text-transform: uppercase
      font-weight: 600
      +transition
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      position: relative

      &::after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 2px
        background-color: $blue
        -webkit-border-radius: 0 0 2px 2px
        -moz-border-radius: 0 0 2px 2px
        border-radius: 0 0 2px 2px

      &:hover
        -webkit-transform: translateY(-5px)
        -moz-transform: translateY(-5px)
        -ms-transform: translateY(-5px)
        -o-transform: translateY(-5px)
        transform: translateY(-5px)


  .turnaround
    +center
    margin-top: 120px
    margin-bottom: 50px

    .turnaroundTitle
      +sectionTitle

    .scrollTable

      overflow: auto

    table
      min-width: 350px
      width: 100%

      thead

        th
          text-align: center
          color: #fff
          padding: 40px 0
          font-size: 20px

          &:nth-of-type(1)
            background-color: #235b73

          &:nth-of-type(2)
            background-color: #3281a3

          &:nth-of-type(3)
            background-color: #49a8d6

      tbody
        tr
          &:nth-of-type(1)
            background-color: #e1e1e1

          &:nth-of-type(2)
            background-color: #e9e9e9

          &:nth-of-type(3)
            background-color: #f3f3f3

          td
            padding: 25px 0
            font-size: 20px
            text-align: center
            font-weight: 600
            text-transform: uppercase
            color: $blue

            &:nth-of-type(2)
              position: relative

              &::after, &::before
                content: ''
                position: absolute
                width: 1px
                height: 60%
                background-color: $blue
                left: 0
                top: 50%
                -webkit-transform: translateY(-50%)
                -moz-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
                -o-transform: translateY(-50%)
                transform: translateY(-50%)

              &::before
                left: auto
                right: 0


  .testimonials
    margin-top: 120px
    margin-bottom: 40px
    +center

    .testimonialsTitle
      +sectionTitle

    .testimonialsSlider
      +center
      max-width: 1030px
      padding-left: 15px
      padding-right: 15px

      .slick-dots
        left: 0

        li button:before
          font-size: 13px
          color: rgba(5, 153, 227, 255)

      div.slide
        text-align: center
        display: flex !important
        grid-template-columns: 200px 1fr
        justify-content: space-between
        align-items: center


        p
          text-align: center
          margin-bottom: 10px
          font-size: 14px
          line-height: 22px
          font-family: roboto-regular, sans-serif

        span
          text-align: center
          color: rgba(5, 153, 227, 255)
          font-size: 20px
          text-transform: uppercase
          font-family: roboto-regular, sans-serif

      img
        width: 200px
        height: 200px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        -o-object-fit: cover
        object-fit: cover
        border: 2px solid $blue
        margin-right: 80px


  +media(991)
    .welcome
      //margin-top: -50px
      padding-left: 0
      padding-right: 0
      width: calc(100% - 30px)
      margin-left: 15px
      padding-top: 30px

      h3
        text-align: center

    .turnaround
      table
        thead
          th
            padding: 20px 15px
            font-size: 18px
            white-space: nowrap

        tbody
          tr
            td
              padding: 15px
              font-size: 14px
              white-space: nowrap

    .banner
      > img
        display: none

      > div
        text-align: center

        h3
          text-align: center

        p
          margin-left: auto
          margin-right: auto
    .testimonials
      .testimonialsSlider
        div.slide
          display: block !important
          text-align: center

          img
            margin-left: auto
            margin-right: auto
            margin-bottom: 15px



.feedbackModal
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  z-index: 825
  opacity: 0
  visibility: hidden
  -webkit-transition: 0.3s all
  -moz-transition: 0.3s all
  -ms-transition: 0.3s all
  -o-transition: 0.3s all
  transition: 0.3s all
  padding-bottom: 25px
  overflow: auto
  &.open
    opacity: 1
    visibility: visible

.feedback
  margin-top: 30px
  background-color: #fff
  padding: 20px
  position: relative

  .closeModal
    max-width: none
    width: auto
    top: 15px
    right: 15px
    position: absolute
    z-index: 4

  h2
    text-align: center
    font-size: 20px
    line-height: 22px
    text-transform: uppercase
    position: relative
    margin-bottom: 40px

  input:not([type="radio"]), textarea
    width: 100%

  input:not([type="radio"])
    padding: 5px
    font-size: 14px

  textarea
    height: 150px
    padding: 5px

  button
    background-color: $blue
    color: #fff
    border: 1px solid $blue
    outline: none
    max-width: 160px
    width: 100%
    margin: auto
    padding: 5px 10px
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all

    &:hover
      background-color: #fff
      color: $blue



.rate
  display: inline-block
  margin: 0
  padding: 0
  border: none
  text-align: center

  /* Half-star
  //


  input
    position: absolute
    visibility: hidden
    opacity: 0
    pointer-events: none
    width: auto !important

  label
    float: right
    font-size: 0
    color: #d9d9d9
    margin: 0 5px
    cursor: pointer

    &:before
      content: "\f005"
      font-family: FontAwesome
      font-size: 30px

    &:hover
      color: #fcd000
      transition: 0.2s

      ~ label
        color: #fcd000
        transition: 0.2s

  input:checked ~ label
    color: #fcd000

    &:hover
      color: #fcd000
      transition: 0.2s

      ~ label
        color: #fcd000
        transition: 0.2s

  .star-half
    position: relative

    &:before
      position: absolute
      content: "\f089"
      padding-right: 0