$main: #002f3b;

.subBanner {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: 60px auto;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 2;
  }

  img {
    height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
  }

  .bannerOverview {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 9;
  }
}

header {
  position: relative;
  height: 700px;
  width: 100%;
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      //background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: #000;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: #fff;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.single {
  margin-top: 60px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}

.pagination {
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 60px;

  .page-item {
    &.active {
      .page-link {
        z-index: 1;
        color: #fff;
        background-color: $main;
        border-color: $main;

      }
    }

    .page-link:not(&.disabled) {
      color: $main;
    }
  }

  .page-link:hover {
    color: #000 !important;
  }

  .page-link:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.articleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 60px;

  .articleSingleGrid {
    a {
      display: block;
    }

    p {
      margin-top: 5px;
      margin-bottom: 0;
      color: $main;
      font-size: 14px;

      &:first-of-type {
        font-weight: bold;
        font-size: 15px;
      }

      &:nth-of-type(2) {
        margin-top: 0;
      }
    }

    .text {
      background-color: #fff;
      display: flex;
      align-items: center;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 16px solid;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 100%;
        border-bottom-width: 0;
        border-color: #fff transparent;
        z-index: 4;
      }

      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: rgba(53, 55, 56, 0.2);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 32px;
      }
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}