@import "variable";

@font-face {
  font-family: 'sans';
  src: url('../font/SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../font/SourceSansPro-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../font/SourceSansPro-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../font/SourceSansPro-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../font/SourceSansPro-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@mixin textShadow() {
  text-shadow: -2px 3px 1px #2CE5DB, 1px -2px 1px #DA3161;
}

html, body {
  font-family: 'sans', sans-serif !important;

}

@keyframes rgbglitch {
  0% {
    text-shadow: 2px 0 2px #DA3161,
    -2px 0px 2px #2CE5DB;
  }

  12% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }

  25% {
    text-shadow: -4px 0px 2px #DA3161,
    2px 2px 2px #2CE5DB;
  }

  37% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }

  40% {
    text-shadow: -0px 4px 2px #DA3161,
    -4px 0px 2px #2CE5DB;
  }

  42% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }

  43% {
    text-shadow: 0 0 2px #DA3161,
    0 10px 2px #2CE5DB;
  }

  44% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }

  46% {
    text-shadow: -4px 2px 2px #DA3161,
    -4px 0px 2px #2CE5DB;
  }

  50% {
    text-shadow: -0px 2px 2px #DA3161,
    -2px 0px 2px #2CE5DB;
  }

  62% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }

  75% {
    text-shadow: 0px -4px 2px #DA3161,
    2px 0px 2px #2CE5DB;
  }

  86% {
    text-shadow: 0 0 2px #DA3161,
    0 0 2px #2CE5DB;
  }
}

@keyframes rgbglitch2 {
  0% {
    -webkit-box-shadow: 2px 0 2px #DA3161, -2px 0px 2px #2CE5DB;;
    -moz-box-shadow: 2px 0 2px #DA3161, -2px 0px 2px #2CE5DB;;
    box-shadow: 2px 0 2px #DA3161, -2px 0px 2px #2CE5DB;;
  }

  12% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }

  25% {
    -webkit-box-shadow: -4px 0px 2px #DA3161, 2px 2px 2px #2CE5DB;;
    -moz-box-shadow: -4px 0px 2px #DA3161, 2px 2px 2px #2CE5DB;;
    box-shadow: -4px 0px 2px #DA3161, 2px 2px 2px #2CE5DB;;
  }

  37% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }

  40% {
    -webkit-box-shadow: -0px 4px 2px #DA3161, -4px 0px 2px #2CE5DB;;
    -moz-box-shadow: -0px 4px 2px #DA3161, -4px 0px 2px #2CE5DB;;
    box-shadow: -0px 4px 2px #DA3161, -4px 0px 2px #2CE5DB;;
  }

  42% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }

  43% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 10px 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 10px 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 10px 2px #2CE5DB;;
  }

  44% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }

  46% {
    -webkit-box-shadow: -4px 2px 2px #DA3161, -4px 0px 2px #2CE5DB;;
    -moz-box-shadow: -4px 2px 2px #DA3161, -4px 0px 2px #2CE5DB;;
    box-shadow: -4px 2px 2px #DA3161, -4px 0px 2px #2CE5DB;;
  }

  50% {
    -webkit-box-shadow: -0px 2px 2px #DA3161, -2px 0px 2px #2CE5DB;;
    -moz-box-shadow: -0px 2px 2px #DA3161, -2px 0px 2px #2CE5DB;;
    box-shadow: -0px 2px 2px #DA3161, -2px 0px 2px #2CE5DB;;
  }

  62% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }

  75% {
    -webkit-box-shadow: 0px -4px 2px #DA3161, 2px 0px 2px #2CE5DB;;
    -moz-box-shadow: 0px -4px 2px #DA3161, 2px 0px 2px #2CE5DB;;
    box-shadow: 0px -4px 2px #DA3161, 2px 0px 2px #2CE5DB;;
  }

  86% {
    -webkit-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    -moz-box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
    box-shadow: 0 0 2px #DA3161, 0 0 2px #2CE5DB;;
  }
}

.glitchLink {
  &:hover {
    animation: rgbglitch 4s infinite;
  }
}

.text1.text {
  cursor: default;

  &:hover {
    animation: rgbglitch 4s infinite;
  }
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.homeHeader {
  height: 100vh;

  .swiper-container {
    height: 100%;
  }
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.scrolling {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 12;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  span {
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 50px;
    margin: 0 auto 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid $white;
    border-radius: 23px;

    &::after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $white;
      left: 50%;
      top: 10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: ani-mouse 1.5s infinite;
      -o-animation: ani-mouse 1.5s infinite;
      animation: ani-mouse 1.5s infinite;
    }
  }
}

.homeTwoHeader {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  @include transition;

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  a {
    position: relative;
    overflow: hidden;
    width: 50%;
    @include transition;

    &:first-of-type {
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $white, transparent);
        right: -1px;
        top: 0;
        z-index: 12;
        pointer-events: none;
      }
    }

    &:hover {
      img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }

    &:hover {
      width: calc(50% + 150px);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .galleryInfo {
    @include galleryInfo;
    max-width: none;

    h2 {
      font-size: 48px;
      position: relative;
      padding-top: 15px;

      @include textiVereviGic($white);
    }
  }

  @include media(991) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    a {
      width: 100%;

      &:first-of-type {
        &::before {
          content: none;
        }
      }

      &:hover {
        width: 100%;
      }
    }
    .galleryInfo {
      padding: 30px 20px 30px 20px;
      max-width: 800px;
      height: auto;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }

  .scrolling {
    span {
      width: 21px;
      height: 35px;
    }
  }
}

/*---------------------
        nav
----------------------*/
.logoUl {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 80;
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  //background: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;

  .navContact {
    min-height: 280px;
  }

  .navFlex {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;

    > .logo {
      margin-right: 15px;

      a {
        &::after {
          content: none;
        }
      }
    }


  }

  .logo a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
  }

  .logo img {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    height: 60px;
  }

  @include media(991) {
    padding-left: 15px;
    padding-right: 15px;
    .unrealMenu {
      li:not(.burger) {
        display: none;
      }
    }
  }
}

.globalNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 10px 0;

  .globalLogo {
    img {
      height: 50px;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    a {
      color: $white;
      text-decoration: none;

    }
  }

  @include media(991) {
    .globalLogo {
      img {
        height: 40px;
      }
    }
  }
}

.globalLogo {
  padding-left: 0;
  list-style-type: none;
  z-index: 12;
  left: 36px;
  top: 10px;

  &.opened {
    position: fixed;
    z-index: 12;
    left: 75px;
    top: 22px;

  }

  @include media(991) {
    &.opened {
      left: 30px;
    }
  }
}

.vpNavigation {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba($black, 1);
  align-items: flex-start;
  justify-content: center;
  padding-top: 110px;
  display: none;

  &::after {
    content: '';
    position: absolute;
    max-width: 440px;
    width: 100%;
    max-height: 440px;
    height: 100%;
    background: url("../img/unreal/logoUnreal.svg");
    opacity: 0.15;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  > .container {
    height: 100%;
  }

  .divNavFix {
    min-height: 770px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_us {
    color: #fff;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    a {
      color: #fff !important;
    }

    p {
      margin-bottom: 3px;
      color: #fff;
    }

    .footerName {
      font-size: 20px;
      margin-bottom: 30px;
      color: #fff !important;
      font-weight: 200;
    }
  }

  ul.navUl {
    padding-left: 15px;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-height: 375px;

    li {
      display: inline-block;
      //text-align: center;

      a {
        color: $white;
        font-size: 60px;
        line-height: 75px;
        text-decoration: none;
        position: relative;
        @include transition;
        display: inline-block;
        font-weight: 100;

        &:hover {
          padding-top: 50px;
          padding-bottom: 50px;
          font-size: 100px;
          line-height: 151px;
          animation: rgbglitch 4s infinite;

          @include textShadow;

          &::after {
            content: '';
            position: absolute;
            width: 186px;
            left: 0;
            bottom: 30px;
            height: 2px;
            background-color: $white;
            @include transition;
          }

          &::before {
            content: '';
            position: absolute;
            width: 186px;
            left: 0;
            top: 30px;
            height: 2px;
            background-color: $white;
            @include transition;
          }
        }
      }
    }

    @include media(991) {
      li {
        a {
          &:hover {
            font-size: 60px !important;
            line-height: 75px !important;
          }
        }
      }
    }
  }
}

.unrealMenu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  li {
    margin-right: 25px;

    a {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 3px;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 50%;
        bottom: 0;
        @include transition;
      }

      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    &.burger {
      a::after {
        content: none !important;
      }
    }
  }

  .burger {
    margin-right: 0;

    a {
      display: flex;
      width: 36px;
      height: 36px;
      justify-content: flex-end;
      align-items: center;

      span {
        width: 36px;
        height: 2px;
        background-color: $white;
        position: relative;
        //@include transition;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 36px;
          height: 2px;
          background-color: $white;
          right: 0;
          top: -8px;
          -webkit-transition: 0.2s all;
          -moz-transition: 0.2s all;
          -ms-transition: 0.2s all;
          -o-transition: 0.2s all;
          transition: 0.2s all;
        }

        &::before {
          top: 8px;
        }
      }

      &:hover {
        span {

          &::after {
            top: -10px;
          }

          &::before {
            top: 10px;
          }
        }
      }
    }
  }

  &.active {
    position: fixed;
    z-index: 12;
    right: 75px;
    top: 22px;

    li:not(.burger) {
      display: none;
    }

    a {
      span {
        background-color: transparent;
        width: 100%;

        &::after,
        &::before {
          top: 0 !important;
          left: 0;
          width: 100%;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -moz-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -ms-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -o-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
        }

        &::before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include media(991) {
    &.active {
      right: 30px;
    }
  }
}


/* slider */

.swiper-container {
  width: 100%;
  height: 700px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 65;
    }
  }

  .galleryInfo {
    @include galleryInfo;
  }

  @media screen and (max-width: 575px) {
    height: 400px;
  }
}

/*-------------------
      menu button
---------------------*/


.menu_button {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;

  span {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: $main;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &::before, &::after {
      content: '';
      width: 24px;
      height: 2px;
      background-color: $main;
      position: absolute;
      z-index: 5;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: block;
  }
}


/*-------------------
    contact section
--------------------*/
#map {
  margin-top: 60px;
  height: 180px;
  width: 100%;
}

.contact {
  position: relative;
  padding: 50px 0 0;
  background-color: $white;
  color: $white;

  .contactForm {
    margin-top: 60px;

    > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
      margin-bottom: 25px;
    }
  }

  #send {
    text-align: center;
    position: relative;
    margin-top: 30px;
    display: inline-block;

    button {
      background-color: $black;
      color: $white;
      padding: 12px 70px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      position: relative;
      z-index: 4;
    }

    //&::after,
    //&::before {
    //  content: '';
    //  position: absolute;
    //  width: 80%;
    //  height: 100%;
    //  top: -3px;
    //  left: 0;
    //  background-color: $unrealPink;
    //  z-index: 0;
    //  @include transition;
    //}

    //&::before {
    //  background-color: $unrealBlue;
    //  left: auto;
    //  top: auto;
    //  right: 0;
    //  bottom: -3px;
    //  z-index: 0;
    //}

    &:hover {
      animation: rgbglitch2 4s infinite;
    }
  }

  .links {

    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      padding: 0px;

      a {
        padding: 5px;
      }
    }
  }

  h3 {
    font-weight: 200;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 15px;
    color: #000;
    position: relative;
    z-index: 4;

    b {
      font-weight: 600;
    }
  }

  p {
    font-size: 14px;
  }

  a {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  input, textarea {
    display: block;
    width: 100%;
    border: 1px solid #979797;
    color: $black;
    padding: 12px 20px;

    &::placeholder {
      color: rgba(#000, 0.4) !important;
    }
  }

  textarea {
    height: 105px;
    @media screen and (max-width: 767px) {
      height: 140px;
    }
  }

  input::placeholder, textarea::placeholder {
    color: $white;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  .footerName {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    margin-bottom: 5px;
  }

  @include media(991) {
    padding-top: 0;
    input, textarea {
      width: 100%;
    }
    h3 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 0;
    }
    .contactForm {
      margin-top: 20px;

      > div {
        grid-template-columns: 1fr;
      }
    }
  }
}

.contact_us {
  margin-top: 100px;
  margin-bottom: 40px;

  .footerName {
    color: $black;
  }

  li {
    a {
      color: #505050;
      text-decoration: underline;
    }
  }

  p {
    color: #505050;

    a {
      color: #505050;
    }
  }

  img {
    display: block;
    margin: 0 auto 30px;
    max-width: 250px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    margin-top: 20px;
    .footerName {
      margin-bottom: 10px;
    }
  }
}

/*-------------------
    footer
---------------------*/

footer {
  //margin-top: 50px;

  img {
    width: 70px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: $black;
      margin-bottom: 5px;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: #c24747;
          text-decoration: none;
        }

        &.direction {
          color: #c24747;
        }
      }

      &:first-of-type {
        margin-bottom: 15px;
        font-weight: 700;
      }

      &.direction a {
        color: #c24747;
      }

      span {
        color: #909aa3;
      }
    }
  }

  .design {
    color: #1b69b5;

    a {
      color: #63b450;
    }

    img {
      width: 25px;
      margin-bottom: 2px;
    }
  }

  .social {
    margin-bottom: 0;
    display: flex;

    li {
      margin-bottom: 0 !important;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;

      a {
        &:hover {
          i {
            color: $main;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    //padding: 30px 0 0;
  }
}

.copyright {
  //margin-top: 20px;
  background-color: #000;
  //border-top: 1px solid rgba(148, 110, 87, 0.44);
  color: $white;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 18px 0;
}

/* */

/*---------------------
      video section
----------------------*/

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(#000, 0.7);
  z-index: 12;
  opacity: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.buttons {
  button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;

    &::before {
      content: '\f144';
      font-family: "FontAwesome";
      width: 30px;
      height: 30px;
      display: inline-block;
      font-size: 28px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }

    &.play::before {
      content: '\f144';
    }

    &.pause::before {
      content: '\f28b';
    }
  }
}

.controlsBar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  cursor: pointer;
}

.controlsTrack {
  height: 10px;
  background-color: red;
}

/*---------------------
      video section
----------------------*/

/*---------------------
      blue section
----------------------*/
.topVideo {
  height: 740px;
  position: relative;

  .playVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;

    img {
      width: 90px;
      height: 90px;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    .controls {
      opacity: 1;
    }
  }

  @include media(991) {
    height: 500px;
  }

  @include media(575) {
    height: 280px;
  }
}

.anim {
  overflow-x: hidden !important;

  .leftAnim {
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    transform: translateX(-500px);
    -webkit-transition: 0.45s all;
    -moz-transition: 0.45s all;
    -ms-transition: 0.45s all;
    -o-transition: 0.45s all;
    transition: 0.45s all;
  }

  .rightAnim {
    opacity: 0;
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
    transform: translateX(500px);
    -webkit-transition: 0.45s all;
    -moz-transition: 0.45s all;
    -ms-transition: 0.45s all;
    -o-transition: 0.45s all;
    transition: 0.45s all;
  }
}

.about {
  padding-top: 98px;
  padding-bottom: 130px;

  h4 {
    padding: 5px;
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
  }

  a {
    color: #000;
    text-decoration: underline;
  }

  @include media(991) {
    padding-top: 30px;
    padding-bottom: 30px;
    h4 {
      font-size: 28px;
      line-height: 34px;
    }
    p {
      font-size: 16px;
    }
  }
}


.videosGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 273px 197px 197px;
  object-fit: cover;
  grid-gap: 17px;

  div {
    &:nth-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-of-type(2) {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-of-type(3) {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-of-type(4) {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &:nth-of-type(5) {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &:nth-of-type(6) {
      grid-column-start: 10;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &:nth-of-type(7) {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &:nth-of-type(8) {
      grid-column-start: 10;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  a {
    position: relative;
    display: block;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      z-index: 2;
      opacity: 0;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 74px);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 4;
      opacity: 0;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      color: #fff;
    }

    .arrow {
      width: 62px;
      height: auto;
      object-fit: none;
      position: absolute;
      right: 40px;
      bottom: 40px;
      opacity: 0;
      z-index: 4;
    }

    &:hover {
      &::before,
      span,
      .arrow {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media(991) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    > div {
      grid-column-start: initial !important;
      grid-column-end: initial !important;
      grid-row-start: initial !important;
      grid-row-end: initial !important;
    }
  }
}

.videos {
  background-image: linear-gradient(to bottom, #fff 145px, #000 145px);
  padding-bottom: 97px;

  .videoText {
    margin-top: 65px;

    p {
      font-size: 40px;
      line-height: 50px;
      color: #fff !important;
      margin-bottom: 96px;
    }

    a {
      color: #fff;
      text-decoration: underline;
      font-size: 20px;
      line-height: 25px;
    }
  }

  @include media(991) {
    .videoText {
      p {
        font-size: 22px;
        margin-bottom: 0;
        line-height: 32px;
      }

      a {
        font-size: 16px;
      }
    }
  }
}

.clients {
  padding-top: 90px;
  padding-bottom: 110px;
  position: relative;

  .clientLogo {
    position: absolute;
    right: 185px;
    top: -57px;
    width: 161px;
  }

  p {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 60px;
  }

  img {
    width: 161px;
    padding: 10px;
  }

  @include media(991) {
    padding-bottom: 15px;
    p {
      font-size: 22px;
      margin-bottom: 0;
      line-height: 32px;
    }
    img {
      max-width: 100%;
      max-height: 55px;
    }
    .clientLogo {
      left: 5px;
      right: auto;
    }
  }
}

.reel {
  position: relative;
  height: 564px;

  &:hover {
    .controls {
      opacity: 1;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .relText {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 89px;
    line-height: 112px;
    z-index: 12;
    color: #ffffff;
    font-weight: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
  }

  .playVideo {
    text-align: center;
    cursor: pointer;

    img {
      width: 90px;
      height: 90px;
    }
  }

  @include media(991) {
    height: 500px;
    .relText {
      font-size: 50px;
      line-height: 65px;
    }
  }

  @include media(575) {
    height: 280px;
  }
}

.services {
  background-color: #000;
  padding-top: 90px;
  padding-bottom: 68px;

  h3 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  a {
    font-size: 20px;
    line-height: 25px;
    opacity: 0.7;
    text-decoration: underline;
    color: #fff;
  }

  .oneService {
    max-width: 243px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;

    &.service2 {
      &:hover {
        .oneServiceLogo {
          -webkit-animation: circle1 2s infinite linear reverse;
          -o-animation: circle1 2s infinite linear reverse;
          animation: circle1 2s infinite linear reverse;
        }
      }

    }

    &.service3 {
      .oneServiceLogo {
        -webkit-transform: translate(-87px, 0) !important;
        -moz-transform: translate(-87px, 0) !important;
        -ms-transform: translate(-87px, 0) !important;
        -o-transform: translate(-87px, 0) !important;
        transform: translate(-87px, 0) !important;
      }

      &:hover {
        .oneServiceLogo {
          -webkit-animation: circle2 2s infinite linear;
          -o-animation: circle2 2s infinite linear;
          animation: circle2 2s infinite linear;
        }
      }
    }

    &.service1 {
      &:hover {
        .oneServiceLogo {
          -webkit-animation: circle1 2s infinite linear;
          -o-animation: circle1 2s infinite linear;
          animation: circle1 2s infinite linear;
        }
      }
    }

    .oneServiceImg {
      position: relative;
    }

    .oneServiceLogo {
      position: absolute;
      width: 48px;
      height: 48px;
      left: 50%;
      top: 50%;
      margin-left: -19px;
      margin-top: -24px;
      -webkit-transform: translate(-65px, -65px);
      -moz-transform: translate(-65px, -65px);
      -ms-transform: translate(-65px, -65px);
      -o-transform: translate(-65px, -65px);
      transform: translate(-65px, -65px);
    }

    @keyframes circle1 {
      from {
        transform: rotate(0deg) translate(-65px, -65px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translate(-65px, -65px) rotate(-360deg);
      }
    }

    @keyframes circle2 {
      from {
        transform: rotateX(6deg) rotateY(0deg) translate(-87px, 0) rotateY(0deg);
      }
      to {
        transform: rotateX(6deg) rotateY(360deg) translate(-87px, 0) rotateY(-360deg);
      }
    }

    p {
      color: #fff;
      font-size: 23px;
      line-height: 30px;
      margin-bottom: 44px;
      letter-spacing: 0.1px;
      min-height: 60px;
    }

    span {
      display: inline-block;
      min-height: 103px;
      color: #fff;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.1px;
      opacity: 0.7;
    }
  }

  @include media(991) {
    padding-top: 40px;
    .oneService {
      p {
        margin-bottom: 15px;
        min-height: auto;
      }
    }
    a {
      font-size: 16px;
    }
  }
}

.team {
  background-color: #000;
  padding-top: 57px;
  padding-bottom: 186px;
  position: relative;

  &::after {
    content: '';
    height: 298px;
    width: 298px;
    background-image: url('../img/unreal/logoUnreal.svg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    pointer-events: none;
  }

  h3 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
    max-width: 520px;
  }

  .teamWorkers {

    width: calc(100% - 352px);
    padding-left: 15px;
    margin-left: auto;
    overflow: hidden;

    .oneWorker {
      width: 297px !important;
      margin-left: 25px;
      margin-right: 25px;
      position: relative;
      z-index: 4;

      p {
        margin-top: 32px;
        font-size: 30px;
        line-height: 38px;
        color: #fff;
        margin-bottom: 10px;
        padding-top: 0;

        &:nth-child(odd) {
          margin-top: 0;

          + span {
            margin-bottom: 40px;
          }

        }
      }

      span {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        opacity: 0.7;
        display: inline-block;
      }
    }

    img {
      width: 100%;
      height: 398px;
      object-fit: cover;
    }
  }

  .workersArrow {
    margin-top: 130px;
    display: flex;
    padding-left: 25px;

    img {
      width: 62px;
    }

    .prev {
      cursor: pointer;
      opacity: 0.7;
      margin-right: 160px;

      &.slick-disabled {
        opacity: 0.3;
      }
    }

    .next {
      cursor: pointer;

      &.slick-disabled {
        opacity: 0.3;
      }
    }
  }

  @include media(991) {
    padding-top: 0;
    padding-bottom: 30px;
    &::after {
      content: none;
    }
    .workersArrow {
      margin-top: 20px;

      .prev {
        margin-right: 100px;
      }
    }
  }
}

.mb-15 {
  @media screen and (min-width: 767px) {
    margin-bottom: 90px;
  }
}

.ict_one_blue {
  .padd {
    h6 {
      &::before {
        content: none;
      }
    }
  }
}

.mainBlue {
  .media_padd {
    width: 100%;
    padding: 15px;
  }
}

#scrollTop {
  > div:last-of-type {
    > div {
      padding-bottom: 0;
    }
  }

  .media_padd {
    //padding: 0;
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  75% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
}

.footerSection {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $black;

  h5 {
    color: $white;
    margin-bottom: 50px;
  }

  .logos {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    .slick-dots {
      li button:before {
        color: $white;
      }
    }

    li {
      img {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .projectMembers {
    margin-top: 80px;

    h4 {
      font-size: 24px;
      display: inline-block;
      color: $white;
      line-height: 36px;
      position: relative;
      padding-bottom: 5px;
      border-bottom: 2px solid $white;

    }
  }

  .membersGrid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

    .member {
      position: relative;
      z-index: 2;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;

      }

      p {
        color: $white;
        font-size: 18px;
      }

      span {
        color: #fafafa;
        font-size: 14px;
      }

      &:nth-of-type(4) {
        &::after {
          content: '';
          position: absolute;
          width: 80%;
          height: 250px;
          top: -10px;
          right: -10px;
          background-color: $unrealPink;
          z-index: -1;
        }
      }
    }
  }

  @include media(767) {
    margin-top: 30px;
  }
}

.message {
  //position: absolute;
  //width: 100%;
  //left: 50%;
  //top: 0;
  //-webkit-transform: translateX(-50%);
  //-moz-transform: translateX(-50%);
  //-ms-transform: translateX(-50%);
  //-o-transform: translateX(-50%);
  //transform: translateX(-50%);
}

/* login */
.loginForm {
  background-image: url('../img/trailer_2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.8);
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.loginPage {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 220px 15px 120px;
  position: relative;
  z-index: 3;
  color: $white;

  .regTerms {

  }

  input:not([type="checkbox"]) {
    background-color: rgba($white, 0.5);
    @include transition;
    width: 100%;

    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      background-color: rgba($white, 0.8);
    }

    &:focus {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
      border-color: #ced4da;
      outline: 0;
      //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  label {
    margin-bottom: 0;
  }

  .submitButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    label {
      margin-right: 10px;
      cursor: pointer;

      + input {
        vertical-align: middle;
      }
    }

    button {
      font-size: 14px;
      background-color: $yellow;
      padding: 5px 25px;
      border: 2px solid $yellow;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      color: $white;

      &:hover {
        background-color: transparent;
        //color: $yellow;
      }
    }

    a {
      color: $yellow;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 150px;
  }
}

/* news */


.oneNew {
  display: flex;
  position: relative;

  h5 {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 23px;
      width: 50px;
      height: 1px;
      background-color: $black;
    }

    span {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  div {
    padding-bottom: 45px;
  }

  img {
    height: 230px;
    width: 290px;
    object-fit: cover;
    margin-right: 15px;
  }

  a {
    display: inline-block;
    color: $homeBodyBgc;
    border: 1px solid $homeBodyBgc;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    @include transition;
    position: absolute;
    right: 15px;
    bottom: 15px;

    &:hover {
      background-color: $main;
      color: $white;
    }
  }

  &:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($main, 0.3);
      left: 0;
      bottom: 0;
    }
  }

  @include media(767) {
    display: grid;
    grid-template-columns: 1fr;
    img {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

/* news Single */
.singleHeader {
  position: relative;
  //margin-top: 20px;
  height: 700px;
  width: 100%;
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}


/* ============================ sub menu ============================ */
.subBanner {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: 60px auto;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 2;
  }

  img {
    height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
  }

  .bannerOverview {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
    z-index: 9;
  }
}

header {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: #000;

  h2 {
    position: absolute;
    left: 140px;
    bottom: 185px;
    font-size: 60px;
    color: #fff;
    font-weight: 100;
    @include transition;

    &:hover {
      @include textShadow;
    }
  }

  img {
    position: absolute;
    width: 298px;
    height: 298px;
    right: 0;
    bottom: 0;
    opacity: 0.15;
  }

  .imgUnreal {
    opacity: 1;
    height: auto;
    width: 100%;
    max-width: 640px;

  }

  @include media(991) {
    height: 300px;
    h2 {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 48px;
      bottom: auto;
      left: 50%;
      top: 50%;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      //background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.single {
  margin-top: 60px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}

.pagination {
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 60px;

  .page-item {
    &.active {
      .page-link {
        z-index: 1;
        color: $white;
        background-color: $main;
        border-color: $main;

      }
    }

    .page-link:not(&.disabled) {
      color: $main;
    }
  }

  .page-link:hover {
    color: $black !important;
  }

  .page-link:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.blue .articleMore {
  a {
    position: relative;
    text-transform: uppercase;
    border: 2px solid $yellow;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      right: 14px;
      width: 10px;
      height: 10px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
  }
}

.articleText {
  padding: 150px;
  width: 100%;
  @include media(991) {
    padding: 30px;
  }
}

.articleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 60px;

  .articleSingleGrid {
    a {
      display: block;
    }

    p {
      margin-top: 5px;
      margin-bottom: 0;
      color: $main;
      font-size: 14px;

      &:first-of-type {
        font-weight: bold;
        font-size: 15px;
      }

      &:nth-of-type(2) {
        margin-top: 0;
      }
    }

    .text {
      background-color: $white;
      display: flex;
      align-items: center;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 16px solid;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 100%;
        border-bottom-width: 0;
        border-color: $white transparent;
        z-index: 4;
      }

      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: rgba(53, 55, 56, 0.2);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 32px;
      }
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* ============================ end sub menu ============================ */


/* ============================ main menu ============================ */

.mainText {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  p {
    margin-bottom: 20px;
  }
}

.swiper-container {
  //height: 700px;

  img {
    height: 100%;
  }

  .swiper-slide {
    a {
      height: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 575px) {
    height: 400px;
  }
}

.sumTitle {
  margin-top: 120px;
  margin-bottom: 60px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $main;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* ============================ end main menu ============================ */


/* ============================ home ============================ */
/*--------------------
    white section
---------------------*/


.lawer {
  text-align: center;
  color: $white;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    margin-top: 15px;
  }

  img {
    width: 150px;
    margin-top: 15px;
  }

  .group_description {
    margin-top: 50px;
  }

  a {
    border: 1px solid $black;
    text-transform: uppercase;
    padding: 20px 25px;
    font-size: 14px;
    color: $white;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
    h1 {
      font-size: 35px;
      padding-top: 10px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}

/*--------------------
    grey section
---------------------*/

.grey {
  padding: 100px 0;

  .icon {
    display: inline-flex;
    width: 150px;
    height: 150px;
    padding: 25px;
    background-color: #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
    }
  }

  h5 {
    font-size: 26px;
    color: $black;
    margin-bottom: 20px;
  }

  h6 {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #4bbcaf;
  }

  p {
    color: $black;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    font-size: 16px;
  }

  .service {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 45px;
    margin-top: 50px;

    p {
      border: none;
    }
  }

  .service-middle {
    margin-top: -25px;
  }
}


/*----------------------
    our_strategy section
-----------------------*/

.our_strategy {
  padding: 150px 0;
  perspective: 1000px;
  -webkit-background-size: cover;
  background-size: cover;

  h5 {
    font-size: 26px;
    color: $black;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: $black;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}


.strategy {
  height: 300px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  perspective: 1000px;

  h6 {
    position: absolute;
    color: $white;
    bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    left: 30px;
  }

  span {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    background-color: rgba(32, 71, 104, 0.83);
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    text-align: center;
    color: $white;
    padding: 30px 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    perspective: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
  }

  &:hover {
    span {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      //background-color: rgba(32, 71, 104, 0.63);
    }
  }
}

/*-----------------
    client_story section
------------------*/

.client_story {
  padding: 30px 0;
  background: linear-gradient(40deg, #024959 0%, #265C80 47%, #026873 100%);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  -webkit-background-size: 400% 400%;
  position: relative;

  img {
    margin: 0 auto;
    width: 50px;
  }

  h6 {
    font-size: 26px;
    color: $main;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  p {
    font-size: 14px;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }

  & > div {
    z-index: 5;
  }
}

.main_client_story, .ict_one_client_story {
  .quadro {
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      //flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      text-align: center;
      position: relative;
      margin-bottom: 0;

      li {
        flex-basis: 100%;
        //display: flex;
        color: $white;
        //align-items: center;
        //justify-content: space-around;
        text-align: center;
        padding: 25px;
        @media screen and (max-width: 991px) {
          flex-basis: 100%;
        }

        &:nth-child(-n+2) {
          padding-top: 10px;
        }

        .text_container {
          font-size: 18px;
        }

        span {
          margin-top: 15px;
          display: inline-block;
          font-size: 41px;
          font-weight: 700;
        }
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap-reverse;
      }
    }
  }
}

.specifications {
  padding-top: 25px;
  padding-bottom: 25px;
  @include media(991) {
    padding: 0;
  }
}

.specificationTitle {
  h3 {
    font-size: 50px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 350px;
    position: relative;
    @include textiVereviGic($white);
  }

  @include media(575) {
    padding-top: 10px;
    h3 {
      max-width: none;
      font-size: 24px;
      text-align: center;

      &::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

.specificationQuadro {
  .globalGieLlcClient {
    grid-template-columns: 1fr 1fr 1fr;

    &::after,
    &::before {
      content: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    margin-bottom: 0;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($white, 0.3);
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 1px;
      height: 100%;
    }

    li {
      flex-basis: 100%;
      //display: flex;
      color: $white;
      align-items: flex-end;
      //justify-content: space-around;
      text-align: center;
      padding: 25px;
      @media screen and (max-width: 991px) {
        flex-basis: 100%;
      }

      .icon-container {
        //margin-right: 30px;
      }

      &:nth-child(-n+2) {
        padding-top: 10px;
      }

      .text_container {
        font-size: 18px;
      }

      span {
        margin-top: 15px;
        display: inline-block;
        font-size: 41px;
        font-weight: 700;
      }
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr !important;
      &::after,
      &::before {
        content: none;
      }
    }
  }
}

/*-----------------------
    attorney section
-----------------------*/

.attorney {
  padding: 150px 0;
  background: url("../img/bus6.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.44);
    left: 0;
    top: 0;
  }

  .realtive {
    position: relative;
    z-index: 65;
  }

  h5 {
    font-size: 26px;
    color: $white;
    text-transform: capitalize;
    text-align: center;
    //margin-top: 50px;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.43);
      height: 1px;
      left: 0;
      bottom: 0;
    }
  }

  p {
    color: $white;
    margin-top: 40px;
    font-size: 15px;
  }

  a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid $white;
    padding: 15px 25px;
    color: $white;
    text-decoration: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}


/* todo preloader */

@mixin position-center($text-align: center) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: $text-align;
}

.loading {

  //background: linear-gradient(-45deg, $main, $main2);
  background-color: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-text {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;

  img {
    max-width: 500px;
    width: calc(100% - 30px);
  }

  span {
    display: inline-block;
    margin: 0 5px;
    color: $main;
    font-family: 'Quattrocento Sans', sans-serif;
    @for $i from 0 through 7 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s #{$i/5}s infinite linear alternate;
      }
    }
  }
}

.deliverSection {
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsAArticle {
  .vewAllNews {
    color: $black;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #77CFD9;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        p {
          color: $white;
          letter-spacing: 1.5px;

          span {
            font-size: 10px;

          }
        }
      }
    }

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

/* ============================ end home ============================ */

/* button blink */


@-webkit-keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}

@-moz-keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}

@keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}


/* =========================== service */
/* =========================== service */
/* =========================== service */

.unrealService {
  padding-top: 47px;

  .service {
    padding-bottom: 100px;

    &.blacked {
      position: relative;

      > img {
        position: absolute;
        top: 51px;
        left: calc(50% - 100px);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 120px;
      }

      li {
        &::after {
          background-color: rgba(#fff, 0.2) !important;
        }
      }
    }

    &:nth-of-type(2n + 2) {
      background: linear-gradient(to bottom, #fff 90px, #000 90px);
      color: #fff;

      .serviceText {
        margin-top: 180px;
      }
    }

    &:nth-of-type(2n + 3) {
      background: linear-gradient(to bottom, #000 90px, #fff 90px);
      color: #000;

      .serviceText {
        margin-top: 180px;
      }
    }

    //&.blacked, &.whited {
    //
    //
    //  .serviceText {
    //    margin-top: 180px;
    //  }
    //}

    &.whited {
      background: linear-gradient(to bottom, #000 90px, #fff 90px);
      color: #000;
    }

    .serviceText {
      padding-left: 100px;
      padding-top: 43px;
      position: relative;

      &::before {
        content: attr(data-count);
        position: absolute;
        left: 0;
        top: 19px;
        font-size: 110px;
        line-height: 138px;
        font-weight: 200;
      }

      h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
      }

      ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;

        p {
          margin-bottom: 0;
        }

        li {
          position: relative;
          padding-bottom: 8px;
          font-size: 16px;
          line-height: 20px;
          margin-top: 8px;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #dddddd;
            left: 0;
            bottom: 0;

          }
        }
      }
    }

    .serviceImg {
      img {
        width: 100%;
        height: 588px;
        object-fit: cover;

        &.firstImg {
          height: 450px;
        }
      }
    }
  }

  .unrealServiceLogo {
    text-align: right;
    background-color: #fff;

    img {
      width: 400px;
      margin-right: 15px;
    }

    @include media(767) {
      img {
        width: calc(100% - 30px);
      }
    }
  }

  @include media(991) {
    .service {
      .serviceText {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 25px;

        h3 {
          font-size: 28px;
        }

        &::before {
          position: relative;
        }
      }

      .serviceImg {
        img {
          height: 250px !important;
        }
      }
    }
    .pre {
      padding-top: 0;
      padding-bottom: 0;
    }
    .production {
      padding-bottom: 0;
    }
    .service.blacked {
      > img {
        left: auto;
        right: 15px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }
    .service.blacked,
    .service.whited {
      .serviceText {
        margin-top: 80px;
      }
    }
    .post,
    .vfx,
    .studio {
      padding-bottom: 0;
    }

  }
}

/*======================== works */
/*======================== works */
/*======================== works */
.unrealWorks {
  background-color: #fff;

  hr {
    margin-top: 0;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      left: 0;
      bottom: 0;
      //-webkit-box-shadow: -1px 1px 1px #2CE5DB, 1px -1px 1px #DA3161;
      //-moz-box-shadow: -1px 1px 1px #2CE5DB, 1px -1px 1px #DA3161;
      //box-shadow: -1px 1px 1px #2CE5DB, 1px -1px 1px #DA3161;
    }

    &:hover {
      &::after {
        animation: rgbglitch2 4s infinite;
      }
    }
  }

  .nav-tabs .nav-link {
    border: none;
  }

  .nav-tabs {
    border: none;

    a {
      font-size: 20px;
      line-height: 24px;
      color: #000;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }

  }

  .navTab {
    padding: 10px 0;
  }

  .tab-content {
    margin-top: 60px;

    a {
      display: block;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        @include transition;
        z-index: 2;
        opacity: 0;
      }

      &::after {
        content: '';
      }

      &:hover {
        .arrow {
          opacity: 1;
        }

        span {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 74px);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 4;
      opacity: 0;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      line-height: 40px;
      color: #fff;
    }

    img {
      width: 100%;
      height: 394px;
      object-fit: cover;
    }

    .arrow {
      width: 62px;
      height: auto;
      object-fit: none;
      position: absolute;
      right: 40px;
      bottom: 40px;
      opacity: 0;
      z-index: 4;
    }
  }

  .createVideos {
    margin-top: 54px;
    background-image: linear-gradient(to bottom, #fff 317px, #000 317px);
    padding-bottom: 65px;

    h3 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 60px;
    }
  }

  .justCheck {
    background-image: linear-gradient(to bottom, #000 317px, #fff 317px);

    a {
      position: relative;
      display: block;
      height: 273px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        z-index: 2;
        opacity: 0;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 74px);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 4;
        opacity: 0;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color: #fff;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .arrow {
        width: 62px;
        height: auto;
        object-fit: none;
        position: absolute;
        right: 40px;
        bottom: 40px;
        opacity: 0;
        z-index: 4;
      }
      &:hover{
        &::before,
        span,
        .arrow{
          opacity: 1;
        }
      }
    }

    h3 {
      font-size: 40px;
      letter-spacing: 0;
      line-height: 50px;
      color: #fff;
      margin-bottom: 68px;
    }

    img {
      width: 100%;
      height: 273px;
      object-fit: cover;
    }

    .big {
      height: 394px;
    }
  }

  @include media(991) {
    .tab-content {
      a {
        &::before {
          opacity: 1;
        }

        span {
          opacity: 1;
        }

        .arrow {
          opacity: 1;
        }
      }
    }
    .justCheck {
      h3 {
        margin-bottom: 30px;
      }
    }
    .createVideos {
      h3 {
        margin-bottom: 30px;
      }
    }
    .checkGrid {
      img {
        height: 237px !important;
      }
    }
    .nav-tabs {
      display: flex;
      overflow: auto;
      flex-wrap: nowrap;
    }
  }
}

/* ====================================== single video*/
/* ====================================== single video*/
/* ====================================== single video*/
.unrealSingleVideo {
  .singleVideoDiv {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;

    .firstImg {
      position: absolute;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: 0;
      bottom: -95px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }

    .secondImg {
      position: absolute;
      width: 230px;
      height: 230px;
      right: 0;
      bottom: 0;
      opacity: 0.15;

    }

    .singleVideo {
      max-width: 1170px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      .prev {
        position: absolute;
        left: 0;
        top: 230px;
        cursor: pointer;

        &::after {
          content: none;
        }

        img {
          width: 62px;
        }
      }

      .next {
        position: absolute;
        right: 0;
        top: 230px;
        cursor: pointer;

        &::after {
          content: none;
        }

        img {
          width: 62px;
        }
      }
    }

    video {
      max-width: 900px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 490px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      /**/
      object-fit: cover;
    }

    .videoDiv {
      margin-bottom: 40px;
      max-width: 870px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    h3 {
      font-size: 32px;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 40px;
      color: #fff;
      margin-bottom: 8px;
    }

    .time {
      font-size: 20px;
      font-weight: 200;
      line-height: 25px;
      color: #fff;
      margin-bottom: 24px;
    }

    .videoText {
      margin-bottom: 20px;
      color: #fff;
    }

    a {
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 25px;
      color: #fff;
      position: relative;
      padding-bottom: 3px;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
      }
    }
  }

  .gallery {
    background-image: linear-gradient(to bottom, #000 177px, #fff 177px);

    .galleryDiv {
      max-width: 870px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      h3 {
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 40px;
        color: #fff;
        margin-bottom: 40px;
      }
    }

    .galleryGrid {
      img {
        width: 100%;
        height: 273px;
        object-fit: cover;
      }

      .big {
        height: 394px;
      }
    }
  }

  @include media(991) {

    .singleVideoDiv {
      .singleVideo {
        video {
          height: 500px;
          padding-left: 0;
          padding-right: 0;
        }

        a.prev,
        a.next {
          display: inline-block;
          position: static;
        }

        a.prev {
          margin-left: 15px;
        }

        a.next {
          float: right;
          margin-right: 15px;
          //margin-left: 100px;
          -webkit-transform: translateY(-2px);
          -moz-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          -o-transform: translateY(-2px);
          transform: translateY(-2px);
        }
      }
    }
    .galleryGrid {
      img {
        width: 100%;
        height: 173px !important;
        object-fit: cover;
      }

      .big {
        height: 173px !important;
      }
    }
  }

  @include media(575) {
    .singleVideoDiv {
      .singleVideo {
        video {
          height: 280px;
        }
      }
    }
  }
}

/* ========================================= team */
/* ========================================= team */
/* ========================================= team */
.teamHeader {
  img {
    width: 232px;
    height: 232px;
    right: 167px;
    bottom: 41px;
  }
}

.unrealTeam {
  background-color: #fff;

  .teamReady {
    padding-top: 83px;
    background-color: #fff;
    position: relative;

    h3 {
      font-size: 35px;
      letter-spacing: 0;
      line-height: 50px;
      color: #000;
    }

  }

  .teamReadyLogo {
    position: absolute;
    height: 191px;
    width: 191px;
    left: 0;
    bottom: -50px;
    z-index: 1;
  }

  .teamReadyImg {
    margin-top: -190px;
    position: relative;
    z-index: 5;

    img {
      width: 100%;
      height: 487px;
      object-fit: cover;
    }

    p {
      font-size: 35px;
      letter-spacing: 0;
      line-height: 57px;
      text-align: right;
      margin-top: 51px;
    }
  }

  .teamVideo {
    background-color: #000;
    height: 564px;
    position: relative;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .teamVideoText {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 89px;
      line-height: 112px;
      z-index: 12;
      color: #ffffff;
      font-weight: 200;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.73);

      .playVideo {
        text-align: center;
        cursor: pointer;

        img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  .team {
    padding-top: 360px;
    position: relative;

    &::after {
      content: none;
    }

    > img {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 1000px;
      width: 100%;
    }
  }

  @include media(991) {
    .team {
      padding-top: 75px;
    }
    .teamReady {
      padding-top: 30px;
    }
    .teamVideo {
      .teamVideoText {
        font-size: 50px;
        line-height: 65px;
      }
    }
    .teamReadyLogo {
      display: none;
    }
    .teamReadyImg {
      margin-top: 0;

      p {
        text-align: left;
      }
    }
  }
  @include media(991) {
    .teamVideo {
      height: 500px;
    }
  }

  @include media(575) {
    .teamVideo {
      height: 280px;
    }
  }
}


/* =========================== story */
/* =========================== story */
/* =========================== story */
.storyHeader {
  img {
    opacity: 1;
    width: 513px;
    height: auto;
    bottom: -2px;
  }

  @include media(991) {
    img {
      display: none;
    }
  }
}


.vert {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 190px;
    left: 50%;
    top: -95px;
    background-color: #fff;
    mix-blend-mode: difference;
    box-shadow: 1px 0 0 #2CE5DB, -1px 0 0 #DA3161;
    z-index: 12;
  }

  &.vert1 {
    &::before {
      height: 95px;
      top: 0;
    }
  }

  &.vert3 {
    &::before {
      top: -30px;
    }
  }

  &.vert4 {
    &::before {
      height: 160px;
      top: -88px;
    }
  }

  &.vert5 {
    &::before {
      height: 160px;
      top: -156px;
    }
  }
}


.unrealStory {
  background-color: #fff;

  h3 {
    font-size: 110px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 138px;
    text-align: center;
    z-index: 17;
  }

  p {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    z-index: 17;
  }

  .story10 {
    padding-top: 135px;
    padding-bottom: 210px;
    position: relative;
  }

  .story14 {
    padding-top: 146px;
    background-color: #000;
    position: relative;
    padding-bottom: 170px;

    .story14Img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 297px;
      height: 297px;
      opacity: 0.15;
    }


    h3 {
      color: #fff;
      margin-bottom: 40px;
    }

    p {
      color: #fff;
      text-align: left;
    }

    img {
      width: 100%;
      height: 538px;
      object-fit: cover;
    }
  }

  .story17 {
    background-image: linear-gradient(to top, #fff 88px, #000 88px);
    padding-top: 230px;
    position: relative;

    .story17Img {
      width: 437px;
      height: 547px;
      object-fit: cover;
      position: absolute;
      right: calc(100% - 150px);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      top: -180px;
      z-index: 2;
    }

    img {
      display: block;
      width: 100%;
      height: 355px;
      object-fit: cover;
      margin-top: 230px;
    }

    h3 {
      color: #fff;
      margin-bottom: 40px;
    }

    p {
      color: #fff;
      text-align: left;
    }
  }

  .story20 {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 250px;
  }

  .storyToday {
    background-color: #fff;
    padding-top: 100px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      width: 600px;
    }
  }

  @include media(991) {
    .story10 {
      padding-top: 15px;
      padding-bottom: 15px;

      h3 {
        font-size: 58px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .story14 {
      padding-top: 15px;
      padding-bottom: 15px;

      h3 {
        font-size: 58px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .story17 {
      padding-top: 15px;
      padding-bottom: 15px;
      background-image: none;
      background-color: #000;

      img {
        margin-top: 0;
      }

      .story17Img {
        display: none;
      }

      h3 {
        font-size: 58px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
      }
    }
    .story20 {
      padding-top: 15px;
      padding-bottom: 15px;

      h3 {
        font-size: 58px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .storyToday {
      padding-top: 15px;
      padding-bottom: 15px;

      h3 {
        font-size: 58px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }

      img {
        width: 100%;
      }
    }
  }
}

/*=========================================== contacts*/
/*=========================================== contacts*/
/*=========================================== contacts*/
.contactHeader {
  img {
    pointer-events: none;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 230px;
    height: 230px;
  }
}

.unrealContact {
  > img {
    position: absolute;
    right: 135px;
    top: -62px;
    width: 190px;
    height: 190px;
    z-index: 2;
    pointer-events: none;
  }

  .map {
    -webkit-transform: translateY(155px);
    -moz-transform: translateY(155px);
    -ms-transform: translateY(155px);
    -o-transform: translateY(155px);
    transform: translateY(155px);

    #map {
      height: 260px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 36px;
      color: #fff;
    }
  }

  .contact_us {
    background-color: #000;
  }

  @include media(991) {
    #map {
      margin-top: 30px;
    }
    .map {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;

      p {
        color: #000;
      }
    }
  }
  @include media(991) {
    > img {
      display: none;
    }

  }
}

.unrealFooter {
  padding-top: 70px;
  background-color: #000;


  a {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 84px;
  }

  .links {
    display: flex;
    margin-top: 67px;

    li {
      margin-right: 35px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        background-color: #DA3161;
      }
    }
  }

  .contactCopyright {
    margin-top: 80px;
    background-color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 600;
  }

  @include media(991) {
    padding-top: 20px;
    .links {
      flex-wrap: wrap;

      li {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    a {
      font-size: 18px;
      line-height: 24px;
    }
  }
}