@import "variable";

@font-face {
  font-family: 'avenir';
  src: url('../font/ROBOTO-REGULAR.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'avenir', sans-serif !important;
  background-color: #fafafa;

}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.homeHeader {
  height: 100vh;

  .swiper-container {
    height: 100%;
  }
}

.nav {
  width: 100%;
  left: 0px;
  top: 0;
  z-index: 555555;
  background-color: rgba(0, 0, 0, 0.31);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  @include media(991) {
    background: transparent;
  }
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scrolling {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 12;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

  span {
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 50px;
    margin: 0 auto 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid $white;
    border-radius: 23px;

    &::after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $white;
      left: 50%;
      top: 10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: ani-mouse 1.5s infinite;
      -o-animation: ani-mouse 1.5s infinite;
      animation: ani-mouse 1.5s infinite;
    }
  }
}

.homeTwoHeader {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  @include transition;

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  a {
    position: relative;
    overflow: hidden;
    width: 50%;
    @include transition;

    &:first-of-type {
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $white, transparent);
        right: -1px;
        top: 0;
        z-index: 12;
        pointer-events: none;
      }
    }

    &:hover {
      img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }

    &:hover {
      width: calc(50% + 150px);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .galleryInfo {
    @include galleryInfo;
    max-width: none;

    h2 {
      font-size: 48px;
      position: relative;
      padding-top: 15px;

      @include textiVereviGic($white);
    }
  }

  @include media(991) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    a {
      width: 100%;

      &:first-of-type {
        &::before {
          content: none;
        }
      }

      &:hover {
        width: 100%;
      }
    }
    .galleryInfo {
      padding: 30px 20px 30px 20px;
      max-width: 800px;
      height: auto;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }

  .scrolling {
    span {
      width: 21px;
      height: 35px;
    }
  }
}

/*---------------------
        nav
----------------------*/
.logoUl {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 80;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  //background: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;


  .navFlex {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;

    > .logo {
      margin-right: 15px;

      a {
        &::after {
          content: none;
        }
      }
    }

    @media screen and (max-width: 991px) {
      justify-content: space-between;
    }
  }

  .store-link {
    position: relative;
    display: inline-block;
    padding: 5px 25px !important;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: $yellow;
    border: 2px solid $yellow;
    max-width: 200px;
    -webkit-animation: buttonBlink 2s infinite;
    -o-animation: buttonBlink 2s infinite;
    animation: buttonBlink 2s infinite;
  }

  .storeButton {
    ul.store {
      margin-bottom: 0;
      display: flex;
      list-style-type: none;
      align-items: center;
      padding: 5px;

      li {
        padding: 5px;
      }

      a {
        color: $main;
        padding: 5px;

        i {
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
        }

        &:hover i {
          -webkit-transform: scale(1.13);
          -moz-transform: scale(1.13);
          -ms-transform: scale(1.13);
          -o-transform: scale(1.13);
          transform: scale(1.13);
        }
      }
    }

    @media screen and (max-width: 991px) {
      .links {
        padding-left: 0;
        list-style-type: none;
        display: flex;

        li {
          padding: 5px;
        }
      }
      .store {
        justify-content: center;
      }
    }
  }

  .logo a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
  }

  .logo img {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    height: 60px;
  }

  ul.main {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 0;
    align-items: center;

    &.ict_one {
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }

    li {
      min-width: 120px;
      margin-left: 10px;
      margin-right: 10px;
      //position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      height: 100%;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $main;
        position: relative;
        padding: 10px;
        display: block;
        line-height: 60px;
        //font-weight: 600;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        font-size: 14px;

        &.mainArticle {
          //display: block;
          display: inline-flex !important;
          align-items: flex-start;
          max-width: 600px;
          width: auto !important;
          line-height: normal;
          padding: 15px !important;

          p:first-of-type {
            font-size: 18px;
          }

          &:hover {
            border-left-width: 0 !important;
          }
        }

        &:hover {
          text-decoration: none;

          &::after {
            width: 100%;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }

        @media screen and (min-width: 991px) and (max-width: 1199px) {
          font-size: 13px;
        }

        &.store-link {
          height: auto;
          line-height: normal;

          &::after {
            content: none;
          }
        }

        &:hover {
          & + .subUl {
            -webkit-transition: 0.3s opacity;
            -moz-transition: 0.3s opacity;
            -ms-transition: 0.3s opacity;
            -o-transition: 0.3s opacity;
            transition: 0.3s opacity;
            top: 100%;
            visibility: visible;
            opacity: 1;

          }
        }
      }

      &.hasSub {
        > a {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            display: block;
            border: 1px solid #000;
            top: 50%;
            right: -8px;
            -webkit-transform: translateY(-50%) rotateZ(45deg);
            -moz-transform: translateY(-50%) rotateZ(45deg);
            -ms-transform: translateY(-50%) rotateZ(45deg);
            -o-transform: translateY(-50%) rotateZ(45deg);
            transform: translateY(-50%) rotateZ(45deg);
            border-top-width: 0;
            border-left-width: 0;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -ms-transition: 0.3s all;
            -o-transition: 0.3s all;
            transition: 0.3s all;
            -webkit-transform-origin: top;
            -moz-transform-origin: top;
            -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
          }
        }

        &:hover {
          &::after {
            border-color: #7b7b7b;
            -webkit-transform: rotateX(180deg) translateY(-50%) rotateZ(45deg);
            -moz-transform: rotateX(180deg) translateY(-50%) rotateZ(45deg);
            -ms-transform: rotateX(180deg) translateY(-50%) rotateZ(45deg);
            -o-transform: rotateX(180deg) translateY(-50%) rotateZ(45deg);
            transform: rotateX(180deg) translateY(-50%) rotateZ(45deg);
          }
        }

        @media screen and(max-width: 991px) {
          &::after {
            content: none;
          }
        }
      }

      div.subUl,
      ul.subUl {
        background-color: $white;
        padding-right: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        overflow: hidden;
        display: block;
        z-index: 66;
        padding-bottom: 0;
        top: -1000%;
        left: 0;
        width: 100%;

        > div {
          text-align: left !important;
        }

        &:hover {
          -webkit-transition: 0.3s opacity;
          -moz-transition: 0.3s opacity;
          -ms-transition: 0.3s opacity;
          -o-transition: 0.3s opacity;
          transition: 0.3s opacity;
          top: 100%;
          visibility: visible;
          opacity: 1;
        }

        li {
          margin-left: 0;
          margin-right: 0;
        }

        a {
          white-space: nowrap;
          padding: 5px 0 5px 25px;
          width: 100%;
          text-align: left;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          //font-weight: 600;
          border-left: 0px solid $white;
          color: $main !important;
          display: flex;

          &::after {
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            display: block;
            background-color: $main;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -ms-transition: 0.3s all;
            -o-transition: 0.3s all;
            transition: 0.3s all;
            left: 0;
            bottom: 0;;

          }

          img {
            width: 300px;
            display: block;
            height: 200px;
            object-fit: cover;
            margin-right: 10px;
          }

          &:hover {
            //text-decoration: underline;
          }

          &::after {
            content: none;
          }
        }
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }


    }

    @media screen and (max-width: 991px) {
      display: block;
      background-color: #024959 !important;
      text-align: center;
      padding-right: 0;
      margin-bottom: 0;
      -webkit-box-shadow: 0 4px 6px #00000038;
      -moz-box-shadow: 0 4px 6px #00000038;
      box-shadow: 0 4px 6px #00000038;
      height: calc(100% - 73px);
      padding-top: 20px;
      top: 73px;
      .subUl {
        position: initial !important;
        opacity: 1 !important;
        visibility: visible !important;
      }
      li {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        height: auto;

        a {
          height: auto !important;
          color: $white;
          font-size: 18px;
          margin-left: auto;
          margin-right: auto;
          line-height: normal !important;
        }
      }
    }

  }

  @include media(991) {
    //background: transparent;
    .logo img {
      height: 30px;
    }
  }

  /*todo menu when is scroll*/
  @media screen and (min-width: 991px) {


    &.mini {
      //background: $white linear-gradient(-45deg, #024959, #265C80, #026873);
      //padding: 0 20px;
      //-webkit-box-shadow: rgba(0, 0, 0, 0.39) 0 0 6px;
      //-moz-box-shadow: rgba(0, 0, 0, 0.39) 0 0 6px;
      //box-shadow: rgba(0, 0, 0, 0.39) 0 0 6px;

    }
  }
}

.globalNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 10px 0;

  .globalLogo {
    img {
      height: 80px;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    a {
      color: $white;
      text-decoration: none;

    }
  }

  @include media(991) {
    .globalLogo {
      img {
        height: 40px;
      }
    }
  }
}

.globalLogo {
  padding-left: 0;
  list-style-type: none;
}

.vpNavigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba($black, 0.9);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 120px;
  display: none;

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      text-align: center;

      a {
        color: $white;
        font-size: 54px;
        line-height: 90px;
        text-decoration: none;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          left: 50%;
          bottom: 0;
          height: 2px;
          background-color: $white;
          @include transition;
        }

        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

.unrealMenu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  a {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: flex-end;
    align-items: center;

    span {
      width: 20px;
      height: 2px;
      background-color: $white;
      position: relative;
      @include transition;

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 2px;
        background-color: $white;
        right: 0;
        top: -8px;
        -webkit-transition: transform 0.3s ease-in, top 0.3s linear 0.3s, width 0.3s;
        -moz-transition: transform 0.3s ease-in, top 0.3s linear 0.3s, width 0.3s;
        -ms-transition: transform 0.3s ease-in, top 0.3s linear 0.3s, width 0.3s;
        -o-transition: transform 0.3s ease-in, top 0.3s linear 0.3s, width 0.3s;
        transition: transform 0.3s ease-in, top 0.3s linear 0.3s, width 0.3s;
      }

      &::before {
        top: 8px;
        width: 26px;
      }
    }

    &:hover {
      span {
        width: 36px;

        &::after,
        &::before {
          width: 36px;
        }
      }
    }
  }

  &.active {
    position: fixed;
    z-index: 12;
    right: 36px;
    top: 10px;

    a {
      span {
        background-color: transparent;
        width: 100%;

        &::after,
        &::before {
          top: 0;
          left: 0;
          width: 100%;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -moz-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -ms-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          -o-transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
          transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
        }

        &::before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}


/* slider */

.swiper-container {
  width: 100%;
  height: 700px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
      pointer-events: none;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 65;
    }
  }

  .galleryInfo {
    @include galleryInfo;
  }

  @media screen and (max-width: 575px) {
    height: 400px;
  }
}

/*-------------------
      menu button
---------------------*/


.menu_button {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;

  span {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: $main;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &::before, &::after {
      content: '';
      width: 24px;
      height: 2px;
      background-color: $main;
      position: absolute;
      z-index: 5;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: block;
  }
}


/*-------------------
    contact section
--------------------*/
.contact {
  position: relative;
  padding: 50px 0 0;
  background-color: $black;
  //background: linear-gradient(to right, $black 50%, $white 50%);
  color: $white;

  #send {
    text-align: center;
    position: relative;
    margin-top: 30px;
    display: inline-block;

    button {
      background-color: $white;
      color: $black;
      padding: 10px 40px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      position: relative;
      z-index: 4;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 100%;
      top: -10px;
      left: -10px;
      background-color: $unrealPink;
      z-index: 0;
      @include transition;
    }

    &::before {
      background-color: $unrealBlue;
      left: auto;
      top: auto;
      right: -10px;
      bottom: -10px;
      z-index: 0;
    }

    &:hover {
      &::after {
        left: 0;
        top: 0;
      }

      &::before {
        right: 0;
        bottom: 0;
      }
    }
  }

  .links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      padding: 10px;

      a {
        padding: 5px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    background: $black;
    color: $white;
    input, textarea {
      //color: $main !important;
      //border-color: $main !important;

      &::placeholder {
        //color: $main !important;
      }
    }
  }

  h6 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  input, textarea {
    display: block;
    width: calc(100% - 50px);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    background-color: transparent;
    height: 30px;
    margin-bottom: 10px;
    color: $white;
    padding: 5px;
  }

  textarea {
    height: 200px;
    @media screen and (max-width: 767px) {
      height: 140px;
    }
  }

  input::placeholder, textarea::placeholder {
    color: $white;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  .contact_us {
    color: $white;
    margin-top: 100px;
    //padding-left: 150px;

    p {
      text-align: center;
    }

    p:first-of-type {
      font-size: 14px;
      margin-bottom: 30px;
    }

    p:nth-of-type(2) {
      font-size: 24px;
      margin-bottom: 30px;
    }

    img {
      display: block;
      margin: 0 auto 30px;
      max-width: 250px;
    }

    .number {
      font-size: 40px;
      margin-bottom: 0 !important;
    }

    @media screen and (max-width: 767px) {
      padding-left: 15px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
    input, textarea {
      width: 100%;
    }
  }
}

/*-------------------
    footer
---------------------*/

footer {
  //margin-top: 50px;

  img {
    width: 70px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: $black;
      margin-bottom: 5px;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: #c24747;
          text-decoration: none;
        }

        &.direction {
          color: #c24747;
        }
      }

      &:first-of-type {
        margin-bottom: 15px;
        font-weight: 700;
      }

      &.direction a {
        color: #c24747;
      }

      span {
        color: #909aa3;
      }
    }
  }

  .copyright {
    //margin-top: 20px;
    background-color: #000;
    border-top: 1px solid rgba(148, 110, 87, 0.44);
    color: $main;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .design {
    color: #1b69b5;

    a {
      color: #63b450;
    }

    img {
      width: 25px;
      margin-bottom: 2px;
    }
  }

  .social {
    margin-bottom: 0;
    display: flex;

    li {
      margin-bottom: 0 !important;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;

      a {
        &:hover {
          i {
            color: $main;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    //padding: 30px 0 0;
  }
}

/* */

/*---------------------
      blue section
----------------------*/

.mainSection {
  padding-top: 160px;
  padding-bottom: 160px;
  background: linear-gradient(to bottom, $black 250px, $white 250px);
  //background-color: $main;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    max-width: 700px;
    width: 100%;
    height: 550px;
    background-color: $articleBackground;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

    .articleBgOne,
    .articleBgFour{
      position: relative;
      &::before {
        content: '';
        position: absolute;
        max-width: 650px;
        width: 100%;
        height: 450px;
        background-color: $articleBackground;
        left: -60px;
        bottom: -200px;
        z-index: -1;
      }
    }

  .articleBgFour{
    &::before {
      content: '';
      position: absolute;
      max-width: 350px;
      width: 100%;
      height: 450px;
      background-color: $articleBackground;
      left: auto;
      right: 15px;
      bottom: 350px;
      z-index: -1;
    }
  }


  .realtive {
    position: relative;
    z-index: 65;
  }

  .padd {
    //padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $main;
    overflow: hidden;

    h6 {
      //padding: 15px;
      padding-top: 20px;
      color: $black;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      //padding: 15px;
      //text-align: center;
      color: $black;
    }

    a {
      display: inline-block;
      border: 1px solid $yellow;
      color: $yellow;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px 60px;
      font-weight: 700;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      font-size: 10px;
      -webkit-transition: 1s background;
      -moz-transition: 1s background;
      -ms-transition: 1s background;
      -o-transition: 1s background;
      transition: 1s background;

      &:hover {
        background-color: $yellow;
        color: $white;
        text-decoration: none;
      }
    }

  }

  .media_padd {
    padding: 15px;

    &:hover {
      img {
        filter: grayscale(1);
      }
    }
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    opacity: 0;
  }

  h5 {
    font-size: 26px;
    color: $white;
    margin-bottom: 20px;
  }

  p {
    color: $white;
    padding-bottom: 20px;
    font-size: 16px;
  }

  h6 {
    text-transform: capitalize;
    color: $white;
    font-size: 20px;
    padding-bottom: 14px;
    position: relative;

    & + p {
      border-bottom: none;
      font-size: 14px;
    }
  }

  .viewAllVid {
    position: relative;
    display: inline-block;

    button {
      background-color: $black;
      color: $white;
      padding: 16px 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      position: relative;
      z-index: 4;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 100%;
      top: -10px;
      left: -10px;
      background-color: $unrealPink;
      z-index: -1;
      @include transition;
    }

    &::before {
      background-color: $unrealBlue;
      left: auto;
      top: auto;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    }

    &:hover {
      &::after {
        left: 0;
        top: 0;
      }

      &::before {
        right: 0;
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
    background: $white;
    .viewAllVid {
      margin-top: 30px;
    }
    .media_padd {
      padding: 30px 0;

      img {
        height: 400px;
      }

      h6 {
        font-size: 20px;
      }
    }
  }
}

.mb-15 {
  @media screen and (min-width: 767px) {
    margin-bottom: 90px;
  }
}

.ict_one_blue {
  .padd {
    h6 {
      &::before {
        content: none;
      }
    }
  }
}

.mainBlue {
  .media_padd {
    width: 100%;
    padding: 15px;
  }
}

#scrollTop {
  > div:last-of-type {
    > div {
      padding-bottom: 0;
    }
  }

  .media_padd {
    //padding: 0;
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
  75% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  }
}

.footerSection {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $black;

  h5 {
    color: $white;
    margin-bottom: 50px;
  }

  .logos {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    .slick-dots {
      li button:before {
        color: $white;
      }
    }

    li {
      img {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .projectMembers {
    margin-top: 80px;

    h4 {
      font-size: 24px;
      display: inline-block;
      color: $white;
      line-height: 36px;
      position: relative;
      padding-bottom: 5px;
      border-bottom: 2px solid $white;

    }
  }

  .membersGrid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

    .member {
      position: relative;
      z-index: 2;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;

      }

      p {
        color: $white;
        font-size: 18px;
      }

      span {
        color: #fafafa;
        font-size: 14px;
      }

      &:nth-of-type(4) {
        &::after {
          content: '';
          position: absolute;
          width: 80%;
          height: 250px;
          top: -10px;
          right: -10px;
          background-color: $unrealPink;
          z-index: -1;
        }
      }
    }
  }

  @include media(767) {
    margin-top: 30px;
  }
}

.message {
  //position: absolute;
  //width: 100%;
  //left: 50%;
  //top: 0;
  //-webkit-transform: translateX(-50%);
  //-moz-transform: translateX(-50%);
  //-ms-transform: translateX(-50%);
  //-o-transform: translateX(-50%);
  //transform: translateX(-50%);
}

/* login */
.loginForm {
  background-image: url('../img/trailer_2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.8);
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.loginPage {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 220px 15px 120px;
  position: relative;
  z-index: 3;
  color: $white;

  .regTerms {

  }

  input:not([type="checkbox"]) {
    background-color: rgba($white, 0.5);
    @include transition;
    width: 100%;

    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      background-color: rgba($white, 0.8);
    }

    &:focus {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
      border-color: #ced4da;
      outline: 0;
      //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  label {
    margin-bottom: 0;
  }

  .submitButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    label {
      margin-right: 10px;
      cursor: pointer;

      + input {
        vertical-align: middle;
      }
    }

    button {
      font-size: 14px;
      background-color: $yellow;
      padding: 5px 25px;
      border: 2px solid $yellow;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      color: $white;

      &:hover {
        background-color: transparent;
        //color: $yellow;
      }
    }

    a {
      color: $yellow;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 150px;
  }
}

/* news */


.oneNew {
  display: flex;
  position: relative;

  h5 {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 23px;
      width: 50px;
      height: 1px;
      background-color: $black;
    }

    span {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  div {
    padding-bottom: 45px;
  }

  img {
    height: 230px;
    width: 290px;
    object-fit: cover;
    margin-right: 15px;
  }

  a {
    display: inline-block;
    color: $homeBodyBgc;
    border: 1px solid $homeBodyBgc;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    @include transition;
    position: absolute;
    right: 15px;
    bottom: 15px;

    &:hover {
      background-color: $main;
      color: $white;
    }
  }

  &:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($main, 0.3);
      left: 0;
      bottom: 0;
    }
  }

  @include media(767) {
    display: grid;
    grid-template-columns: 1fr;
    img {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

/* news Single */
.singleHeader {
  position: relative;
  //margin-top: 20px;
  height: 700px;
  width: 100%;
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}


/* ============================ sub menu ============================ */
.subBanner {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: 60px auto;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 2;
  }

  img {
    height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
  }

  .bannerOverview {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
    z-index: 9;
  }
}

header {
  position: relative;
  height: 700px;
  width: 100%;

  &.globalGieLlcSlide {
    height: 100vh;

    .swiper-container {
      height: 100%;

      .galleryInfo {
        padding: 15px !important;
        text-align: center;
        top: auto;
        left: 50%;
        bottom: 200px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: auto !important;
      }
    }
  }

  @include media(575) {
    height: 400px;
  }
}

.main_section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8) 100%);
      //background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }

  .single_image {
    width: 80%;
    height: 80%;
    background-color: $black;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      z-index: -1;
    }
  }

  .single_text {
    color: $white;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;

    h3 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
      }
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 575px) {
    .single_image {
      bottom: -25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .single_text {
        max-width: inherit;
        padding-left: 0;
        width: 100%;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.single {
  margin-top: 60px;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}

.pagination {
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 60px;

  .page-item {
    &.active {
      .page-link {
        z-index: 1;
        color: $white;
        background-color: $main;
        border-color: $main;

      }
    }

    .page-link:not(&.disabled) {
      color: $main;
    }
  }

  .page-link:hover {
    color: $black !important;
  }

  .page-link:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.blue .articleMore {
  a {
    position: relative;
    text-transform: uppercase;
    border: 2px solid $yellow;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      right: 14px;
      width: 10px;
      height: 10px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
  }
}

.articleText {
  padding: 150px;
  width: 100%;
  @include media(991) {
    padding: 30px;
  }
}

.articleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 60px;

  .articleSingleGrid {
    a {
      display: block;
    }

    p {
      margin-top: 5px;
      margin-bottom: 0;
      color: $main;
      font-size: 14px;

      &:first-of-type {
        font-weight: bold;
        font-size: 15px;
      }

      &:nth-of-type(2) {
        margin-top: 0;
      }
    }

    .text {
      background-color: $white;
      display: flex;
      align-items: center;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 16px solid;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 100%;
        border-bottom-width: 0;
        border-color: $white transparent;
        z-index: 4;
      }

      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: rgba(53, 55, 56, 0.2);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 32px;
      }
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/* ============================ end sub menu ============================ */


/* ============================ main menu ============================ */

.mainText {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  p {
    margin-bottom: 20px;
  }
}

.swiper-container {
  //height: 700px;

  img {
    height: 100%;
  }

  .swiper-slide {
    a {
      height: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 575px) {
    height: 400px;
  }
}

.sumTitle {
  margin-top: 120px;
  margin-bottom: 60px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $main;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* ============================ end main menu ============================ */


/* ============================ home ============================ */
/*--------------------
    white section
---------------------*/


.lawer {
  text-align: center;
  color: $white;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    margin-top: 15px;
  }

  img {
    width: 150px;
    margin-top: 15px;
  }

  .group_description {
    margin-top: 50px;
  }

  a {
    border: 1px solid $black;
    text-transform: uppercase;
    padding: 20px 25px;
    font-size: 14px;
    color: $white;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
    h1 {
      font-size: 35px;
      padding-top: 10px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}

/*--------------------
    grey section
---------------------*/

.grey {
  padding: 100px 0;

  .icon {
    display: inline-flex;
    width: 150px;
    height: 150px;
    padding: 25px;
    background-color: #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
    }
  }

  h5 {
    font-size: 26px;
    color: $black;
    margin-bottom: 20px;
  }

  h6 {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #4bbcaf;
  }

  p {
    color: $black;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    font-size: 16px;
  }

  .service {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 45px;
    margin-top: 50px;

    p {
      border: none;
    }
  }

  .service-middle {
    margin-top: -25px;
  }
}


/*----------------------
    our_strategy section
-----------------------*/

.our_strategy {
  padding: 150px 0;
  perspective: 1000px;
  -webkit-background-size: cover;
  background-size: cover;

  h5 {
    font-size: 26px;
    color: $black;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: $black;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}


.strategy {
  height: 300px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  perspective: 1000px;

  h6 {
    position: absolute;
    color: $white;
    bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    left: 30px;
  }

  span {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    background-color: rgba(32, 71, 104, 0.83);
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    text-align: center;
    color: $white;
    padding: 30px 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    perspective: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
  }

  &:hover {
    span {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      //background-color: rgba(32, 71, 104, 0.63);
    }
  }
}

/*-----------------
    client_story section
------------------*/

.client_story {
  padding: 30px 0;
  background: linear-gradient(40deg, #024959 0%, #265C80 47%, #026873 100%);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  -webkit-background-size: 400% 400%;
  position: relative;

  img {
    margin: 0 auto;
    width: 50px;
  }

  h6 {
    font-size: 26px;
    color: $main;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  p {
    font-size: 14px;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }

  & > div {
    z-index: 5;
  }
}

.main_client_story, .ict_one_client_story {
  .quadro {
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      //flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      text-align: center;
      position: relative;
      margin-bottom: 0;

      li {
        flex-basis: 100%;
        //display: flex;
        color: $white;
        //align-items: center;
        //justify-content: space-around;
        text-align: center;
        padding: 25px;
        @media screen and (max-width: 991px) {
          flex-basis: 100%;
        }

        &:nth-child(-n+2) {
          padding-top: 10px;
        }

        .text_container {
          font-size: 18px;
        }

        span {
          margin-top: 15px;
          display: inline-block;
          font-size: 41px;
          font-weight: 700;
        }
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap-reverse;
      }
    }
  }
}

.specifications {
  padding-top: 25px;
  padding-bottom: 25px;
  @include media(991) {
    padding: 0;
  }
}

.specificationTitle {
  h3 {
    font-size: 50px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 350px;
    position: relative;
    @include textiVereviGic($white);
  }

  @include media(575) {
    padding-top: 10px;
    h3 {
      max-width: none;
      font-size: 24px;
      text-align: center;

      &::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

.specificationQuadro {
  .globalGieLlcClient {
    grid-template-columns: 1fr 1fr 1fr;

    &::after,
    &::before {
      content: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    margin-bottom: 0;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($white, 0.3);
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 1px;
      height: 100%;
    }

    li {
      flex-basis: 100%;
      //display: flex;
      color: $white;
      align-items: flex-end;
      //justify-content: space-around;
      text-align: center;
      padding: 25px;
      @media screen and (max-width: 991px) {
        flex-basis: 100%;
      }

      .icon-container {
        //margin-right: 30px;
      }

      &:nth-child(-n+2) {
        padding-top: 10px;
      }

      .text_container {
        font-size: 18px;
      }

      span {
        margin-top: 15px;
        display: inline-block;
        font-size: 41px;
        font-weight: 700;
      }
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr !important;
      &::after,
      &::before {
        content: none;
      }
    }
  }
}

/*-----------------------
    attorney section
-----------------------*/

.attorney {
  padding: 150px 0;
  background: url("../img/bus6.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.44);
    left: 0;
    top: 0;
  }

  .realtive {
    position: relative;
    z-index: 65;
  }

  h5 {
    font-size: 26px;
    color: $white;
    text-transform: capitalize;
    text-align: center;
    //margin-top: 50px;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.43);
      height: 1px;
      left: 0;
      bottom: 0;
    }
  }

  p {
    color: $white;
    margin-top: 40px;
    font-size: 15px;
  }

  a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid $white;
    padding: 15px 25px;
    color: $white;
    text-decoration: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}


/* todo preloader */

@mixin position-center($text-align: center) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: $text-align;
}

.loading {

  //background: linear-gradient(-45deg, $main, $main2);
  background-color: $white;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-text {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;

  img {
    max-width: 500px;
    width: calc(100% - 30px);
  }

  span {
    display: inline-block;
    margin: 0 5px;
    color: $main;
    font-family: 'Quattrocento Sans', sans-serif;
    @for $i from 0 through 7 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s #{$i/5}s infinite linear alternate;
      }
    }
  }
}

.deliverSection {
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsAArticle {
  .vewAllNews {
    color: $black;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #77CFD9;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        p {
          color: $white;
          letter-spacing: 1.5px;

          span {
            font-size: 10px;

          }
        }
      }
    }

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

/* ============================ end home ============================ */

/* button blink */


@-webkit-keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}

@-moz-keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}

@keyframes buttonBlink {
  0%, 100% {
    background-color: $yellow;
    color: $white !important;
  }
  50% {
    background-color: transparent;
    color: $yellow !important;
  }
}

