$main: #004D80;
$main2: #265C80;

$homeBodyBgc: #171717;
$white: #fff;
$black: #000000;

$yellow: #f2bb0d;

$unrealPink: #da3161;
$unrealBlue: #2ce5db;
$articleBackground: #f4f5fa;

$lightBlack: #1b1b1b;
$lightBlueGreen: #0f3a3d;
$lighterBlueGreen: #0d3639;
$lightGrey: #b1b1b1;
$lighterGrey: #ced4da;
$lightWhite: #F5F5F5;
$grey: #727272;
$required: #8e0000;
$merx: #63b450;
$orange: #f9c05f;
$blackOrange: #eca832;
$green: #0d373a;
$remove: #e96c67;


@font-face {
  font-family: 'monster';
  src: url('../font/Montserratarm-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monster';
  src: url('../font/Montserratarm-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

html, body {
  font-family: 'monster', sans-serif !important;
  background-color: #fafafa;

  &.overflow {
    overflow: hidden !important;
  }
}

@mixin transition() {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

@mixin media($px) {
  @media screen and (max-width: #{$px}px) {
    @content
  }
}

@mixin galleryInfo {
  z-index: 70;
  color: $white;
  position: absolute;
  top: 20%;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  left: 0;
  border-left-width: 0;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  padding: 60px 46px 60px 150px;
  max-width: 900px;
  width: 100%;

  h2 {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 0;
    line-height: 63px;
  }

  p {
    color: $white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 991px) {
    max-width: inherit;
    width: 100%;
    border: none;
    height: 100%;
    padding: 15px;
    top: 15%;
    h2 {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
    }
  }
}

@mixin textiVereviGic($color) {
  &::before {
    content: '';
    position: absolute;
    width: 82px;
    height: 4px;
    background-color: $color;
    left: 0;
    top: -15px;
  }
}

@mixin glow($bgc, $tb) {
  content: '';
  position: absolute;
  width: 1px;
  height: 97px;
  left: 50%;
  #{$tb}: 0;
  background-color: $bgc;
  box-shadow: 1px 0 0 #2CE5DB, -1px 0 0 #DA3161;
}

@mixin rightMenu {
  .rightMenu {
    position: absolute;
    width: 100px;
    background-color: $lightBlack;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .rightMenuSocial {
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
          text-align: center;
          margin-bottom: 40px;

          a {
            color: $white;
            @include transition;

            i {
              display: inline-block;
              @include transition;
            }

            &:hover {
              -webkit-transform: translateY(-10px);
              -moz-transform: translateY(-10px);
              -ms-transform: translateY(-10px);
              -o-transform: translateY(-10px);
              transform: translateY(-10px);
              i{
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
                transform: translateY(-10px);
              }
            }
          }
        }
      }
    }
  }
  @include media(991) {
    .rightMenu {
      display: none;
    }
  }
}


@mixin yellowButtonHover {
  background-color: transparent;
  color: $orange;
}