<div class="oneNew">
    <img src="{{ asset(item.downloadLink) }}" alt="">
    <div>
        <h5>{{ item.name }} <br>
            <span>{{ item.created | date('M d, Y H:i a') }}</span>
        </h5>
        <p>{{ item.shortDescription | raw }}</p>
        <a href="{{ path('sub-menu', {'slug':item.mainMenu.slug, 'subSlug': item.slug}) }}">More</a>
    </div>
</div>