<div class="oneNew">
    <img src="{{ asset(item.downloadLink) }}" alt="{{ item.name }}">
    <div>
        <h5>{{ item.title }} <br>
            <span>{{ item.created | date('M d, Y H:i a') }}</span>
        </h5>
        <p>{{ item.shortDescription | raw }}</p>
        <a href="{{ path('sub-menu', {'slug':item.mainMenu.slug, 'subSlug': item.slug}) }}">{{ 'form.learn_more'|trans }}</a>
    </div>
</div>