<div class="oneNew">
    <img src="{{ asset(item.downloadLink) }}" alt="">
    <div>
        <h5>{{ item.name }}</h5>
        <p>{{ item.description | length > 400 ? item.description |raw |slice(0, 400) ~'...'  : item.description | raw }}</p>
    </div>
</div>