{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ field.formattedValue ? asset(field.formattedValue)|imagine_filter('admin_list') : asset('build/img/logoColor.png') }}">
</a>

<div id="{{ html_id }}" class="ea-lightbox">
    <img src="{{ field.formattedValue ? asset(field.formattedValue)|imagine_filter('admin_list') : asset('build/img/logoColor.png') }}">
</div>
