<div class="articleSingleGrid">
    <a href="{{ path('single-article', {'slug':subMenus.mainMenu.slug, 'subSlug': subMenus.slug, 'slugArticle': article.slug}) }}">
        <div class="text">
            <p>{{ article.title }}</p>
{#            <p>{{ article.shortDescription|length > 150 ? article.shortDescription(0,150)~'...': article.shortDescription }}</p>#}
        </div>
        {% if article.image %}
            <img src="{{ asset(article.image.downloadLink)|imagine_filter('article_tamb') }}">
        {% endif %}
    </a>
</div>
