<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="author" content="https://merxforum.com"><!-- Favicon -->
        <link rel="icon"
              href="{{ templateSettings.image ? asset(templateSettings.image.downloadLink) : asset('bundles/easybuilder/img/favicon.png') }}"
              sizes="32x32">
        <link rel="icon"
              href="{{ templateSettings.image ? asset(templateSettings.image.downloadLink) : asset('bundles/easybuilder/img/favicon.png') }}"
              sizes="192x192">
        <link rel="apple-touch-icon-precomposed"
              href="{{ templateSettings.image ? asset(templateSettings.image.downloadLink) : asset('bundles/easybuilder/img/favicon.png') }}">
        <meta name="ICTOne"
              content="{{ templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' }}"><!-- Mobile Metas -->
        {% block seo_meta %}
            <meta name="title"
                  content="{{ templateSettings.metaTitle is defined ? templateSettings.metaTitle : 'MerxForum generated page' }}">
            <meta name="description"
                  content="{{ templateSettings.metaDescription is defined ? templateSettings.metaDescription : 'MerxForum generated page' }}">
            <meta property="og:image"
                  content="{{ templateSettings.logo is defined ? asset( templateSettings.logo) : 'https://merxforum.com/bundles/app/img/MerxLogo_PNG_white.png' }}">
        {% endblock %}

    {% endblock %}
    <title>
        {% block title %}
            {{ templateSettings.pageTitle ? templateSettings.pageTitle : 'MerxForum generated page' }}
        {% endblock %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('base') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('base') }}

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvnvspVhrDvNC7ijm_gkcEJENwZb6fvLw&libraries=places&language=en"></script>
    {% endblock %}
</head>
<body class="anim">
{% block mainMenu %}
    {{ include(templateSettings.templateInfo.baseDirName ? templateSettings.templateInfo.baseDirName~'/main_draw.html.twig' : template_basedir ~'/main_draw.html.twig') }}

{% endblock %}

{% block preloader %}{% endblock %}


{% block soialMenu %}
{#    {{ include('@EasyBuilder/base_dir/header_social/header_social_v1.html.twig') }}#}
{% endblock soialMenu %}

{% block header %}
    <div class="flashes">
        {% block flushMessage %}
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    {% for msg in message %}
                        <div class="alert text-center alert-{{ label }}">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endblock flushMessage %}

    </div>
    <header class="homeTwoHeader">
        {% block slider %}
            <div class="swiper-container">

                {% if slider is defined and slider|length %}
                    <div class="swiper-wrapper">
                        {% for key, item in slider.item %}
                            <div class="swiper-slide">
                                <img src="{{ asset(item.downloadLink)|imagine_filter('home_slider') }}"
                                     alt="{{ item.altText }}">
                                <div class="galleryInfo">
                                    <h2>
                                        <b>{{ 'page.screapt'|trans }}</b>
                                    </h2>
                                    <div>
                                        <p>{{ 'page.speak_world'|trans }}</p>
                                        <a class="requestQuote" href="#" data-slug="quote">{{ 'form.request_quote'|trans }}</a>
                                        <a class="InputFileLabel" href="#" data-slug="cv">{{ 'form.upload_cv'|trans }}</a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                {% endif %}
            </div>

            <div class="scrolling">
                <img src="{{ asset('bundles/easybuilder/img/mouse.png') }}" alt="">
                {{ 'form.keep_scrolling'|trans }}
            </div>
        {% endblock slider %}

    </header>
{% endblock header %}

{#{{ dump(ea.assets.webpackEncoreEntries) }}#}
{#{% for webpack_encore_entry in ea.assets.webpackEncoreEntries ?? [] %}#}
{#    {{ ea_call_function_if_exists('encore_entry_link_tags', webpack_encore_entry) }}#}
{#{% endfor %}#}

{% block body %}{% endblock %}

{% block contact %}
    <!-- contact section -->
    <section class="contact">

{#        {{ include(templateSettings.templateInfo.baseDirName ? templateSettings.templateInfo.baseDirName~'/contact_form.html.twig' : template_basedir ~'/contact_form.html.twig') }}#}
    </section>

{% endblock %}

{% block footer %}
    <footer>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <img class="footerLogo" src="{{ asset('bundles/easybuilder/img/logo_screapt-32.png') }}" alt="">
                        <p>{{ 'page.footer_text'|trans }}</p>
                    </div>
                    <div class="col-lg-2 offset-lg-1 mb-2 mb-lg-0">
                        {% if footerMenu|length %}
                            {% set exploder = (footerMenu|length) > 0 ? (footerMenu|length // 2) : 0 %}
                            {% set firstUl = footerMenu|slice(0, exploder) %}
                            {% set lastUl = footerMenu|slice(exploder, footerMenu|length) %}

                            <ul>
                                {% for footerItem in firstUl %}
                                    <li>
                                        <a href="{{ path('main-menu', {'slug':footerItem.slug} ) }}">
                                            {{ footerItem.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 mb-lg-0 mb-4">
                        {% if lastUl is defined and lastUl != null %}
                            <ul>
                                {% for footerItem in lastUl %}
                                    <li>
                                        <a href="{{ path('main-menu', {'slug':footerItem.slug} ) }}">
                                            {{ footerItem.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        <ul>
                            {% if templateSettings.email and templateSettings.email|length %}
                                <li class="ourInfo">
                                    <a href="mailto:{{ templateSettings.email }}">{{ templateSettings.email }}</a>
                                </li>
                            {% endif %}
                            {% if templateSettings.phone and templateSettings.phone|length %}
                                <li class="number ourInfo">
                                    <a href="tel:{{ templateSettings.phone }}">{{ templateSettings.phone }}</a>
                                </li>
                            {% endif %}
                            {% if templateSettings.address and templateSettings.address|length %}
                                <li class="ourInfo">{{ templateSettings.address }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-12 mb-5 mb-lg-0">
                        <ul class="links">
                            {% if templateSettings.fb and templateSettings.fb|length > 9 %}
                                <li><a href="{{ templateSettings.fb }}" target="_blank"><i
                                                class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                            {% if templateSettings.tw and templateSettings.tw|length > 9 %}
                                <li>
                                    <a href="{{ templateSettings.tw }}" target="_blank"><i
                                                class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                            {% if templateSettings.instagram and templateSettings.instagram|length > 9 %}
                                <li>
                                    <a href="{{ templateSettings.instagram }}"
                                       target="_blank"><i
                                                class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                            {% if templateSettings.linkedin and templateSettings.linkedin|length > 9 %}
                                <li>
                                    <a href="{{ templateSettings.linkedin }}" target="_blank"><i
                                                class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                            {% if templateSettings.youtube and templateSettings.youtube|length > 9 %}
                                <li>
                                    <a href="{{ templateSettings.youtube }}" target="_blank"><i
                                                class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row justify-content-between align-items-end">
                    <div class="col-auto">
                        {{ 'page.footer_copyright'|trans }}
                    </div>
                    <div class="col-auto design">
                        <a href="https://merxforum.com" target="_blank" rel="noopener"> Design and Development by</a>
                        MerxForum <img src="{{ asset('bundles/easybuilder/img/logoColor.png') }}" alt="merxforum">
                    </div>
                </div>
            </div>
        </div>

    </footer>
{% endblock %}

{% block modals %}
{#    {{ include('@EasyBuilder/base_dir/client_form/client_form.html.twig') }}#}
{% endblock modals %}

{% block analytics %}
    {% if app.environment != 'dev' %}
        {{ templateSettings.analytics ? templateSettings.analytics|raw : '' }}
    {% endif %}
{% endblock analytics %}

</body>
</html>
