<section class="main_section">
    <div class="bgImage">
        {% if subMenu.image is not null %}
            <img src="{{ asset(subMenu.image.downloadLink)| imagine_filter('home_slider') }}" alt="{{ article.name }}">
        {% endif %}
    </div>

    <div class="single_image"
         style="background-image: url({{ subMenu.image is not null ? asset(subMenu.image.downloadLink)|imagine_filter('home_slider') : '' }})">
        <div class="single_text">
            <h3>{{ article.title }}</h3>
            <p>{{ article.shortdescription }}</p>
        </div>
    </div>
</section>