{% if articleGroups.article|length %}
    {% set article = articleGroups.article[0] %}
    <section class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-2 mb-5 mb-lg-0">
                    <h3>
                        {{ articleGroups.title }}
                    </h3>
                    <p>{{ article.shortDescription }}</p>
                    <a class="aboutMore"
                       href="{{ path('sub-menu', {'slug': article.subMenus.first.mainMenu.slug, 'subSlug': article.subMenus.first.slug}) }}">
                        {{ 'form.learn_more'|trans }}
                    </a>
                </div>
                <div class="col-lg-6 pr-lg-0">
                    <div class="aboutImg">
                        <img src="{{ asset(article.downloadLink) }}" alt="{{ article.name }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}