{% extends '@EasyBuilder/base.html.twig' %}

{% set sheredUri = app.request.server.get('REQUEST_SCHEME')~'://'~app.request.server.get('HTTP_HOST')~app.request.server.get('REQUEST_URI') %}

{% set currentItem = article %}
{% block seo_meta %}
    <meta content="{{ currentItem.getMetaDescription()|slice(0,150) }}" name="description"/>
    <meta content="{{ currentItem.metaTitle|slice(0,80) }}" name="title"/>
    <meta content="" name="keywords"/>
    <meta content="http://merxforum.com" name="author"/>
    <meta property="og:title" content="{{ currentItem.metaTitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{- sheredUri -}}"/>
    <meta property="og:image"
          content="{{ asset(currentItem.downloadLink? currentItem.downloadLink : 'bundles/easybuilder/img/logo.png') }}"/>
    <meta property="og:description"
          content="{{ currentItem.getMetaDescription()|slice(0,150) }}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="800"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{- twitter -}}"/>
    <meta name="twitter:creator" content="@{{- twitter -}}"/>
{% endblock %}
{% block title %}
    {{ currentItem.name }}
{% endblock %}
{% block header %}

    <header class="singleHeader">
        {{ include('@EasyBuilder/base_dir/article_header/article_header_v1.html.twig', {'article': article}) }}
    </header>
{% endblock %}

{% block body %}
    <div class="mainText">
        <div class="single">
            <p class="">{{ article.description|raw }}</p>
            <div class="articleGrid">
                {% for articleItem in subArticles %}
                    {% if articleItem.id != article.id %}
                        <div class="articleSingleGrid">
                            <a href="{{ path('single-article', {'slug':subMenu.mainMenu.slug, 'subSlug': subMenu.slug, 'slugArticle': articleItem.slug}) }}">
                                <div class="text">
                                    <p>{{ articleItem.name }}</p>
                                </div>
                                {% if articleItem.image %}
                                    <img src="{{ asset(articleItem.image.downloadLink)|imagine_filter('article_tamb') }}"
                                         alt="{{ articleItem.name }}">
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
