<div class="container" id="contact">
    <div class="row">

        <div class="col-lg-6 order-1 order-lg-0  contact_us">
            <div class="contactWrap">
                <h4>{{ 'form.contact_us'|trans | raw }}</h4>

                {% if templateSettings.email and templateSettings.email|length %}
                    <p class="ourInfo">
                        <a href="mailto:{{ templateSettings.email }}">{{ templateSettings.email }}</a>
                    </p>
                {% endif %}
                {% if templateSettings.phone and templateSettings.phone|length %}
                    <p class="number ourInfo">
                        <a href="tel:{{ templateSettings.phone }}">{{ templateSettings.phone }}</a>
                    </p>
                {% endif %}
                {% if templateSettings.address and templateSettings.address|length %}
                    <p class="ourInfo">{{ templateSettings.address }}</p>
                {% endif %}

                <div id="map"></div>

            </div>
        </div>
        <div class="col-lg-6 order-0 order-lg-1 pl-0 pr-0 pl-lg-3 pr-lg-3">
            <div class="formWrap">
                <div class="message">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                </div>
                <h4>{{ 'form.feedback'|trans |raw }}</h4>
                {{ include('@EasyBuilder/base_dir/contact_form/contact_v1.html.twig') }}
            </div>
        </div>
    </div>
    <img src="{{ asset('bundles/easybuilder/img/screapt/hand.png') }}" class="leftHand" alt="">
</div>