<div class="clientForm">
    {{ form_start(form_info, {'action': path('custom_form', {'className': formDiff})}) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.firstName) }}</div>
                {{ form_widget(form_info.firstName) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.lastName) }}</div>
                {{ form_widget(form_info.lastName) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.email) }}</div>
                {{ form_widget(form_info.email) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.phone) }}</div>
                {{ form_widget(form_info.phone) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.role) }}</div>
                {{ form_widget(form_info.role) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.motherTongue) }}</div>
                {{ form_widget(form_info.motherTongue) }}
            </div>

        </div>

        <hr>

        <div class="row" id="language-skills-fields-list"
             data-prototype="{{ form_widget(form_info.languageSkills.vars.prototype)|e }}"
             data-widget-tags="{{ '<div class="col-md-4 oneSkills"></div>'|e }}"
             data-widget-counter="{{ form_info.languageSkills|length }}">
                <div class="col-12 mt-4">
                    <div>{{ form_label(form_info.languageSkills) }}</div>
                </div>
                {% for languageSkill in form_info.languageSkills %}
                    <div class="col-md-4 ">
                            {{ form_errors(languageSkill) }}
                        <div class="mt-3">
                            <div>{{ form_label(languageSkill.language) }}</div>
                            {{ form_widget(languageSkill.language) }}
                            <div>{{ form_label(languageSkill.level) }}</div>
                            {{ form_widget(languageSkill.level) }}
                        </div>
                    </div>
                {% endfor %}
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <button type="button"
                        class="add-language-collection-widget"
                        data-list-selector="#language-skills-fields-list">{{ 'form.add_another'|trans }}
                </button>
            </div>
        </div>

        <hr>

        <div class="row" id="areas-of-expertise-fields-list"
             data-prototype="{{ form_widget(form_info.areasOfExpertises.vars.prototype)|e }}"
             data-widget-tags="{{ '<div class="col-md-4 mt-3 oneExpertise"></div>'|e }}"
             data-widget-counter="{{ form_info.areasOfExpertises|length }}">
                <div class="col-12 mt-4">
                    <div>{{ form_label(form_info.areasOfExpertises) }}</div>
                </div>
                {% for areasOfExpertises in form_info.areasOfExpertises %}
                    <div class="col-md-4 mt-3">
                            {{ form_errors(areasOfExpertises) }}
                        <div class="mt-3">
                            {{ form_widget(areasOfExpertises) }}
                        </div>
                    </div>
                {% endfor %}
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <button type="button"
                        class="add-areas-of-expertise-widget"
                        data-list-selector="#areas-of-expertise-fields-list">{{ 'form.add_another'|trans }}
                </button>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.catTools) }}</div>
                {{ form_widget(form_info.catTools) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.availability) }}</div>
                {{ form_widget(form_info.availability) }}
            </div>

            <div class="col-md-4 mt-3">
                <div>{{ form_label(form_info.weekendWork) }}</div>
                {{ form_widget(form_info.weekendWork) }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="uppyErrors"></div>
                <div class="uppyS">
                    <label for="">{{ 'form.upload_file'|trans }}</label>
                    <div class="DashboardContainer"></div>
                </div>
                <div class="ProgressBar"></div>
                <div class="uploaded-files">
                    <ol></ol>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mt-3">
                <div>{{ form_label(form_info.coverLetter) }}</div>
                {{ form_widget(form_info.coverLetter) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div>{{ form_label(form_info.save) }}</div>
                {{ form_widget(form_info.save) }}
            </div>
        </div>
        <select name="files[]" id="files" multiple="multiple" class="d-none">
            <option value="none" disabled hidden></option>
        </select>
    </div>

</div>