<div class="clientForm">
    {{ form_start(form_info, {'action': path('custom_form', {'className': formDiff})}) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt-3">
                {{ form_label(form_info.name) }}
                {{ form_widget(form_info.name) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.company) }}
                {{ form_widget(form_info.company) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.position) }}
                {{ form_widget(form_info.position) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.email) }}
                {{ form_widget(form_info.email) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.phone) }}
                {{ form_widget(form_info.phone) }}
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.sourceLanguage) }}
                {{ form_widget(form_info.sourceLanguage) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.targetLanguage) }}
                {{ form_widget(form_info.targetLanguage) }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4 mt-3">
                {{ form_label(form_info.service) }}
                {{ form_widget(form_info.service) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.deadline) }}
                {{ form_widget(form_info.deadline) }}
            </div>

            <div class="col-md-4 mt-3">
                {{ form_label(form_info.turnaroundTime) }}
                {{ form_widget(form_info.turnaroundTime) }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="uppyErrors"></div>
                <div class="uppyS">
                    <label for="">{{ 'form.upload_file'|trans }}</label>
                    <div class="DashboardContainer"></div>
                </div>
                <div class="ProgressBar"></div>
                <div class="uploaded-files">
                    <ol></ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-3">
                <div>{{ form_label(form_info.notes) }}</div>
                {{ form_widget(form_info.notes) }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                {{ form_label(form_info.save) }}
                {{ form_widget(form_info.save) }}
            </div>
        </div>

    </div>

    <select name="files[]" id="files" multiple="multiple" class="d-none">
        <option value="none" disabled hidden></option>
    </select>

    {{ form_end(form_info) }}
</div>