{% extends '@EasyBuilder/base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:image" content="{{ asset('bundles/easybuilder/img/screapt/logo.png') }}">
{% endblock %}

{% block preloader %}
{% endblock %}


{% block body %}

    {% if sections is defined %}
        {% for section in sections %}
            {% set rendered = render(controller(
                'App\\Controller\\TemplateController::sectionDefinition', {'sectionSlug': section.slug})) %}
            {% if rendered|json_decode == null %}
                {{ rendered|raw }}
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                {% set rendered = rendered|json_decode %}
                <p class="text-danger">{{ rendered.message }}</p>
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
