<section class="industries">
    <div class="container">
        <h3>{{ articleGroups.title }}</h3>
        <div class="row">
            {% if articleGroups.article|length %}
            {% for k, article in articleGroups.article %}
                <div class="{{ k == 2 ? 'col-lg-6' : 'col-lg-3' }}">
                    <a href="{{ path('sub-menu', {'slug': article.subMenus.first.mainMenu.slug, 'subSlug': article.subMenus.first.slug}) }}">
                        <div class="oneIndustry">
                            <img src="{{ asset(article.downloadLink) }}" alt="">
                            <p>{{ article.title }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endif %}

            <div class="col-12 text-center">
                <a class="moreIndustry" href="{{ path('main-menu', {'slug': articleGroups.slug}) }}">{{ 'form.learn_more'|trans }}</a>
            </div>
        </div>
    </div>
</section>