{% set parentUrl = app.request.pathInfo %}
<nav>
    <div class="navFlex">

        <div class="navigation">
            {{ include('@EasyBuilder/base_dir/navs/nav_v5.html.twig', {'menus':menus}) }}
        </div>

    </div>
    <div class="rightMenuMenu">
        <img src="{{ asset('bundles/easybuilder/img/group4.png') }}" alt="">
    </div>

    <div class="mobileNav">
        <ul>
            {% for key, menu in menus %}
                {% if '0' in menu.deep %}
                    <li class="position-relative">
                        <a class="{{ parentUrl == path('main-menu', {'slug':menu.slug}) ? 'active' : '' }}"
                           href="{{ path('main-menu', {'slug':menu.slug}) }}">{{ menu.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</nav>