{% extends '@EasyBuilder/base.html.twig' %}

{% set sheredUri = app.request.server.get('REQUEST_SCHEME')~'://'~app.request.server.get('HTTP_HOST')~app.request.server.get('REQUEST_URI') %}

{% set currentItem = menu %}
{% block seo_meta %}
    <meta content="{{ currentItem.getMetaDescription()|slice(0,150)}}" name="description"/>
    <meta content="{{ currentItem.metaTitle|slice(0,80)}}" name="title"/>
    <meta content="" name="keywords"/>
    <meta content="http://merxforum.com" name="author"/>
    <meta property="og:title" content="{{ currentItem.metaTitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{- sheredUri -}}"/>
    <meta property="og:image" content="{{ asset(currentItem.mainArticle ? currentItem.mainArticle.downloadLink : 'bundles/easybuilder/img/logo.png') }}"/>
    <meta property="og:description"
          content="{{ currentItem.getMetaDescription()|slice(0,150)}}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="800"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{- twitter -}}" />
    <meta name="twitter:creator" content="@{{- twitter -}}" />
{% endblock %}

{% block title %}
    {{ currentItem.name }}
{% endblock %}
{% block header %}
    {% if menu.gallery != null and menu.gallery.item | length %}

        <header class="homeTwoHeader">
            {% block slider %}
                <div class="swiper-container">

                    <div class="swiper-wrapper">
                        {% for item in menu.gallery.item %}
                            {{ include('@EasyBuilder/base_dir/sliders/slider_v1.html.twig', {'item':item, 'menu': menu}) }}
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>

                </div>
            {% endblock slider %}
            {{ include('@EasyBuilder/base_dir/header_social/header_social_v1.html.twig') }}
        </header>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="mainText">
        <h1 class="text-center sumTitle">{{ menu.title }}</h1>
        <p>{{ menu.mainArticle ? menu.mainArticle.description|raw : '' }}</p>
    </div>

    {% if menu.subMenus|length %}
        <section class="blue">
            <div class="container-fluid">
                <div id="scrollTop">
                    {% for key, sub in menu.subMenus %}
                        {{ include('@EasyBuilder/base_dir/main_menus/main_menu_v1_trans.html.twig', {'key':key, 'sub': sub}) }}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if menu.articles|length %}
        <main class="mainNews">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12 mb-4">
                        {% for item in menu.articles %}
                            {{ include('@EasyBuilder/base_dir/news/news_list_v1.html.twig', {'item':item}) }}
                        {% else %}
                            {{ 'form.news_not_found'|trans }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}
