{% extends '@EasyBuilder/base.html.twig' %}

{% block header %}
    <header class="singleHeader">
        {{ include('@EasyBuilder/base_dir/article_header/article_header_v1.html.twig', {'article':article, 'subMenu': article}) }}
    </header>
{% endblock header %}


{% block body %}
    <div class="container mt-5 mb5">
        <div class="row">
            <div class="col-12">
                <p>{{ article.description |raw }}</p>
            </div>
        </div>
    </div>
{% endblock body %}
