{% if articleGroups.article|length %}
    <section class="services">
        <img src="{{ asset('bundles/easybuilder/img/logo_screapt.png') }}" alt="">
        <div class="container">
            <h3>{{ articleGroups.title }}</h3>
            <div class="row justify-content-center">
                {% for k, article in articleGroups.article %}
                    <div class="col-lg-2 col-md-4 mb-md-5">
                        <a href="{{ path('sub-menu', {'slug': article.subMenus.first.mainMenu.slug, 'subSlug': article.subMenus.first.slug}) }}">

                            <div class="oneService">
                                <img src="{{ asset(article.downloadLink) }}" alt="">
                                <p>{{ article.title }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}