<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <url>
        <loc>
            {{- url('homepage') -}}
        </loc>
        <lastmod>{{- date('now')|date('c') -}}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
{% if menues is defined and menues|length %}
    {% for menu in menues  %}

        <url>
            <loc>
                {{- url('main-menu', {'slug':menu.slug}) -}}
            </loc>
            <lastmod>{{- menu.updated|date('c') -}}</lastmod>
            <changefreq>daily</changefreq>
            <priority>1.0</priority>
        </url>

        {% for sub in menu.subMenus %}

            <url>
                <loc>
                    {{- url('sub-menu', {'slug':menu.slug, 'subSlug':sub.slug}) -}}
                </loc>
                <lastmod>{{- sub.updated|date('c') -}}</lastmod>
                <changefreq>daily</changefreq>
                <priority>1.0</priority>
             </url>

            {% for article in sub.articles %}
                <url>
                    <loc>
                        {{- url('single-article', {'slug':menu.slug, 'subSlug':sub.slug, 'slugArticle':article.slug}) -}}
                    </loc>
                    <lastmod>{{- article.updated|date('c') -}}</lastmod>
                    <changefreq>daily</changefreq>
                    <priority>1.0</priority>
                </url>
            {% endfor %}
        {% endfor %}

    {% endfor %}
{% endif %}
</urlset>