{% if articleGroups.article|length %}
    <section class="solutions">
        <img src="{{ asset('bundles/easybuilder/img/logo_screapt-32.png') }}" alt="">
        <img src="{{ asset('bundles/easybuilder/img/logo_screapt_.png') }}" alt="">
        <div class="solutionsWrap">
            <div class="container-fluid">
                <h3>{{ articleGroups.title }}</h3>
                {% for k, article in articleGroups.article %}

                    {% if k % 2 ==0 %}
                        <div class="{{ k == 2 ? 'row solutionRow solutionRowLast' : 'row' }}">
                            <div class="col-lg-4 order-1 order-lg-0">
                                <a href="{{ path('sub-menu', {'slug': article.subMenus.first.mainMenu.slug, 'subSlug': article.subMenus.first.slug}) }}">
                                    <div class="oneSolution">
                                        <img src="{{ asset(article.downloadLink) }}" alt="{{ article.name }}">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-5 offset-lg-1 order-0 order-lg-1">
                                <div class="oneSolution">
                                    <h4>{{ article.title }}</h4>
                                    <p>{{ article.shortDescription }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row solutionRow">
                            <div class="col-lg-5 offset-lg-1">
                                <div class="oneSolution">
                                    <h4>{{ article.title }}</h4>
                                    <p>{{ article.shortDescription }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 order-0">
                                <a href="{{ path('sub-menu', {'slug': article.subMenus.first.mainMenu.slug, 'subSlug': article.subMenus.first.slug}) }}">
                                    <div class="oneSolution">
                                        <img src="{{ asset(article.downloadLink) }}" alt="{{ article.name }}">
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}