{% extends '@EasyBuilder/base.html.twig' %}

{% set sheredUri = app.request.server.get('REQUEST_SCHEME')~'://'~app.request.server.get('HTTP_HOST')~app.request.server.get('REQUEST_URI') %}

{% set currentItem = subMenus %}
{% block seo_meta %}
    <meta content="{{ currentItem.getMetaDescription()|slice(0,150) }}" name="description"/>
    <meta content="{{ currentItem.metaTitle|slice(0,80) }}" name="title"/>
    <meta content="" name="keywords"/>
    <meta content="http://merxforum.com" name="author"/>
    <meta property="og:title" content="{{ currentItem.metaTitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{- sheredUri -}}"/>
    <meta property="og:image"
          content="{{ asset(currentItem.mainArticle.downloadLink? currentItem.mainArticle.downloadLink : 'bundles/easybuilder/img/logo.png') }}"/>
    <meta property="og:description"
          content="{{ currentItem.getMetaDescription()|slice(0,150) }}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="800"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{- twitter -}}"/>
    <meta name="twitter:creator" content="@{{- twitter -}}"/>
{% endblock %}
{% block title %}
    {{ currentItem.name }}
{% endblock %}

{% block header %}

    <header class="singleHeader">
        {{ include('@EasyBuilder/base_dir/article_header/article_header_v1.html.twig', {'article': subMenus.mainArticle, 'subMenu': subMenus}) }}
        {{ include('@EasyBuilder/base_dir/header_social/header_social_v1.html.twig') }}
    </header>

{% endblock %}

{% block body %}

    <div class="mainText subMainText">
        <p>{{ subMenus.mainArticle.description|raw }}</p>
        <div class="articleGrid">
            {% for article in articles %}
                {{ include('@EasyBuilder/base_dir/sub_menus/sub_menu_v1_trans.html.twig', {'subMenus': subMenus}) }}
            {% endfor %}
        </div>
        {% if maxPages > 1 %}
            {{ include('@EasyBuilder/base_dir/pagination/pagination.html.twig', {'thisPage': thisPage, 'maxPages': maxPages, 'subMenus': subMenus }) }}
        {% endif %}
    </div>


{% endblock %}