{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{# {% block mainMenu %}#}

{# {% endblock %}#}
{% block header %}
{% block slider %}
{% endblock slider %}
{% endblock %}
{% block body %}
<div class="loginForm">
    <form method="post">


        {% if app.user %}
            <div class="loginPage">
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            </div>
        {% else %}
            <div class="loginPage">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="mt-3 mb-3">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required
                           autofocus>
                </div>
                <div class="mt-3 mb-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="submitButton">
                    <button class="" type="submit">
                        Sign in
                    </button>
                    <span>OR
            <a href="{{ path('app_register') }}">Register</a></span>
                </div>
            </div>
        {% endif %}






        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}


    </form>
</div>

{% endblock %}
