{% extends '@EasyBuilder/base.html.twig' %}

{% block title %}Register{% endblock %}


{% block header %}
{% endblock header %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
{#

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
#}




    <div class="loginForm">
            {{ form_start(registrationForm) }}

            {% if app.user %}
                <div class="loginPage">
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="loginPage">

                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                    <div class="mt-3 mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                    </div>
                    <div class="mt-3 mb-3">{{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}

                    </div>
                    <div class="mt-3 mb-3 regTerms">

                    </div>
                    <div class="submitButton">
                        {{ form_row(registrationForm.agreeTerms) }} <button type="submit" class="btn">Register</button></div>
                </div>
            {% endif %}
            {{ form_end(registrationForm) }}

    </div>








{% endblock %}
